<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Consol'Story - Histoire de la Septième Génération de consoles de jeux vidéos</title>
	<!--	Tags meta	-->
	<meta name="description"
		  content="La console de jeu est devenu un incontournable multimédia de la maison. Les puissances des consoles augmentent et les développeurs commencent à
		  		réaliser ce dont ils rêvaient hier">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--	Links	-->
	<link rel="stylesheet" href="SeventhGen.css">
	<link rel="shortcut icon" href="../../../static/logo/purple_logo.png" type="image/x-icon">
</head>

<body>
	<header>
		<h1>2005 - 2012 : Consoles Septième Génération</h1>
		<nav>
			<ul>
				<li><a href="../../main.html" title="Accueil">Retour vers l'accueil</a></li>
				<li><a href="../firstGen/firstGen.html" title="Première génération">Première génération</a></li>
				<li><a href="../secondGen/secondGen.html" title="Seconde génération">Seconde génération</a></li>
				<li><a href="../thirdGen/thirdGen.html" title="Troisième génération">Troisième génération</a></li>
				<li><a href="../fourthGen/fourthGen.html" title="Quatrième génération">Quatrième génération</a></li>
				<li><a href="../fifthGen/fifthGen.html" title="Cinquième génération">Cinquième Génération</a></li>
				<li><a href="../sixthGen/sixthGen.html" title="Sixième Génération">Sixième Génération</a></li>
				<li><a href="../eighthGen/eighthGen.html" title="Huitième génération">Huitième génération</a></li>
				<li><a href="../ninthGen/ninthGen.html" title="Neuvième génération">Neuvième génération</a></li>
			</ul>
			<ul>
				Consoles septième génération:
					<li><a href="#ps3" title="PlayStation 3">PlayStation 3</a> - Sony</li>
					<li><a href="#wii" title="Wii">Wii</a> - Nintendo</li>
					<li><a href="#360" title="Xbox 360">Xbox 360</a> - Microsoft</li>
					<li><a href="#zeebo" title="Zeebo">Zeebo</a> - Zeebo Inc.</li>
					<li><a href="#hpscan" title="HyperScan">HyperScan</a> - Mattel</li>
			</ul>
		</nav>
	</header>

	<main>
		<article>
			<section>
				<h2 id="ps3">PlayStation 3</h2>
				<ul>
					<li>Concepteur : Ken Kutaragi</li>
					<li>Fabricant : <a href="../../glossary/companies.html#sony" title="Sony Computer Entertainment">Sony Computer Entertainment</a></li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2006</li>
							<li>Etats-Unis - 2006</li>
							<li>Europe - 2007</li>
						</ul>
					</li>
					<li>Fin de production - 2017</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - 87.41 millions</li>
							<li>Japon - 10.40 millions</li>
							<li>Etats-Unis - 26.85 millions</li>
							<li>Europe - 34.30 millions</li>
							<li>France - 5.38 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=heLby1B8MK0" title="Grand Theft Auto 5">Grand Theft Auto V</a>
						(21.50 millions d'unités)
					</li>
					<li>PlayStation 3 - <a href="https://www.youtube.com/watch?v=vMQg7T3PLWE" title="PlayStation 3">Opium Testing</a></li>
					<li>PlayStation 3 - <a href="https://www.youtube.com/watch?v=iEWVkPDRogc" title="PlayStation 3">Conkerax</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/sony/ps3_original.jpg"><img src="../../../static/img/sony/ps3_original_mini.png" alt="PlayStation 3"
						title="PlayStation 3 originale"></a>
					<a href="../../../static/img/sony/ps3_slim.jpg"><img src="../../../static/img/sony/ps3_slim_mini.png" alt="PlayStation 3"
						title="PlayStation 3 slim"></a>
					<a href="../../../static/img/sony/ps3_ultraSlim.jpg"><img src="../../../static/img/sony/ps3_ultraSlim_mini.png" alt="PlayStation 3"
						title="PlayStation 3 ultra slim"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La PlayStation 3 succède à la PlayStation 2 avec un héritage des plus lourds, la PS2 ayant atomisé tous les records existants jusque là. La PS3,
					sortie au Japon le 11 novembre 2006 et le 23 mars 2007 en Europe, est en concurrence avec la Xbox 360 de Microsoft et la Wii de Nintendo. C'est la
					première console à utiliser le lecteur <a href="../../glossary/technicalTerms.html#bluray" title="Blu-ray">Blu-ray</a> comme support de stockage
					principal. Elle intègre des services de jeux sociaux, y compris le PlayStation Network, et grâce à sa connectivité à distance, est la première à être
					contrôlable à partir d'une PSP ou d'une PS Vita. Le PlayStation Network est un service de jeux multijoueur et de médias en ligne distribué par
					<em>Sony Interactive Entertainment</em> sur consoles PS4, PS3, PS Vita et PlayStation Portable lancé donnant accès au jeu en ligne, à la boutique de
					téléchargement <em>PlayStation Store</em> et à divers services de communication et de divertissement - internet, messagerie instantanée, VOD, monde
					virtuel, webzine -.
					<br> 
					La PS3 slim sort en septembre 2009, un peu trop slim d'ailleurs car elle n'a plus la capacité matérielle d'exécuter des jeux PS2. Elle est plus légère
					et plus fine que la version originale, et comporte un logo et un design marketing repensés. Une version Super Slim est à son tour commercialisée fin
					2012, affinant et redessinant la console en plus moche ! Mais ça ne nous regarde pas !
					<br> 
					Au cours de ses premières années, le système n'est pas très bien accueilli. Les raisons : son prix élevé, une architecture de processeur complexe pour
					le développement et le manque de jeux de qualité - Un jeu panpanpan t'es mort ou un jeu panpanpan t'es mort ! -, mais est saluée pour son Blu-ray et
					son potentiel pas encore exploité à l'époque - Ceci dit, on trouve cette récurrence dans l'ensemble des consoles où, normalement, les derniers jeux
					sortis poussent les capacités de la machine à fond puisque les développeurs ont le recul nécessaire à l'exploitation complète de la console... sauf
					les boîtes habituées à faire de la merde -. Le système ainsi connaît un démarrage lent sur le marché mais réussit à se redresser, notamment après
					l'introduction des modèles Slim.
				</p>
				<h3>Lancement...</h3>
				<p>
					La PlayStation 3 commence son développement en 2001 lorsque Ken Kutaragi, alors président de <em>Sony Computer Entertainment</em> - Filiale de Sony -,
					annonce que Sony, <a href="../../glossary/companies.html#toshiba" title="Toshiba">Toshiba</a> et
					<a href="../../glossary/companies.html#ibm" title="IBM">IBM</a> collaborent ensemble au développement du processeur Cell, avec un concept bien
					différent des processeurs traditionnels car il développe un coeur principal et huit coeurs spécifiques lui permettant d'être bien plus rapide. À
					l'époque, Shuhei Yoshida dirige un groupe de programmeurs au sein de cette équipe matérielle pour explorer la création de jeux de prochaine
					génération et débute en 2005 au développement de titres de lancement PS3.
					<br> 
					Sony dévoile officiellement sa console au public le 16 mai durant l'<a href="https://www.youtube.com/watch?v=FI_Y2TeJWvc" title="E3 2005">E3 2005</a>,
					ainsi qu'un prototype en forme de boomerang du contrôleur Sixaxis. Le prototype initial comporte deux ports
					<a href="../../glossary/technicalTerms.html#hdmi" title="HDMI">HDMI</a>, trois ports Ethernet et six ports
					<a href="../../glossary/technicalTerms.html#usb" title="USB">USB</a>. Cependant, lorsque le système est montré à nouveau à l'
					<a href="../../glossary/companies.html#e3" title="E3 2006">E3 2006</a>, beaucoup de connectiques ont disparu et réduits à un port HDMI, un port
					Ethernet et quatre ports USB, dans un unique soucis de réduction des coûts.
					<br> 
					Deux configurations matérielles sont également annoncées pour la console : un modèle de 20 Go - le modèle arnaque... - et un modèle de 60 Go - !?! Le
					modèle arnaque... -. Le modèle de 60 Go doit être la seule configuration à disposer d'un port HDMI, d'une connexion Internet Wi-Fi, de lecteurs de
					cartes flash et d'une garniture chromée avec le logo en argent mais Sony finira par changer de mauvais avis. D'ailleurs le lancement de la PlayStation
					3 en Europe sera retardé jusqu'en mars 2007, en raison d'une pénurie de matériaux utilisés dans le lecteur Blu-ray.
					<br>
					Sony annonce officiellement le modèle PS3 CECH-2000 soit la version slim le 18 août 2009, lors de la conférence de presse de
					<a href="https://www.youtube.com/watch?v=rCVr-ydspDI" title="Sony Gamescom">Sony Gamescom</a>. Les nouvelles fonctionnalités comprennent une forme
					plus mince, une consommation d'énergie réduite et un système de refroidissement plus silencieux. En même temps, un nouveau logo est introduit pour la
					console afin de remplacer la police similaire au film Spider-Man avec un nouveau mot-symbole <em>PS3</em> évoquant le design du mot-symbole
					PlayStation 2.
					<br>
					Lors du <a href="https://www.youtube.com/watch?v=o-Cwxc0p1ro" title="Tokyo Game Show">Tokyo Game Show</a> de septembre 2012, Sony annonce une nouvelle
					refonte de la PS3 - CECH-4000 - disponible avec un disque dur de 250 ou 500 Go - Haaa ! &#199;a pas arnaque (accent moscovite)... -. Le modèle 250 Go
					est fourni avec l'édition <em>Game of the Year</em> d'
					<a href="https://www.youtube.com/watch?v=_2D30tzDoQM" title="Uncharted 3">Uncharted 3 : Drake's Deception</a> et le modèle 500 Go est livré avec
					<a href="https://www.youtube.com/watch?v=nSVVagSwmzQ" title="Assassin's Creed 3">Assassin's Creed III</a>. Le modèle Super Slim est 20% plus petit et
					25% plus léger que le modèle Slim et dispose d'un couvercle de disque coulissant manuel au lieu d'un couvercle de disque à chargement par fente
					motorisé du Slim. Il existe aussi des modèles collector de couleur blanche sortis aux États-Unis, de couleur rouge grenat et bleu azurite au Japon. La
					version rouge grenat sort dans le cadre du pack <a href="https://www.youtube.com/watch?v=HxXPHfEW9nE" title="God of War">God of War : Ascension</a>
					avec 500 Go de stockage et contient la saga "God of War".
				</p>
				<h3>Et les ventes, ça roule ?..</h3>
				<p>
					PlayStation 3 est lancée aux Etats-Unis avec 14 titres. Après la première semaine de ventes,
					<a href="https://www.youtube.com/watch?v=mE8uBvyvv5M" title="Resistance">Resistance : Fall of Man </a> d'
					<a href="../../glossary/companies.html#insomniac" title="Insomniac Games">Insomniac Games</a> est le jeu de lancement le plus vendu, particulièrement
					salué par de nombreux sites Web de jeux vidéo, y compris GameSpot et IGN, qui lui ont tous deux décerné leur prix du jeu de l'année 2006. Certains
					titres manqueront la fenêtre de lancement et seront retardés jusqu'au début de 2007, comme
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=0wnXilReG0c&list=PLXUtKfBdY-4y3yrNhVc6ugB1wFMnDF2m1"
						   title="The Elder Scrolls 4">The Elder Scrolls IV : Oblivion</a></li>
					<li><a href="https://www.youtube.com/watch?v=wXJrnY-L3d8" title="Fear">F.E.A.R.</a></li>
					<li><a href="https://www.youtube.com/watch?v=wL0TSwXfx0M" title="Sonic the Hedgehog">Sonic the Hedgehog</a></li>
				</ul>
				<p>
					Lors du lancement japonais, <a href="https://www.youtube.com/watch?v=pQaVbQSghsM" title="Ridge Racer 7">Ridge Racer 7</a> est le jeu le plus vendu,
					ainsi que <a href="https://www.youtube.com/watch?v=RyoSMgle7y0" title="Mobile Suit Gundam">Mobile Suit Gundam : Crossfire</a>, qui sont toutes deux
					des offres de <em>Namco Bandai Games</em>.
					<br> 
					PlayStation 3 est lancée en Europe avec 24 titres, y compris ceux qui n'étaient pas proposés dans les lancements nord-américains et japonais, tels que
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=-UX9wC_MOUc" title="Formula One Championship Edition">Formula One Championship Edition</a></li>
					<li><a href="https://www.youtube.com/watch?v=a9dl_H4ONWk" title="MotorStorm">MotorStorm</a></li>
					<li><a href="https://www.youtube.com/watch?v=IvVPtKmZ9jc" title="Virtua Fighter 5">Virtua Fighter 5</a></li>
					<li>Résistance: Fall of Man et MotorStorm sont les titres les plus vendus de 2007</li>
					Les meilleures ventes de jeux PS3 sont
					<li>Grand Theft Auto V</li>
					<li><a href="https://www.youtube.com/watch?v=QC53OaFJKDc" title="Gran Turismo 5">Gran Turismo 5</a></li>
					<li><a href="https://www.youtube.com/watch?v=xaV5FbpEiKM" title="The Last of Us">The Last of Us</a></li>
					<li>Uncharted 3: Drake's Deception</li>
					<li><a href="https://www.youtube.com/watch?v=0EhpxpPeTKE" title="Uncharted 2">Uncharted 2 : Among Thieves</a></li>
					<li>Le dernier jeu sorti sur PlayStation 3 est <a href="https://www.youtube.com/watch?v=YZjY__22ees" title="FIFA 19">FIFA 19</a>
						le 28 septembre 2018</li>
				</ul>
				<h3>Bon ! Tout va alors... Mais Internet ?..</h3>
				<p>
					PlayStation Network est le service de jeux multijoueurs en ligne et de livraison de médias numériques fourni par <em>Sony Computer Entertainment</em>
					pour PlayStation 3 et PlayStation Portable. Le service est toujours connecté en cette année 2021, gratuit et inclut une prise en charge multijoueur.
					Le réseau permet les jeux en ligne, le PlayStation Store, le PlayStation Home - qui n'est plus en service - et autres.
					<br> 
					Le PlayStation Network utilise de la monnaie réelle et vend des cartes PSN comme on le voit sur PlayStation Store et PlayStation Home. PlayStation
					Plus est un service d'abonnement PlayStation Network Premium qui est dévoilé à l'E3 2010 par Jack Tretton, président et chef de la direction de SCEA.
					Lancé le 29 juin, le service d'abonnement payant offre aux utilisateurs des services améliorés sur le PlayStation Network, en plus du service PSN
					actuel toujours disponible avec toutes ses fonctionnalités. Ces améliorations incluent la possibilité de télécharger automatiquement des démos et des
					mises à jour de jeux. Les abonnés bénéficient également d'un accès anticipé ou exclusif à certains bêtas, démos de jeux, contenus téléchargeables
					premium et autres éléments du PlayStation Store.
					<br> 
					C'est un marché virtuel en ligne accessible aux utilisateurs via le PlayStation Network. La boutique propose une gamme de contenu téléchargeable à
					l'achat et disponible gratuitement. plus de 600 millions de téléchargements seront effectués sur ce virtual Store dans le monde en trois ans depuis
					sa date de lancement.
				</p>
				<h3>Qu'est-ce qu'on raconte sur la PS3 ?..</h3>
				<p>
					La PS3 obtient la huitième place sur la liste du magazine PC World de <em>The Top 21 Tech Screwups of 2006</em> - top 21 des fiasco 2006 -, où elle
					est critiquée pour être en retard, coûteuse et incompatible.
					<br> 
					GamesRadar classe la PS3 première sur les catastrophes de relations publiques liées au jeu, demandant comment Sony réussit à
					<cite>
						&#10077;prendre l'un des systèmes de jeu les plus attendus de tous les temps et - en l'espace d'un an - le transformer en un objet haineux
						vilipendé par l'ensemble de l'internet. En dépit de ses problèmes, le système a un potentiel inexploité&#10080;
					</cite>.
					<br> 
					Business Week résume l'opinion générale en déclarant qu'elle est
					<cite>
						&#10077;plus impressionnée par ce que la PlayStation 3 pourrait faire que par ce qu'elle fait actuellement&#10080;
					</cite>.
					<br> 
					Les développeurs trouvent également la machine difficile à programmer. Gabe Newell de la société
					<a href="../../glossary/companies.html#valve" title="Valve">Valve</a> déclare en 2007
					<cite>
						&#10077;La PS3 est un désastre total à tant de niveaux, je pense qu'il est vraiment clair que Sony a perdu de vue ce que les clients et les
						développeurs veulent. Ils devraient simplement l'annuler et recommencer. Dites simplement: «C'est un désastre horrible et nous sommes désolés.
						Nous allons arrêter de vendre cela et cesser d'essayer de convaincre les gens de développer sur cette machine»&#10080;
					</cite>.
					Doug Lombardi, vice-président du marketing pour Valve, a depuis déclaré que Valve reste intéressé pour développer sur la console et cherchera à
					embaucher des programmeurs PS3 talentueux pour de futurs projets.
					<br> 
					Le PDG d'<a href="../../glossary/companies.html#activision" title="Activision Blizzard">Activision Blizzard</a>, Bobby Kotick, critique les coûts de
					développement élevés de la PS3 comparativement à la Xbox 360 et à la Wii. Ces facteurs poussent les développeurs à ne pas travailler sur la console.
					Dans une interview accordée au Times, Kotick déclare
					<cite>
						&#10077;Je m'inquiète pour Sony ! la PlayStation 3 perd un peu d'élan et ils ne me facilitent pas la prise en charge de la plateforme. C'est
						coûteux de développer pour cette console, d'autant plus que la Wii et la Xbox se vendent mieux. Les jeux génèrent un meilleur retour sur le
						capital investi sur la Xbox que sur la PlayStation&#10080;
					</cite>.
					Kotick affirme également qu'Activision Blizzard pourrait cesser de prendre en charge le système si la situation ne se résolve pas.
					<cite>
						&#10077;Sony doit baisser le prix de détail de la PS3, car s'ils ne le font pas, les ventes risquent de ralentir. Si nous sommes réalistes, nous
						devrions peut-être arrêter de soutenir Sony&#10080;
					</cite>.
					Finalement, Kotick se fera lynché pour ses déclarations, notamment de la part du développeur
					<a href="../../glossary/companies.html#bioware" title="BioWare">BioWare</a>, qui qualifie sa déclaration de stupide.
					<br> 
					Malgré cette presse négative, plusieurs sites Web donnent au système de très bonnes critiques, principalement en ce qui concerne son matériel. CNET
					fait l'éloge du système en déclarant que
					<cite>
						&#10077;la PS3 est une pièce polyvalente et impressionnante d'équipement de divertissement à domicile à la hauteur du battage médiatique, la PS3
						vaut bien son prix&#10080;
					</cite>.
					CNET la récompense d'un score de 8,8 sur 10 et la considère comme son gadget numéro un incontournable, louant ses capacités graphiques robustes et son
					design extérieur élégant tout en critiquant sa sélection limitée de jeux disponibles.
					<br> 
					<em>Home Theater Magazine</em> et Ultimate AV donnent des critiques très favorables à la lecture Blu-ray du système, indiquant que la qualité de la
					lecture dépasse celle de nombreux lecteurs Blu-ray Disc autonomes classiques. Kazuo Hirai, président de <em>Sony Computer Entertainment</em>, plaide
					pour le choix d'une architecture complexe
					<cite>
						&#10077;A mesure que la PlayStation 3 mûrit et que les développeurs commencent vraiment à la pousser, nous verrons la PlayStation 3 devenir la
						console de choix pour les jeux&#10080;
					</cite>.
					<br>
					Au <a href="../../glossary/companies.html#gdc"></a> Game Developers Conference 2007, Dave Perry, fondateur de
					<a href="../../glossary/companies.html#shiny" title="Shiny Entertainment">Shiny Entertainment</a> pense que Sony a fabriqué la meilleure machine.
					<br>
					Moins de 24 heures après son lancement, la PS3 Slim a pris la place de best-seller numéro un sur Amazon pendant quinze jours consécutifs. La PS3 Slim
					reçoit également les éloges de PC World, louant son nouveau conditionnement et la nouvelle valeur qu'elle apporte à un prix inférieur, ainsi que la
					réduction de son bruit et de sa consommation d'énergie. Cela contraste fortement avec le lancement original de la PS3, dans lequel elle obtenait la
					position de numéro huit sur leur liste des <em>21 plus gros fours de la technologie 2006</em>.
					<br>
					Le modèle Super Slim de PS3 reçoit aussi des critiques positives. Le site Web de jeu Spong fait l'éloge du silence du nouveau Super Slim, déclarant
					que
					<cite>
						&#10077;le bruit le plus perceptible survient lorsque le lecteur cherche une nouvelle zone du disque, par exemple lors du démarrage du chargement
						d'un jeu, et cela se produit rarement&#10080;
					</cite>.
					La critique s'est située sur le nouveau chargeur de disque
					<cite>
						&#10077;Le couvercle peut être déplacé à la main si vous le souhaitez, il y a aussi un bouton d'éjection pour faire le travail pour vous, mais
						vous devez fermer le couvercle à la main, ce qui peut être un peu compliqué s'il est en position verticale, et la PS3 ne commencera pas à lire un
						disque à moins que vous ne fermiez ce fameux couvercle&#10080;
					</cite>.
					Pour CNET
					<cite>
						&#10077;La Super Slim PlayStation 3, une puissante machine de jeu dans un boîtier encore plus petit tout en conservant les mêmes caractéristiques
						que ses prédécesseurs : une excellente bibliothèque de jeux et une gamme complète de services de streaming&#10080;
					</cite>
					mais en critique la conception et le chargeur de disques bon marché. Personnellement, la meilleure critique vient de Pocket-Lint
					<cite>;
						&#10077;une bonne console qui vous servira pendant les années à venir avec des jeux d'occasion&#100
					</cite>.
					Tout est dit !
				</p>
			</section>

			<section>
				<h2 id="wii">Wii</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#nintendo" title="Nintendo">Nintendo</a></li>
					<li>Fabricant : Nintendo</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2006</li>
							<li>Etats-Unis - 2006</li>
							<li>Europe - 2006</li>
						</ul>
					</li>
					<li>Fin de production - 2013</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - 101.63 millions</li>
							<li>Japon - 12.75 millions</li>
							<li>Etats-Unis - 48.64 millions</li>
							<li>Europe - 40.24 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - 920.66 millions</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=DZ24U4jl1Hg" title="Mario Kart Wii">Mario Kart Wii</a> (37.24 millions)</li>
					<li>Wii - <a href="https://www.youtube.com/watch?v=H8Ivtd1qu50" title="Wii">Bakovian</a></li>
					<li>Wii - <a href="https://www.youtube.com/watch?v=K1Yt0EFnLdM" title="Wii">Thibtendo</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/nintendo/wii.jpg"><img src="../../../static/img/nintendo/wii_mini.png" alt="Wii de Nintendo"
						title="La Wii de Nintendo veut faire jouer tout le monde"></a>
					<a href="../../../static/img/nintendo/wiiMini.jpg"><img src="../../../static/img/nintendo/wiiMini_mini.png" alt="Wii mini de Nintendo"
						title="Wii mini, seconde version de la Wii"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La Wii est la première console qui va cibler une population plus large ouvrant en cela ce loisir à tout le monde. La Wii domine la PlayStation 3 et
					la Xbox 360 sur les ventes mondiales, avec plus de 101 millions d'unités vendues. Elle est constituée d'une télécommande qui utilise un accéléromètre
					capable de détecter la position, l'orientation et les mouvements dans l'espace de la manette. Elle prend également en charge le service WiiConnect,
					désormais abandonné, qui permet à la Wii de recevoir des messages et des mises à jour sur Internet en mode veille. Comme d’autres consoles de septième
					génération, la Wii possède le service <em>Virtual Console</em> qui télécharge des jeux émulés à partir des anciens systèmes Nintendo, la prise en
					charge du streaming vidéo en ligne tels que BBC iPlayer et d'autres services fournis par Nintendo sur Internet. Depuis le 28 juin 2013, les services
					Internet sont progressivement interrompus et depuis le 31 janvier 2019, seuls le re-téléchargement de jeux, la mise à jour du logiciel système et le
					transfert de données entre Wii et Wii U sont toujours disponibles. La Wii succède à la GameCube et les premiers modèles sont entièrement
					rétrocompatibles avec tous les jeux GameCube et la plupart des accessoires.
				</p>
				<h3>Lancement...</h3>
				<p>
					La console est conçue en 2001, lors de la première sortie du Nintendo GameCube. Selon Shigeru Miyamoto, concepteur de jeux Nintendo, le concept
					implique de se concentrer sur une nouvelle forme d'interaction avec les joueurs
					<cite>
						&#10077;Le consensus est que le pouvoir n'est pas tout pour une console. Trop de consoles puissantes ne peuvent pas coexister. C'est comme n'avoir
						que des dinosaures féroces. Ils peuvent se battre et accélérer leur propre extinction&#10080;
					</cite>.
					<br> 
					Les ingénieurs de jeu et les concepteurs se réunissent pour développer davantage ce concept. Pour Miyamoto,
					<cite>
						&#10077;la société a des problèmes à résoudre. Nous avons donc décidé de ne pas révéler la manette et au lieu de cela, nous ne montrons que la
						console&#10080;
					</cite>.
					Le président de Nintendo, Satoru Iwata, dévoile ensuite la télécommande Wii au <em>Tokyo Game Show</em> de septembre. La Nintendo DS aurait influencé
					le design de la Wii. Le designer Kenichiro Ashida note que
					<cite>
						&#10077;Nous avions la DS en tête alors que nous travaillions sur la Wii. Nous avons pensé à copier l'interface tactile de la DS et nous avons
						même roposé un prototype&#10080;
					</cite>.
					L'idée est finalement rejetée avec raison car les deux systèmes de jeu sont identiques. Miyamoto
					<cite>
						&#10077;Si la DS avait échoué, nous aurions pu ramener la Wii sur la planche à dessin&#10080;
					</cite>.
					<br>
					Nintendo cherche à cibler une population plus large avec sa console. Satoru Iwata
					<cite>
						&#10077;Nous ne pensons pas à combattre Sony, mais au nombre de personnes que nous pouvons obtenir pour jouer à des jeux. Les choses auxquelles
						nous pensons le plus ne sont pas les systèmes portables, les consoles, etc., Non ! Nous voulons de nouvelles personnes pour jouer à des
						jeux&#10080;
					</cite>.
					<br> 
					La première stratégie de publicité à grande échelle de Nintendo est un clip vidéo de deux minutes montrant des personnes appréciant le système Wii :
					les habitants des appartements urbains, les éleveurs, les grands-parents et les parents avec leurs enfants.
				</p>
				<h3>Bon alors ? Qu'est-ce qu'on fait avec la Wii ?..</h3>
				<p>
					Nintendo reçoit un fort soutien de sociétés telles que
				</p>
				<ul>
					<li><a href="../../glossary/companies.html#ubisoft" title="Ubisoft">Ubisoft</a></li>
					<li><a href="../../glossary/companies.html#sega" title="Sega">Sega</a></li>
					<li><a href="../../glossary/companies.html#square" title="Square Enix">Square Enix</a></li>
					<li><a href="../../glossary/companies.html#activision" title="Activision Blizzard">Activision Blizzard</a></li>
					<li><a href="../../glossary/companies.html#ea" title="Electronic Arts">Electronic Arts</a></li>
					<li>et <a href="../../glossary/companies.html#capcom" title="Capcom">Capcom</a></li>
				</ul>
				<p>
					avec plus de jeux en cours de développement pour la Wii que pour la PlayStation 3 ou la Xbox 360. Nintendo lance également une sélection de jeux
					GameCube améliorés pour la Wii avec des commandes mises à jour. Le service de console virtuelle permet aux propriétaires de Wii de jouer à des jeux
					initialement publiés pour la NES, la Super NES, la Nintendo 64, la Sega Mega Drive et la Master System, la PC Engine, La Neo Geo, la Commodore 64 et
					les jeux d'arcade - On attend toujours chez Sony ! -.
					<br> 
					Les jeux dématérialisés sont distribués sur Internet via l'ancienne chaîne boutique Wii et sont enregistrés dans la mémoire flash interne ou sur une
					carte SD. Une fois téléchargés, les jeux sont accessibles via le menu Wii ou la carte SD.
					<br> 
					Les jeux doivent être adoubés par Nintendo pour être vendus, c'est une vieille rengaine qui perdure mais les chiffres parlent d'eux-mêmes : 920,66
					millions de jeux Wii sont vendus dans le monde au 31 décembre 2018 et 104 titres dépassent la barre du million d'unités en mars 2011. Le jeu le plus
					populaire est <a href="https://www.youtube.com/watch?v=vp9l7J6w9iE" title="Wii Sports">Wii Sports</a> - mais comme fourni d'office avec la console, je
					ne le retiens pas dans le sommaire - avec 82,86 millions d'exemplaires vendus dans le monde, surpassant Super Mario Bros. en tant que jeu vidéo le
					plus vendu de tous les temps. Cependant, en mai 2019, <a href="https://www.youtube.com/watch?v=srd17aD7P3Y" title="Minecraft">Minecraft</a> le détrône
					et devient le jeu vidéo le plus vendu de tous les temps encore aujourd'hui en 2021, avec 201 millions d'exemplaires écoulés.
					<a href="https://www.youtube.com/watch?v=sOcyOdeBe-g" title="Just Dance 2020">Just Dance 2020</a> d'Ubisoft est le dernier jeu à être sorti, soit 13
					ans après le lancement initial de la console.
				</p>
				<h3>Elle est bizarre la manette !..</h3>
				<p>
					Bon ! Parler d'une manette n'a rien de bien excitant - quoique déblatérer sur l'excellente sensibilité de la dualshock de la PS4 ou de la toute
					nouvelle Dual Sense de la PS5... - mais la télécommande Wii est vraiment à part. Elle utilise une combinaison d'accéléromètres intégrés et de
					détection infrarouge pour détecter sa position dans l'espace 3D lorsqu'elle est dirigée vers les LED de la barre de détection. Cette conception
					permet aux utilisateurs de contrôler le jeu avec des gestes physiques ainsi que des pressions sur les boutons.
					<br> 
					Le contrôleur se connecte à la console à l'aide du Bluetooth avec une portée d'environ 9 mètres et dispose d'un vibreur et d'un haut-parleur interne.
					Une dragonne amovible peut être utilisée pour empêcher le joueur de
					<a href="https://www.youtube.com/watch?v=D_uXEWKdsTY" title="Wii Remote">faire tomber ou jeter involontairement la télécommande</a>. Nintendo a depuis
					adapté une sangle plus solide pour offrir une adhérence et une protection supplémentaires.
					<br> 
					Les accessoires sont connectables à une télécommande Wii via un port, comme le Nunchuk - une unité portable avec un accéléromètre -, un stick
					analogique et deux boutons de déclenchement. La Wii MotionPlus ajoute plus de capteurs à la télécommande pour permettre une détection plus fine des
					mouvements. La fonctionnalité MotionPlus est intégrée dans une mise à jour du contrôleur pour devenir la Wii Remote Plus. Nintendo présente également
					un accessoire <em>Vitality Sensor</em> en 2009 qui peut être utilisé pour mesurer le pouls d'un joueur mais abandonné en 2013. La manette classique
					existe et est une autre extension de la télécommande Wii. Les joueurs l'utilisent avec des jeux plus anciens à partir de la console virtuelle en plus
					des jeux conçus pour la Wii.
				</p>
				<h3>La Wii, la fin !..</h3>
				<p>
					Les ventes de la Wii chutent en 2012 et les éditeurs tiers désertent alors la console. Nintendo va se consacrer désormais à la Wii U et à sa console
					portable, la Nintendo 3DS. La fin de la production de la Wii est annoncée le 21 octobre 2013. La Connexion Wi-Fi Nintendo, qui permet de jouer en
					ligne à	un grand nombre	de jeux, est désactivée le 20 mai 2014. Cela fait suite à la fermeture de la société qui gérait les serveurs en externe pour
					Nintendo et les éditeurs partenaires de ce contrat. Nintendo, ayant déjà les serveurs des jeux Wii U à entretenir, préfère alors ne pas réinvestir
					dans de nouveaux serveurs.
					<br> 
					Il fut toutefois possible de jouer en ligne à des jeux nécessitant autrefois la Connexion Wi-Fi Nintendo, en passant par des serveurs privés
					jusqu'en 2016. C'est le cas pour des jeux ayant rencontré un grand succès en ligne, comme "Mario Kart Wii". La chaîne boutique Wii, qui permet de
					télécharger des logiciels WiiWare et des consoles virtuelles, est partiellement fermée par Nintendo le 31 janvier 2019 après la désactivation du
					système d'achat de Wii Points le 26 mars 2018. Actuellement, il n'est donc plus possible d'acheter des jeux, logiciels ou chaînes - gratuits ou
					payants -, mais il est possible de télécharger à nouveau les logiciels déjà achetés jusqu'à la fermeture complète au plus tard en 2019, arrêtant le
					dernier service en ligne actif.
					<br> 
					L'énorme succès de la console est encore palpable 13 ans après sa sortie, puisque certains éditeurs continuent de sortir des nouveautés, malgré une
					certaine indifférence médiatique. Ubisoft édite toujours en 2020 sa saga "Just Dance", alors que la Wii U n'a aucune nouveauté dans son catalogue
					depuis 2017 et que l'éditeur japonais est déjà passé à la suite avec sa nouvelle machine : la Nintendo Switch.
					<br>
					Nintendo annonce une Wii Mini le 27 novembre 2012. Celle-ci dispose d'un nouveau design rouge et noir, dépourvue de rétrocompatibilité GameCube, de
					port cartes SD, de Wi-Fi et de fonctionnalités internet et ne relance pas le marché de la Wii - ben oui, ça sent toujours un peu l'arnaque ces
					versions mini ou slim, c'est le nouveau design gnagna ! Et au final, la moitié des fonctionnalités existantes sur les premières versions
					disparaissent. -
				</p>
			</section>

			<section>
				<h2 id="360">X-Box 360</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#ms" title="Microsoft">Microsoft</a> en coopération avec
						<a href="../../glossary/companies.html#ibm" title="IBM">IBM</a>,
						<a href="../../glossary/companies.html#atitech" title="ATI Technologies">ATI Technologies</a>,
						<a href="../../glossary/companies.html#samsung" title="Samsung">Samsung</a> et Silicon Integrated Systems - Fabricant taïwanais de chipsets de
						carte mère
					</li>
					<li>Fabricant : Microsoft</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2005</li>
							<li>Etats-Unis - 2005</li>
							<li>Europe - 2005</li>
						</ul>
					</li>
					<li>Fin de production - 2016</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - 85.80 millions</li>
							<li>Japon - 1.66 millions</li>
							<li>Etats-Unis - 44.95 millions</li>
							<li>Europe - 25.8 millions</li>
							<li>France - 3.57 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=nee86i_vInE" title="Kinect Adventures">Kinect Adventures</a>
						(22.03 millions) et Minecraft (20 millions)
					</li>
					<li>Xbox 360 - <a href="https://www.youtube.com/watch?v=G76BBEMQb1s" title="Xbox 360">JeuxVideo.com</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/microsoft/360-origine.jpg"><img src="../../../static/img/microsoft/360-origine_mini.png" alt="Xbox 360"
						title="La première version Xbox 360 se transformant en un ensemble multimédia"></a>
					<a href="../../../static/img/microsoft/360S.jpg"><img src="../../../static/img/microsoft/360S_mini.png" alt="Xbox 360S"
						title="La seconde version: la Xbox 360S"></a>
					<a href="../../../static/img/microsoft/360E.jpg"><img src="../../../static/img/microsoft/360E_mini.png" alt="Xbox 360E"
						title="La version mini Xbox 360 E pour terminer"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La Xbox 360 est une console en concurrence avec la PlayStation 3 de Sony et la Wii de Nintendo et officiellement dévoilée le 12 mai 2005. La Xbox 360
					propose son service en ligne Xbox Live. Disponible en version gratuite et sur abonnement, Xbox Live permet aux utilisateurs de jouer à des jeux en
					ligne, télécharger des jeux via Xbox Live Arcade et des démos de jeux, acheter et diffuser de la musique, des programmes télévisés et des films via
					les portails Xbox Music et Xbox Video. Plusieurs périphériques sont lancés, notamment des contrôleurs sans fil, un stockage de disque dur étendu et la
					caméra de détection de mouvement Kinect. La sortie de ces services et périphériques supplémentaires permettent à la marque Xbox de passer de la simple
					console de jeu à un ensemble multimédia, la transformant en véritable hub. Microsoft sort deux modèles repensés de la console : la Xbox 360S en 2010
					et la Xbox 360E en 2013. Microsoft met fin à la production de la Xbox 360 le 20 avril 2016, bien que la société continue de prendre en charge la
					plateforme.
				</p>
				<h3>Lancement...</h3>
				<p>
					La planification de la plateforme logicielle Xenon commence en février 2003 et est dirigée par le vice-président de Microsoft, J Allard. Microsoft
					organise un événement pour recruter 400 développeurs à Bellevue, dans l'État de Washington, afin d'établir un support pour le système. Peter Moore,
					ancien président de Sega of America, rejoint pour l'occasion Microsoft.
					<br> 
					Le 12 août, ATI signe pour produire l'unité de traitement graphique de la nouvelle console. Les cœurs du processeur Xenon sont développés en utilisant
					une version légèrement modifiée du processeur de cellule PPE de l'architecture PlayStation 3. Sony et
					<a href="../../glossary/companies.html#toshiba" title="Toshiba">Toshiba</a> étant partenaires avec
					<a href="../../glossary/companies.html#ibm" title="IBM">IBM</a> sur divers contrats, Les employés d'IBM préfèrent 'cacher' leur travail sur le
					développement du processeur de cellule. Jeff Minter crée le programme de visualisation de musique Neon qui est inclus avec la Xbox 360.
				</p>
				<h3>Alors ? Qu'est-ce qu'on raconte sur la 360 ?..</h3>
				<p>
					L'IGN nomme la Xbox 360 sixième plus grande console de jeux vidéo de tous les temps - IGN - <em>Imagine Games Network</em> - est un groupe multimédia
					créé par Jonathan Simpson-Bint en 1996, pionnier du jeu vidéo. Il est le site de jeux vidéo le plus visité au monde. Présent dans 95 pays, le groupe
					multimédia revendique plus de 56 millions de visiteurs mensuels uniques -. Bien qu'elle ne soit pas la console la plus vendue de cette septième
					génération, la Xbox 360 est considérée par TechRadar comme la plus influente, en mettant l'accent sur la distribution de médias numériques et les jeux
					en ligne via Xbox Live, et en popularisant les récompenses de réussite de jeu - Je n'ai jamais compris la débilité de ce truc ! Si au moins il te
					filait de la tune ! -.	PC Magazine considère la Xbox 360 comme	le prototype des jeux en ligne car elle
					<cite>
						&#10077;prouve que les communautés de jeux en ligne peuvent prospérer dans l'espace console&#10080;
					</cite>.
					<br> 
					Cinq ans après les débuts originaux de la Xbox 360, la caméra de capture de mouvement Kinect est lancée, ce qui établit un record de longévité d'un
					appareil électronique grand public en prolongeant la durée de vie de la console. Le magazine Edge classe la Xbox 360 comme la deuxième meilleure
					console de la période 1993–2013
					<cite>
						&#10077;Elle a son propre réseau social, une discussion croisée, de nouveaux jeux indépendants chaque semaine et la meilleure version de presque
						tous les jeux multiformats ... Killzone n'est pas Halo et de nos jours, Gran Turismo n'est pas Forza, mais il ne s'agit pas des exclusivités - il
						n'y a rien après la sortie PS3 de Naughty Dog. Il s'agit plutôt des choix que Microsoft a faits au cours de la vie de la Xbox d'origine.
						L'architecture de type PC signifie que les premiers jeux EA Sports fonctionnaient à 60 images par seconde contre seulement 30 sur PS3, Xbox Live
						signifie que chaque joueur dédié a une liste d'amis existante, et Halo signifie que Microsoft a l'exclusivité nouvelle génération. Et lorsque
						les développeurs font la démonstration de jeux sur PC, ils le font maintenant également avec un pad 360&#10080;
					</cite>.
					<br>
					La Xbox 360 se vend mieux que son prédécesseur, et c'est un succès car elle renforce Microsoft en tant que force majeure sur le marché des consoles au
					détriment de rivaux bien établis. La Nintendo Wii bon marché vend le plus grand nombre d'unités de console, mais voit un effondrement du support
					logiciel tiers au cours des dernières années, et il est considéré par certains comme une mode surtout depuis que la Wii U connut un début médiocre
					en 2012. La PlayStation 3 lutte pendant un certain temps en raison de son coût trop élevé et de son manque de jeux de qualité au départ, la rendant
					beaucoup moins dominante que la PlayStation 2, et c'est en fin de cycle que l'on voit ses ventes et ses jeux atteindre la parité avec la Xbox 360.
					<br> 
					TechRadar
					<cite>
						&#10077;la Xbox 360 passe le relais en tant que roi de la colline - une position qui met d'autant plus de pression sur son successeur, la Xbox
						One&#10080;
					</cite>.
					L'avantage de la Xbox 360 par rapport à ses concurrents est due à la sortie de jeux de haut niveau par des développeurs tiers. Les
					<em>Game Critics Awards 2007</em> honorent la plateforme avec 38 nominations et 12 victoires - plus que toute autre console. Lors de la Conférence des
					développeurs de jeux de 2008, Microsoft annonce qu'il s'attend à plus de 1 000 jeux disponibles pour la Xbox 360 d'ici la fin de l'année. En plus de
					bénéficier d'exclusivités telles que des ajouts à la franchise
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=YAJjcJpgfbw" title="Halo">Halo</a></li>
					<li><a href="https://www.youtube.com/watch?v=KVDfyUrk8Q0" title="Gears of War">Gears of War</a></li>
					la Xbox 360 réussit à obtenir une sortie simultanée de jeux prévus pour être des exclusivités PS3
					<li><a href="https://www.youtube.com/watch?v=XnjE2OV_hhI" title="Devil May Cry 4">Devil May Cry 4</a></li>
					<li><a href="https://www.youtube.com/watch?v=jjXJsq9M_iU" title="Ace Combat 6">Ace Combat 6</a></li>
					<li><a href="https://www.youtube.com/watch?v=saKBjyD4HKY" title="Virtua Fighter 5">Virtua Fighter 5</a></li>
					<li><a href="https://www.youtube.com/watch?v=0or0iC4s8Eg" title="Grand Theft Auto IV">Grand Theft Auto IV</a></li>
					<li><a href="https://www.youtube.com/watch?v=JAOLDeNc91k" title="Final Fantasy 13">Final Fantasy XIII</a></li>
					<li><a href="https://www.youtube.com/watch?v=5tlOxC6SslM" title="Tekken 6">Tekken 6</a></li>
					<li><a href="https://www.youtube.com/watch?v=kkH3byiojDg" title="Metal Gear Solid">Metal Gear Solid : Rising</a></li>
					<li><a href="https://www.youtube.com/watch?v=eUYr18Ej9mM" title="L.A. Noire">L.A. Noire</a></li>
				</ul>
				<p>
					De plus, les versions 360 des jeux multiplateformes sont considérées comme supérieures à leurs homologues PS3 en raison des difficultés de
					programmation pour la PS3.
				</p>
				<h3>Des jeux et des périphériques...</h3>
				<p>
					Kinect est une expérience de jeu et de divertissement sans contrôleur pour la Xbox 360. Ce périphérique complémentaire permet aux utilisateurs de
					contrôler et d'interagir avec la Xbox 360 sans manette en utilisant des gestes, des commandes vocales et des objets et images présentés. Sony en est
					le précurseur avec ses jeux EyeToy sur PS2.
					<br>
					La Xbox 360 est lancée avec 14 jeux aux Etats-Unis et 13 en Europe. Le plus vendu pour 2005 est
					<a href="https://www.youtube.com/watch?v=wlp9o14TDMw" title="Call of Duty 2">Call of Duty 2</a> à plus d'un million d'exemplaires. Cinq autres jeux
					sont vendus à plus d'un million au cours de la première année de la console sur le marché
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=Cf-UNls-N0w" title="Ghost Recon Advanced Warfighter">Ghost Recon Advanced Warfighter</a></li>
					<li><a href="https://www.youtube.com/watch?v=LM1IwZdpL2Y" title="The Elder Scrolls 4">The Elder Scrolls IV : Oblivion</a></li>
					<li><a href="https://www.youtube.com/watch?v=F8-ByiZ0ADg" title="Dead or Alive 4">Dead or Alive 4</a></li>
					<li><a href="https://www.youtube.com/watch?v=woWBLvg-5Ck" title="Saints Row">Saints Row</a></li>
					<li>Gears of War</li>
				</ul>
				<p>
					Gears of War devient le jeu le plus vendu sur console avec 3 millions d'exemplaires en 2006, avant d'être dépassé en 2007 par
					<a href="https://www.youtube.com/watch?v=bFRH9HlZN6s" title="Halo 3">Halo 3</a> avec plus de 8 millions d'exemplaires. Avant de se faire enrhumer par
					l'incontournable "Minecraft" que je considère n°1 devant Kinect Adventures, ce dernier étant vendu avec la console, avec ses 20 millions de copies
					écoulées.
					<br>
					Au lancement de la XBox 360, le service de jeux en ligne de Microsoft, Xbox Live, ferme pendant 24 heures et subit une mise à niveau majeure, ajoutant
					un service de base sans abonnement appelé Xbox Live Silver - renommé plus tard Xbox Live Free - à son abonnement premium déjà établi.
					<br> 
					Xbox Live Free est inclus avec toutes les références de la console. Il permet aux utilisateurs de créer un profil, d'accéder à Xbox Live Arcade,
					Marketplace et de parler à d'autres membres. Un compte Live Free ne prend pas en charge les jeux multijoueurs cependant, certains jeux qui ont déjà
					des fonctions en ligne assez limitées - comme "Viva Piñata" - ou des jeux qui disposent de leur propre service d'abonnement - les jeux EA Sports -
					peuvent être joués avec un compte gratuit. Xbox Live prend également en charge la voix, cette dernière fonction étant accessible avec la Xbox Live
					Vision. Xbox Live Gold comprend les mêmes fonctionnalités que Free et comprend le jeu en ligne intégré. Microsoft autorise les anciens abonnés à
					conserver leurs informations de profil, leur liste d'amis et l'historique des jeux au moment de la transition vers Xbox Live Gold. Xbox Live atteint
					plus de 30 millions d'abonnés au 5 janvier 2011.
				</p>
			</section>

			<aside>
				<h2 id="zeebo">Zeebo</h2>
				<figure>
					<a href="../../../static/img/zeebo/zeebo.jpg"><img src="../../../static/img/zeebo/zeebo_mini.png" alt="Zeebo"
						title="La Zeebo fut la première console brésilienne"></a>
				</figure>
				<p>Zeebo - <a href="https://www.youtube.com/watch?v=jfXoAqYZlys" title="Zeebo">St1ka feat Top Hat Gaming Man</a></p>
				<h3>Sa petite histoire...</h3>
				<p>
					Il est une chose que l'on a vu disparaître au fur et à mesure des avancées de générations de consoles est la création d'une console autre que par les
					big boss du marché. La Zeebo est l'une de ces consoles, voici son histoire ! (Koioioi ! J'ai jamais vu cette série !).
					<br>
					La Zeebo est une console produite par <a href="../../glossary/companies.html#tectoy" title="Tectoy">Tectoy</a> et
					<a href="../../glossary/companies.html#qualcomm" title="Qualcomm">Qualcomm</a> dont les logiciels sont diffusés exclusivement sous forme
					dématérialisée via Internet. C'est la première console brésilienne visant les pays dits émergents comme le Brésil, la Russie, l'Inde et la Chine. Le
					projet convainc ainsi des sociétés telles que
				</p>
				<ul>
					<li><a href="../../glossary/companies.html#ea" title="Electronic Arts">Electronic Arts</a></li>
					<li><a href="../../glossary/companies.html#activision" title="Activision">Activision</a></li>
					<li><a href="../../glossary/companies.html#namco" title="Namco">Namco</a></li>
					<li><a href="../../glossary/companies.html#capcom" title="Capcom">Capcom</a></li>
					<li><a href="../../glossary/companies.html#idsoftware" title="Id Software">Id Software</a></li>
				</ul>
				<p>
					dans l'intention d'investir avec l’espoir d’accéder à une nouvelle clientèle, le prochain milliard d'utilisateurs du marché. Lancée en 2009, la
					console est retirée de la vente en 2011, pour le milliard on repassera !
					<br>
					Zeebo est un système de divertissement et d'éducation compatible 3G. Elle permet aux utilisateurs de jouer à des jeux vidéo, de se connecter à
					Internet, de communiquer en ligne et d'exécuter des applications éducatives. La Zeebo est décrit comme apportant
					<cite>
						&#10077;le plaisir et l'excitation du divertissement interactif et de l'éducation à ceux qui - jusqu'à présent - ont eu peu ou pas d'accès à une
						telle technologie&#10080;
					</cite>.
					<br>
					La société Zeebo est fondée par Reinaldo Normand en 2008, basée sur un prototype fonctionnel développé par Dave Durnil et Mike Yuen de chez Qualcomm.
					L'intention déclarée de l'entreprise est de créer une console abordable avec des jeux bon marché et du contenu éducatif fournis via une distribution
					numérique sans fil pour éviter le piratage. Il n'y a pas de DVD et de cartouches, les jeux et autres contenus sont téléchargés sur les réseaux
					cellulaires.
					<br> 
					En plus des jeux, le système Zeebo fournit également une connectivité Internet, permettant aux utilisateurs d'accéder à du contenu éducatif et
					d'information, de communiquer par e-mail et de se connecter aux réseaux sociaux - capacité prise en charge au Brésil et au Mexique -.
					<br>
					La console utilise un chipset de jeu mobile Qualcomm similaire à celui des téléphones mobiles. Les joueurs peuvent acheter et télécharger des jeux et
					autres contenus sans fil via la 3G ou EDGE. L'utilisateur est toujours connecté au réseau sans fil sans aucun frais d'abonnement. Les achats sont
					effectués via une boutique en ligne en utilisant une monnaie virtuelle, les crédits Z. Le système de livraison de jeux de Zeebo réduit les coûts -
					sans disques ni cartouches nécessaires - et surmonte les obstacles au piratage. Les crédits Z sont achetés par virement bancaire, carte de crédit,
					débit bancaire ou cartes prépayées. Les jeux coûtent environ 500 à 2500 crédits. La connectivité sans fil de la console permet également aux
					utilisateurs de parcourir des sites Web, d'envoyer et de recevoir des e-mails et participer à des activités de réseautage social via le réseau sans
					fil. La Zeebo peut également effectuer des mises à jour, offrant de nouveaux contenus, fonctionnalités et corrections de bogues.
				</p>
				<h3>Lancement...</h3>
				<p>
					La Zeebo est annoncé pour la première fois en novembre 2008 à Rio de Janeiro et y est vendue en quantités limitées le 1er juin 2009 puis dans tout le
					Brésil six mois après. Quarante jeux sont lancés pour la Zeebo. Puis de nouvelles capacités et accessoires arrivent, notamment une connectivité
					Internet, un clavier et une nouvelle manette de jeu plus ergonomique.
					<br> 
					La Zeebo est lancée au Mexique un an plus tard et en Chine deux ans après. Zeebo annonce alors un accord avec AT&T en mars 2010.
					<cite>
						&#10077;L'accord nous donne accès au réseau d'itinérance international d'AT&T, nous permettant de réaliser des essais rapides de la plateforme
						Zeebo dans de nouvelles zones géographiques alors que nous établissons des accords à plus long terme avec les transporteurs locaux pour le
						déploiement du système. Cela nous donnera également une chance d'explorer des opportunités sur le marché américain à l'avenir&#10080;
					</cite>.
					Cependant, Tectoy se détourne de la Zeebo et s'oriente vers un marché plus éducatif. Les conséquences seront terribles puisque Zeebo annonce la fin de
					ses opérations au Brésil et au Mexique le 27 mai 2011. Tous les jeux font l'objet d'une réduction de prix, Zeebonet 3G reste actif jusqu'au 30
					septembre et tous les services de garantie sont honorés jusqu'à l'arrêt officiel.
				</p>

				<h2 id="hpscan">HyperScan</h2>
				<figure>
					<a href="../../../static/img/mattel/hyperScan.jpg"><img src="../../../static/img/mattel/hyperScan_mini.png" alt="HyperScan"
						title="L'HyperScan de Mattel, c'est plus ça les gars!"></a>
				</figure>
				<p>HyperScan - <a href="https://www.youtube.com/watch?v=-ODebhGtiHs" title="HyperScan">Angry Video Game Nerd </a></p>
				<h3>Sa petite histoire...</h3>
				<p>
					L'HyperScan est une console de la société de jouets <a href="../../glossary/companies.html#mattel" title="Mattel">Mattel</a> sortie en octobre 2006.
					Elle utilise l'identification par <a href="../../glossary/technicalTerms.html#rfid" title="radio-fréquence">radio-fréquence</a> - RFID - ainsi que
					la technologie traditionnelle des jeux vidéo. Le jeu inclus est classé <em>T</em> - Teen, ne convient pas aux moins de 13 ans - et les titres sortis
					par la suite se classent <em>E10 +</em> - ne conviennent pas aux moins de 10 ans - par l'
					<a href="../../glossary/technicalTerms.html#esrb" title="Entertainment Software Rating Board">Entertainment Software Rating Board</a>. La console
					utilise des CD-ROM et possède deux ports de contrôleur, ainsi qu'un scanner qui lit et écrit sur les cartes mémoire activant des fonctionnalités et
					enregistrant les données du jeu.
					<br> 
					Les joueurs peuvent améliorer les capacités de leurs personnages en scannant les cartes. Le système se vend en deux variétés : un cube et un pack de
					valeur à 2 joueurs. La version cube box est la version vendue en magasin. Il comprend le système, la manette, le jeu X-Men et ses 6 cartes. Des packs
					de valeur pour deux joueurs se vendent en ligne et comprennent une manette et 12 cartes X-Men supplémentaires. Le système est abandonné en 2007 en
					raison de ventes médiocres de la console. Elle est présentée par le magazine PC World comme l'une des dix pires consoles jamais sorties. Pour rappel,
					Mattel c'est la grande époque de l'intelliVision, quelle déchéance !!
				</p>
				<h3>Les jeux...</h3>
				<p>
					Les jeux se vendent en tant que <em>Game Packs</em> qui consistent en un disque de jeu accompagné de six cartes - sept pour Spider-Man -. Des cartes
					supplémentaires contiennent des personnages, des capacités, des mouvements et des niveaux lors de la numérisation faisant partie d'un
					<em>Booster Pack</em> de six cartes. Comme avec la plupart des packs de cartes à échanger, les cartes sont randomisées, ce qui signifie qu'un joueur
					à la recherche d'une certaine carte pour déverrouiller cet élément du jeu doit acheter plusieurs Booster Packs pour l'obtenir ou l'échanger contre une
					autre avec un ami - c'est complètement le principe des albums Panini -.
					<br> 
					X-Men dispose de 102 cartes pour déverrouiller les différents niveaux du jeu dans des séries <em>rouges</em> et <em>noires</em> distinctes. Hors la
					série noire n'a jamais pu être complétée en raison de l'annulation de la console, laissant effectivement la moitié du jeu en rade. Cinq titres sont
					sortis
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=wGwJXXBNxOE" title="Ben 10">Ben 10</a></li>
					<li><a href="https://www.youtube.com/watch?v=aRgcFSDrhP8" title="Interstellar Wrestling League">Interstellar Wrestling League</a></li>
					<li><a href="https://www.youtube.com/watch?v=IY8W7-veNAk&t=25s" title="Marvel Heroes">Marvel Heroes</a></li>
					<li><a href="https://www.youtube.com/watch?v=z_Krex-y2tU" title="Spider-Man">Spider-Man</a></li>
					<li><a href="https://www.youtube.com/watch?v=TRWADcZUOE4" title="X-Men">X-Men</a></li>
				</ul>
				<p>
					et si l'on prend Ben 10, le jeu vaut 17€ ce qui reste correct. Maintenant, si vous voulez terminer Ben 10, vous avez besoin des 13 packs à 8.5€ chacun
					soit 110.50€. Au total, votre jeu vous coûte 127.50€ ce qui correspondant à un 10/10 sur l'échelle de foutage de gueule...
				</p>
			</aside>
		</article>
	</main>

	<footer>
		<p>
            &copy; 2021 - Lyasen - tous droits réservés
        </p>

        <h4>Mes sites recommandés :</h4>            
        <ul>
            <li>ActuGaming.net</li>
            <li>GameBlog</li>
            <li>Gamekult</li>
            <li>JeuxActu</li>
            <li>jeuxvideo.com</li>
            <li>YouTube</li>
        </ul>
        
        <p>
            <a href="mailto:consolStory@protonmail.com">Nous contacter</a>            
        </p>
	</footer>
</body>
</html>