<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Consol'Story - Histoire de la Sixième Génération de consoles de jeux vidéos</title>
	<!--	Tags meta	-->
	<meta name="description" content="Sixième génération de consoles, les inventeurs ne sont plus, la console de jeu vidéo est l'affaire de quelques grandes industries et
										personne n'aura l'audace de s'aventurer sur ce terrain-là... sauf un : Microsoft">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--	Links	-->
	<link rel="stylesheet" href="sixthGen.css">
	<link rel="shortcut icon" href="../../../static/logo/purple_logo.png" type="image/x-icon">
</head>
<body>
	<header>
		<h1>1998 - 2005 : Consoles Sixième Génération</h1>
		<nav>
			<ul>
				<li><a href="../../main.html" title="Accueil">Retour vers l'accueil</a></li>
				<li><a href="../firstGen/firstGen.html" title="Première génération">Première génération</a></li>
				<li><a href="../secondGen/secondGen.html" title="Seconde génération">Seconde génération</a></li>
				<li><a href="../thirdGen/thirdGen.html" title="Troisième génération">Troisième génération</a></li>
				<li><a href="../fourthGen/fourthGen.html" title="Quatrième génération">Quatrième génération</a></li>
				<li><a href="../fifthGen/fifthGen.html" title="Cinquième génération">Cinquième Génération</a></li>
				<li><a href="../seventhGen/seventhGen.html" title="Septième génération">Septième génération</a></li>
				<li><a href="../eighthGen/eighthGen.html" title="Huitième génération">Huitième génération</a></li>
				<li><a href="../ninthGen/ninthGen.html" title="Neuvième génération">Neuvième génération</a></li>
			</ul>
			<ul>
				Consoles sixième génération :
				<li><a href="#sega" title="Dreamcast">Dreamcast</a>- Sega</li>
				<li><a href="#cube" title="GameCube">GameCube</a>- Nintendo</li>
				<li><a href="#ps2" title="PlayStation 2">PlayStation 2</a>- Sony</li>
				<li><a href="#box" title="XBox">XBox</a>- Microsoft</li>
				<li><a href="#samsung" title="Nuon">Nuon</a> - Samsung</li>
				<li><a href="#psx" title="PSX">PSX</a> - Sony</li>
			</ul>
		</nav>
	</header>
	<main>
		<article>
			<section>
				<h2 id="sega">Dreamcast</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#sega" title="Sega">Sega</a></li>
					<li>Fabricant : Sega</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 1998</li>
							<li>Etats-Unis - 1999</li>
							<li>Europe - 1999</li>
						</ul>
					</li>
					<li>Fin de production - 2004</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - 10.6 millions</li>
							<li>Japon - 2.25 millions</li>
							<li>Etats-Unis - 3.90 millions</li>
							<li>Europe - 1.91 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=XwtNXo1aQgs" title="Sonic Adventures">Sonic Adventures</a>
						(2.5 millions d'unités vendues)
					</li>
					<li>Dreamcast - <a href="https://www.youtube.com/watch?v=q-xSV54r_7E" title="Dreamcast">Edward</a></li>
					<li>Dreamcast - <a href="https://www.youtube.com/watch?v=VNgVck_s5H8" title="Dreamcast">Conkerax</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/sega/dreamcast.png"><img src="../../../static/img/sega/dreamcast_mini.png" alt="Dreamcast"
						title="La Dreamcast, dernière console avant la disparition de Sega sur le marché des consoles"></a>
					<a href="../../../static/img/sega/dreamcast-sports-black.jpg"><img src="../../../static/img/sega/dreamcast-sports-black_mini.png"
						alt="Dreamcast 	Sports Black" title="Une version limitée de la Dreamcast"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La Dreamcast est la première console de sixième génération précédant la PlayStation 2 de Sony, la GameCube de Nintendo et la Xbox de Microsoft. Elle
					est aussi la dernière console de Sega, marquant la fin de dix-huit années de présence de l'entreprise sur le marché du jeu vidéo.
					<br> 
					Contrairement au matériel coûteux de la Sega Saturn, la Dreamcast est conçue sur la réduction de coûts avec des composants standards. Sortie au Japon
					avec un accueil pour le moins... - bruit du vent...-, la Dreamcast connut à contrario un lancement américain et européen réussi, soutenu par une vaste
					campagne de marketing, mais l'intérêt pour la Dreamcast cessa lorsque Sony construisit un battage médiatique autour de la prochaine PlayStation 2.
					<br> 
					Les ventes ne répondent pas aux attentes de Sega malgré plusieurs baisses de prix, et la société continue de subir des pertes financières importantes.
					Après un changement de direction, Sega cesse la vente de la Dreamcast le 31 mars 2001, se retire de l'activité console et se restructure en tant
					qu'éditeur indépendant. Bien que la Dreamcast ait une courte durée de vie et un support de développeurs tiers limité, la console est considérée en
					avance sur son temps. Sa bibliothèque contient de nombreux jeux créatifs et innovants, notamment
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=qjIGkv0_dEM" title="Crazy Taxi">Crazy Taxi</a></li>
					<li><a href="https://www.youtube.com/watch?v=Rr9ruTAKBLM" title="Jet Set Radio">Jet Set Radio</a></li>
					<li><a href="https://www.youtube.com/watch?v=W8RpDgxAyKI" title="Shenmue">Shenmue</a></li>
				</ul>
				<p>
					, ainsi que des portages de haute qualité venus de l'arcade. La Dreamcast est également la première console à inclure un modem intégré pour le support
					Internet et le jeu en ligne.
				</p>
				<h3>Lancement...</h3>
				<p>
					La Sega Mega Drive est la console Sega la plus aboutie jamais commercialisée. Son successeur, la Sega Saturn est une console CD-ROM affichant des
					graphiques 2D et 3D, mais son architecture complexe à double processeur rende la programmation plus difficile que son principal concurrent, la Sony
					PlayStation. Le succès de Sony est gagné sur une guerre des prix dans laquelle Sega abaisse le prix de la Saturn à plusieurs reprises et les pertes
					sur le matériel Saturn contribuent aux problèmes financiers de Sega.
					<br> 
					Bernie Stolar, un ancien cadre de Sony, est nommé vice-président exécutif de Sega of America en charge du développement de produits et des relations
					avec les développeurs indépendants au début des années 90. Stolar ne prend pas en charge la Saturn en raison de sa conviction que le matériel est mal
					conçu et annonce publiquement à l'<a href="../../glossary/companies.html#e3" title="E3 1997">E3 1997</a> que
					<cite>
						&#10077;la Saturn n'est pas notre avenir&#10080;
					</cite>.
					Stolar accède par la suite au poste de PDG. L'abandon de la Saturn, dans le but de préparer le lancement de son successeur, laisse le marché
					occidental sans jeux Sega pendant plus d'un an.
					<br>
					À la lumière des mauvaises performances de ventes de la Saturn, Shoichiro Irimajiri cherche, en marge de la division de développement interne de
					l'entreprise, à créer une nouvelle console. Irimajiri fait appel en 1997 aux services de Tatsuo Yamamoto d'IBM pour diriger une équipe de 11
					personnes afin de travailler sur un projet secret aux États-Unis, appelé <em>Blackbelt</em>, en créant 3dfx - une compagnie spécialisée dans la
					production de cartes graphiques 3D achetée en 2000 par NVidia pour 105 millions d'€ -.
					<br> 
					Une équipe interne, dirigée par Hideki Sato, commence également le développement sur le matériel Dreamcast. Sega charge les deux équipes à inventer
					cette nouvelle console chacun de son côté, car Sato est dérangé par le choix d'Irimajiri de commencer le développement en externe. 3dfx fait son
					introduction en bourse cette même année et, en raison d'obligations légales, dévoile ses contrats avec Sega, y compris le développement de la
					nouvelle console. Cela courrouce les dirigeants de Sega, qui décide finalement de couper les liens avec 3dfx. Celle-ci intente une action contre Sega
					et NEC pour violation de contrat, mais finissent par s'arranger à l'amiable.
					<br> 
					Sachant que la Saturn a pris du retard par ses coûts de production élevés et son matériel complexe, Sega adopte cette fois-ci une approche différente
					avec la Dreamcast. Les sélections de matériel sont plus conformes à ce qui est courant dans les ordinateurs que dans les consoles de jeux vidéo,
					réduisant ainsi le coût du système. L'économiste chinois et futur PDG de Sega.com, Brad Huang, convainc le président Isao Okawa d'inclure un modem
					avec chaque Dreamcast, malgré l'opposition significative du personnel d'Okawa au sujet du coût indû.
					<br>
					Sega choisit le format de support <a href="../../glossary/technicalTerms.html#gdrom" title="GD-ROM">GD-ROM</a>. Le GD-ROM, développé conjointement
					par Sega et Yamaha Corporation, peut être produit en série à un prix similaire à un CD-ROM normal tout en évitant de payer les droits de la
					technologie DVD-ROM. Comme le format GD-ROM peut contenir environ 1 Go de données, la copie illégale de jeux Dreamcast sur un CD-ROM de 650 Mo
					nécessite parfois la suppression de certaines fonctionnalités du jeu, bien que cela n'empêche en rien la copie du logiciel Dreamcast.
					<br> 
					Sega organise un concours public pour nommer son nouveau système et examine plus de 5 000 propositions différentes avant de choisir
					<em>Dreamcast</em>. Le son de démarrage est composé par le musicien japonais Ryuichi Sakamoto. Comme la Saturn a terni la réputation de Sega, la
					société pense retirer complètement son nom de la console et d'établir une nouvelle marque de jeu similaire à la PlayStation de Sony, mais l'équipe de
					direction d'Irimajiri décide de conserver le logo de Sega à l'extérieur de la Dreamcast.
				</p>
				<h3>Houlala, ça part en sucette...</h3>
				<p>
					La Dreamcast suscite un intérêt considérable et attire de nombreuses précommandes. Sega annonce que "Sonic Adventure", le prochain jeu avec la
					mascotte Sonic the Hedgehog, arriverait à temps pour le lancement de la Dreamcast et fait la promotion du jeu avec une démonstration publique à grande
					échelle au <em>Tokyo Kokusai Forum Hall</em> - Le centre d'exposition principal de Tyoko tout comme le parc des expositions de la porte de Versailles
					et sa foire de Paris -. Cependant, Sega n'atteint pas ses objectifs d'expédition pour le lancement japonais en raison d'une pénurie de
					<a href="../../glossary/technicalTerms.html#powervr" title="chipsets PowerVR">chipsets PowerVR</a> causée par un taux d'échec élevé dans le processus
					de fabrication.
					<br> 
					Le lancement de la Dreamcast se fait au japon le 27 novembre 98 et tout le stock se vend en une journée. Cependant, sur les quatre jeux disponibles au
					lancement, un seul s'est bien vendu - un portage de
					<a href="https://www.youtube.com/watch?v=pewTHUFu5nQ" title="Virtua Fighter 3">Virtua Fighter 3</a>, le jeu d'arcade le plus réussi que Sega n'ait
					jamais sorti —. Les jeux clés "Sega Sonic Adventure" et
					<a href="https://www.youtube.com/watch?v=8CE1yPl7rW0" title="Sega Rally Championship 2">Sega Rally Championship 2</a> arrivent dans les semaines
					suivantes, mais les ventes continuent à être plus lentes que prévu. Irimajiri espére vendre plus d'un million d'unités au Japon en quatre mois, mais
					moins de 900 000 unités s'écoulent, sapant les tentatives de Sega de se constituer une base installée suffisante pour assurer la survie de la
					Dreamcast après l'arrivée de la concurrence d'autres fabricants.
					<br> 
					Avant la sortie de la Dreamcast, Sega subit déjà un coup dur quand
					<a href="../../glossary/companies.html#ea" title="Electronic Arts">Electronic Arts</a>, le plus grand éditeur de jeux vidéo, annonce qu'il ne
					développerait plus de jeux pour Sega. Le petit différent tient à ce que le chef de la création d'EA, Bing Gordon voulut négocier un droit exclusif sur
					les jeux de sport de la Dreamcast, ce que Bernie Stolar n'a pu accepter en raison de l'achat récent par Sega à 8.5 millions d'€ du développeur de jeux
					sportifs <a href="../../glossary/companies.html#vc" title="Visual Concepts">Visual Concepts</a>. Bien que la série
					<a href="https://www.youtube.com/watch?v=6_F81VHcHBM" title="Madden NFL">Madden NFL</a> d'EA soit une marque bien établie, Stolar considère le "NFL
					2K" comme bien supérieur et offrant une expérience révolutionnaire pour lancer la console. Alors que la Dreamcast n'aurait aucun des jeux de sport
					populaires d'EA, les jeux <em>Sega Sports</em> aident à combler ce vide.
					<br> 
					Travaillant en étroite collaboration avec <a href="../../glossary/companies.html#midway" title="Midway Games">Midway Games</a> et profitant des dix
					mois de sortie de la Dreamcast au Japon, Sega of America essaie d'assurer un lancement américain plus réussi avec un minimum de 15 jeux. Malgré
					l'amertume persistante à propos de la sortie anticipée de Saturn, Stolar réussit à rétablir des relations avec les principaux détaillants américains.
					Sega doit créer quelque chose qui intriguerait vraiment les consommateurs, présenter des excuses pour le passé, et évoquer toutes les choses de bien
					chez Sega, principalement depuis l'époque de la Mega Drive. Dix-huit jeux de lancement sont disponibles pour la Dreamcast aux États-Unis, Sega établit
					au passage un nouveau record de ventes en vendant plus de 225 132 unités Dreamcast en 24 heures, ce qui lui rapporte 83 millions d'€ pour ce que Moore
					appelle
					<cite>
						&#10077;les 24 heures les plus importantes de l'histoire de la vente au détail de divertissement&#10080;
					</cite>.
					Moore ? Oui, en fait Stolar s'est fait virer peu de temps avant le lancement de la Dreamcast aux USA. Les jeux de lancement comprennent
					<a href="https://www.youtube.com/watch?v=x66GUr-Lg8Y" title="Soul Calibur">Soul Calibur</a> et la simulation de football
					<a href="https://www.youtube.com/watch?v=_Ss-jM5aCSA" title="NFL 2K">NFL 2K</a>.
					<br>
					Okawa remplace Irimajiri à la présidence de Sega le 22 mai 2000. Okawa a longtemps préconisé que Sega abandonne le commerce des consoles. Son
					sentiment n'est pas unique, le co-fondateur de Sega, David Rosen, a
					<cite>
						&#10077;toujours pensé que c'est un peu une folie pour eux de limiter leur potentiel au matériel Sega&#10080;
					</cite>,
					et Stolar suggéra à une époque que Sega aurait dû vendre leur entreprise à <a href="../../glossary/companies.html#ms" title="Microsoft">Microsoft</a>.
					<br> 
					Lors d'une réunion avec les dirigeants japonais de Sega et les dirigeants des principaux studios de développement de jeux japonais de la société en
					septembre 2000, Moore et Bellfield recommandent à Sega d'abandonner son activité de consoles et de se concentrer sur les logiciels. Sega annonce
					l'arrêt de la Dreamcast après le 31 mars 2001 et la restructuration de la société en tant que développeur tiers indépendant. Okawa, qui a déjà prêté
					420 millions d'€ à Sega à l'été 99, décède le 16 mars 2001. Peu de temps avant sa mort, il éponge les dettes de Sega et rend ses 585 millions d'€
					d'actions Sega et CSK, aidant l'entreprise à survivre à la transition. Dans le cadre de cette restructuration, près d'un tiers des effectifs à Tokyo
					sont licenciés. Après l'arrêt de la Dreamcast, des jeux sont encore développés et commercialisés pour le système, en particulier au Japon. Après cinq
					années consécutives de pertes financières, Sega affichera un bénéfice pour l'année 2003.
					<br> 
					Les raisons de l'échec de la Dreamcast incluent le battage médiatique pour la PS2, un manque de soutien d'EA et
					<a href="../../glossary/companies.html#square" title="Squaresoft">Squaresoft</a>, considérés respectivement comme les développeurs tiers les plus
					populaires aux États-Unis et au Japon, un désaccord parmi les dirigeants de Sega sur l'avenir de l'entreprise et le manque d'engagement d'Okawa envers
					le produit. Les dommages causés à la réputation de Sega ne datent pas de la Dreamcast, mais causés par plusieurs précédentes plateformes mal prises en
					charge. La console eut ainsi du mal à perdre la réputation négative que Sega acquiert pendant les périodes Saturn, Sega 32X et Sega CD. Joueurs et
					développeurs blasés sont devenus méfiants envers les nouvelles consoles portant la marque Sega. De nombreux consommateurs se sont sentis floués
					après avoir investi dans des machines coûteuses et constatés que les bibliothèques résultantes manquaient d'un catalogue étoffé. Sega est une
					entreprise créative, fertile et semble dès lors en position idéale pour commencer une nouvelle vie en tant que développeur/éditeur. Ses développeurs
					de classe mondiale peuvent faire ce qu'ils font de mieux pour n'importe quelle machine sur le marché.
				</p>
			</section>

			<section>
				<h2 id="cube">GameCube</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#nintendo" title="Nintendo">Nintendo</a> en association avec
						<a href="../../glossary/companies.html#ibm" title="IBM">IBM</a>, <a href="../../glossary/companies.html#nec" title="NEC">NEC</a> et ATI -
						producteur de microprocesseurs pour cartes graphiques et chipsets
					</li>
					<li>Fabricant : Nintendo</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2001</li>
							<li>Etats-Unis - 2001</li>
							<li>Europe - 2002</li>
						</ul>
					</li>
					<li>Fin de production - 2007</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - 21.74 millions</li>
							<li>Japon - 4.04 millions</li>
							<li>Etats-Unis - 12.94 millions</li>
							<li>Europe - 4.77 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - 644</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=pPpkIitFjvk" title="Super Smash Bros. Melee">Super Smash Bros. Melee</a>
						(7.07 millions)
					</li>
					<li>GameCube - <a href="https://www.youtube.com/watch?v=Gi1766IhQw8" title="GameCube">Edward</a></li>
					<li>GameCube - <a href="https://www.youtube.com/watch?v=up6Rm1Sw1ps" title="GameCube">Modern Vintage Player</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/nintendo/gamecube.png"><img src="../../../static/img/nintendo/gamecube_mini.png" alt="Nintendo GameCube"
																	title="Vraiment un design originale pour la GameCube"></a>
					<a href="../../../static/img/nintendo/panasonic-Q.jpg"><img src="../../../static/img/nintendo/panasonic-Q_mini.png" alt="Panasonic Q"
						title="La Q est une version construite par Panasonic avec un lecteur DVD, inconnu sur la GameCube classique"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La Nintendo GameCube est le successeur de la Nintendo 64, en concurrence avec la PlayStation 2 de Sony et la Xbox de Microsoft. La GameCube est la
					première console Nintendo à utiliser des disques optiques comme support de stockage principal. Les disques sont au format miniDVD et le système n'est
					pas conçu pour lire des DVD ou des CD audio de taille normale contrairement à ses rivaux, et se concentre uniquement sur les jeux.
					<br> 
					La console prend en charge les jeux en ligne via un adaptateur haut débit ou un modem GameCube et se connecte à un
					<a href="https://www.youtube.com/watch?v=wYxXzEg2se4" title="Game Boy Advance">Game Boy Advance</a> par câble, ce qui permet aux utilisateurs
					d'accéder à des fonctionnalités exclusives du jeu en utilisant la Game Boy comme deuxième écran et manette. La GameCube a mis à jour le
					<a href="../../glossary/technicalTerms.html#firmware" title="firmware">firmware</a> désactivant l'Action Replay et les codes de triche et c'est
					chiant ! La console est reconnue pour sa manette originale, sa vaste bibliothèque de logiciels et ses jeux de haute qualité, mais est critiquée pour
					son design extérieur et son manque de fonctionnalités.
				</p>
				<h3>Lancement...</h3>
				<p>
					En partenariat avec Nintendo, ArtX - spécialisée dans la création de matériel graphique - est engagé pour créer la logique du système et le processeur
					graphique - code <em>Flipper</em> - de la GameCube. Lors de la conférence de presse de Nintendo en mai 99, la console est d'abord annoncée sous le nom
					de <em>Project Dolphin</em>. Puis Nintendo commence à fournir des kits aux développeurs tels que
					<a href="../../glossary/companies.html#rare" title="Rare">Rare</a> et
					<a href="../../glossary/Companies.html#retro" title="Retro Studios">Retro Studios</a>. Nintendo forme un partenariat stratégique avec IBM, qui crée
					le processeur du Dclphin nommé <em>Gekko</em>. ArtX est acquis par ATI en avril 2000, mais achèvera néanmoins la conception du processeur graphique.
					<br> 
					La console est annoncée comme étant la GameCube lors d'une conférence de presse au Japon le 25 août 2000. Nintendo dévoile sa gamme de logiciels à
					l'E3 2001, en se concentrant sur quinze jeux de lancement, y compris
					<a href="https://www.youtube.com/watch?v=-pfYHmf0Wak" title="Luigi's Mansion">Luigi's Mansion</a> et
					<a href="https://www.youtube.com/watch?v=6Xyge10USMU" title="Star Wars Rogue Squadron">Star Wars Rogue Squadron II : Rogue Leader</a>. C'est également
					la première console Nintendo depuis la Famicom à ne pas être accompagné d'un jeu de plateforme Super Mario au lancement.
					<br> 
					Avant la sortie de la GameCube, Nintendo concentre ses ressources sur le lancement de la Game Boy Advance, une console de jeu portable et successeur
					de la <a href="https://www.youtube.com/watch?v=HeKopgkhTSA" title="Game Boy">Game Boy</a> et de la
					<a href="https://www.youtube.com/watch?v=TnHPzaFjvWA" title="Game Boy Color">Game Boy Color</a>. Plusieurs jeux destinés à l'origine à la N64 sont
					reportés au profit de leur sortie anticipée sur GameCube. Simultanément, Nintendo développe un logiciel qui fournit une connectivité entre elle et la
					Game Boy Advance. Certains jeux, comme
					<a href="https://www.youtube.com/watch?v=YwpmsGAlajo" title="The Legend of Zelda">The Legend of Zelda : Four Swords Adventures</a> et
					<a href="https://www.youtube.com/watch?v=pOA0U6yWJqo" title="Final Fantasy Crystal Chronicles">Final Fantasy Crystal Chronicles</a>, peuvent utiliser
					la Game Boy comme écran secondaire et contrôleur lorsqu'ils sont connectés à la console. Ce néo-principe trouvera sa quintessence lors de la
					création de la Switch.
					<br> 
					Nintendo commence sa campagne de marketing avec le slogan <em>The Nintendo Difference</em> lors de sa révélation de l'E3 2001 : le but est de se
					distinguer de la concurrence en tant qu'entreprise de divertissement. Les publicités ont le slogan <em>Born to Play</em> et les annonces de jeux
					présentent une animation de cube rotatif qui se transforme en logo GameCube avec
					<a href="https://www.youtube.com/watch?v=ctYQ08gxkqA" title="divers effets sonores">divers effets sonores</a>. Pourtant, malgré ses excellents jeux,
					la GameCube ne rencontre pas le succès de ses devancières.
				</p>
				<h3>Porte bien son nom, cette GameCube...</h3>
				<p>
					Semblable physiquement à un cube doté d'une anse pour évoquer la facilité du transport, la console utilise un support de stockage unique nommé
					<em>Nintendo Game Cube Optical Disc</em>. Créé en collaboration avec
					<a href="../../glossary/companies.html#panasonic" title="Matsushita">Matsushita</a> - aujourd'hui Panasonic -, le disque est grandement inspiré du
					DVD avec un plugin spécial pour éviter la copie. Nintendo choisit ce mini format de 8 centimètres pour éviter les longs temps de chargement présents
					dans les jeux des consoles concurrentes.
					<br>
					La GameCube est la console la plus petite de cette sixième génération et est dessinée par Kenishiro Ashida qui veut, en lui donnant ce design, créer
					un objet compact et innovant. De base, la GameCube est de couleur indigo, même si par la suite Nintendo sortit de nouveaux coloris pour mettre fin aux
					critiques de ses détracteurs qui considérent le bleu-violet comme une couleur enfantine. La machine est également sortie en noir et en argenté -
					platinium - ou dans des couleurs en éditions limitées comme le blanc cristal pour Final Fantasy: Crystal Chronicles, Mint Green pour
					<a href="https://www.youtube.com/watch?v=2N0Mb9h5e4I" title="Tales of Symphonia">Tales of Symphonia</a>, cuivre pour "Char Aznable from Gundam", gris
					métallisé et noir pour <a href="https://www.youtube.com/watch?v=iqYs9qRqQDI" title="Resident Evil 4">Resident Evil 4</a> et blanc avec des rayures
					noires pour "The Hanshin Tigers".
					<br> 
					Il existe une version spéciale de la console permettant de lire les DVD. Cette machine, dénommée
					<a href="https://www.youtube.com/watch?v=ijwXQ2wUJd8" title="Q">Q</a>, est développée par Panasonic uniquement pour le marché japonais. La platine DVD
					est d'ailleurs zonée, ne permettant pas de lire des DVD autres que ceux du Japon. Elle est livrée avec une télécommande et ses dimensions sont un peu
					plus importantes que la GameCube de Nintendo. Une version du
					<a href="https://www.youtube.com/watch?v=GfkeQYpGkAQ" title="Game Boy Player">Game Boy Player</a> est spécifiquement conçue pour s'adapter au format
					de cette console. De couleur argentée, elle posséde également un petit écran LCD affichant diverses informations sur les DVD ou CD. La manette donnée
					avec est estampillée Panasonic, au lieu du logo <em>Nintendo Gamecube</em> habituel.
				</p>
			</section>

			<section>
				<h2 id="ps2">PlayStation 2</h2>
				<ul>
					<li>Concepteur : Ken Kutaragi</li>
					<li>Fabricant : <a href="../../glossary/companies.html#sony" title="Sony Computer Entertainment">Sony Computer Entertainment</a></li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2000</li>
							<li>Etats-Unis - 2000</li>
							<li>Europe - 2000</li>
						</ul>
					</li>
					<li>Fin de production - 2013</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - 157.68 millions</li>
							<li>Japon - 23.18 millions</li>
							<li>Etats-Unis - 53.65 millions</li>
							<li>Europe - 55.28 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - 3800</li>
					<li>Ventes de jeux - 1.5 milliards</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=ZvPem5XYBrU" title="Grand Theft Auto">Grand Theft Auto : San Andreas</a>
						(20.81 millions)
					</li>
					<li>PlayStation 2 - <a href="https://www.youtube.com/watch?v=hy4bH8SOmhk" title="PlayStation 2">Edward</a></li>
					<li>PlayStation 2 - <a href="https://www.youtube.com/watch?v=5fvACF3yfEQ" title="PlayStation 2">Conkerax</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/sony/ps2.png"><img src="../../../static/img/sony/ps2_mini.png" alt="PlayStation 2"
						title="La plus mythique des consoles : la PS2"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La PS2 est la console la plus vendue de tous les temps avec plus de 155 millions d'unités écoulées dans le monde. Plus de 3 800 titres sont
					commercialisés, avec plus de 1,5 milliard de copies vendues. Sony fabrique plusieurs versions plus petites et plus légères de la console à partir
					de 2004 connue sous le nom de modèles SlimLine. La PS2 offre une compatibilité pour la DualShock de son prédécesseur ainsi que pour ses jeux. Même
					avec la sortie de son successeur, la PlayStation 3, la PS2 reste populaire jusqu'à la septième génération et continue à être produite jusqu'en 2013
					jusqu'à ce que Sony annonce finalement son abandon après douze ans de production - l'une des plus longue durée de vie d'une console -. Malgré cette
					annonce, de nouveaux jeux pour la console continuent à être produits jusqu'à la fin de 2013, notamment
				</p>
				<ul>
				<li><a href="https://www.youtube.com/watch?v=iKCe5rQNAco" title="Final Fantasy 11">Final Fantasy XI: Seekers of Adoulin</a> pour le Japon</li>
				<li><a href="https://www.youtube.com/watch?v=FKYMf6-1G3s" title="FIFA 13">FIFA 13</a> pour les Etats-Unis</li>
				<li><a href="https://www.youtube.com/watch?v=KYeK0pRDHqU" title="Pro Evolution Soccer 2014">Pro Evolution Soccer 2014</a> pour l'Europe</li>
				</ul>
				<p>
					Les services de réparation du système au Japon prennent fin le 7 septembre 2018. C'est vraiment la console de tous les records.
				</p>
				<h3>Lancement...</h3>
				<p>
					Bien que Sony garde secret les détails du développement de la PlayStation 2, le travail sur la console commence à peu près au moment de la sortie de
					la PlayStation originale, fin 1994. Elle est développée sur la côte ouest des États-Unis par d'anciens membres d'
					<a href="../../glossary/companies.html#argonaut" title="Argonaut Software">Argonaut Software</a>. Sony annonce la sortie de la PlayStation 2 le 1er
					mars 1999 comprenant une rétrocompatibilité avec la Playstation, un lecteur DVD et une connectivité internet.
					<br> 
					La console se positionne comme un concurrent de la Dreamcast de Sega, bien que ses principaux rivaux furent la GameCube de Nintendo et la Xbox de
					Microsoft. Peu après le lancement nord-américain de Dreamcast, Sony dévoile la PlayStation 2 au <em>Tokyo Game Show</em> le 20 septembre 1999. Sony
					montre des démos entièrement jouables des jeux PS2 à venir, y compris "Gran Turismo 2000" - plus tard édité sous le nom de
					<a href="https://www.youtube.com/watch?v=L_hC764SVWw" title="Gran Turismo 3">Gran Turismo 3 : A-Spec</a> - et
					<a href="https://www.youtube.com/watch?v=PMipQLfGR4A" title="Tekken Tag Tournament">Tekken Tag Tournament</a> - qui montre les capacités graphiques et
					la puissance de la console.
					<br> 
					Les ventes de la console, des jeux et des accessoires rapportent 210 millions d'€ le premier jour, battant les 82 millions d'€ réalisés le premier
					jour de sortie de la Dreamcast. Directement après sa mise en vente, il est difficile de trouver des unités PS2 sur les tablettes des détaillants en
					raison des retards de fabrication, Sony est pris de court par le succès immédiat de sa console. Une autre option est de commander sa console en ligne
					via des sites d'enchères tels que eBay, où certaines personnes payent plus de 840€ la console.
					<br> 
					Les raisons de cette réussite est la force de la marque PlayStation et la rétrocompatibilité de la console, vendant plus de 980 000 unités au Japon un
					jour après son lancement. La fonctionnalité DVD intégrée de la PS2 élargit également son public au-delà du joueur passionné, car ses premiers prix
					sont identiques ou inférieurs à ceux d'un lecteur DVD seul. Cela fait de la console une entrée à bas prix sur le marché du cinéma à la maison.
					<br> 
					Le succès de la PS2 cause des problèmes à Sega à la fois sur le plan financier et sur le plan concurrentiel, Sega annonce d'ailleurs l'arrêt de la
					Dreamcast en mars 2001, tout juste 18 mois après son lancement occidental pourtant réussi. Bien que la Dreamcast ait toujours le soutien de joueurs
					jusqu'en 2001, la PS2 reste pendant plus de 6 mois la seule console de sixième génération sans outsider avant de faire face à ses nouveaux rivaux :
					la GameCube de Nintendo et la Xbox de Microsoft.
					<br> 
					La Xbox a le matériel le plus puissant, tandis que le GameCube est la console la moins chère, et Nintendo modifie sa politique pour encourager les
					développeurs indépendants. Alors que la PlayStation 2 a théoriquement la spécification la plus faible des trois, elle a une longueur d'avance en
					raison du fort engagement de ses développeurs, ainsi que du lecteur DVD intégré - la Xbox nécessite un adaptateur, tandis que le GameCube manque
					totalement de support sauf avec la Q de Panasonic mais sortit exclusivement au Japon -.
					<br> 
					Alors que la gamme de jeux de la PlayStation 2 est considérée comme médiocre au début de son règne, cela s'améliore au cours de la saison 2001 avec la
					sortie de plusieurs hits qui maintiennent l'élan des ventes et contient ses nouveaux rivaux. Sony contre également la Xbox en sécurisant
					temporairement des exclusivités PlayStation 2 pour des jeux très attendus tels que la série
					<a href="https://www.youtube.com/watch?v=Xqp5N-1pJJs" title="Grand Theft Auto">Grand Theft Auto</a> et
					<a href="https://www.youtube.com/watch?v=tYUMTgL5Jx8" title="Metal Gear Solid 2">Metal Gear Solid 2 : Sons of Liberty</a>. Sony, contrairement à Sega,
					met peu l'accent sur les jeux en ligne au cours de ses premières années, mais c'est Xbox qui lancera réellement le jeu en ligne. Coïncidant avec la
					sortie de Xbox Live, Sony sort l'adaptateur réseau PlayStation à la fin de 2002, avec plusieurs titres comme
					<a href="https://www.youtube.com/watch?v=BZPfMOntJKo" title="SOCOM">SOCOM : US Navy SEALs</a> pour démontrer son soutien actif au jeu sur Internet.
					<br> 
					Sony fait beaucoup de publicité, et son modèle en ligne a le soutien d'
					<a href="../../glossary/companies.html#ea" title="Electronic Arts">Electronic Arts</a>, celui-ci n'offrant pas de titres Xbox en ligne avant 2004.
					Bien que Sony et Nintendo aient tous deux commencé tardivement, et bien que tous deux aient suivi un modèle décentralisé de jeu en ligne où la
					responsabilité incombe au développeur de fournir les serveurs, les mesures prises par Sony ont fait du jeu en ligne une vente importante.
				</p>
				<h3>Spécificités...</h3>
				<p>
					La PS2 représente des séries populaires comme
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=vbvZhSghtkA" title="Ratchet and Clank">Ratchet and Clank</a></li>
					<li><a href="https://www.youtube.com/watch?v=ZXft9do42KQ" title="Dragon Quest">Dragon Quest</a></li>
					<li><a href="https://www.youtube.com/watch?v=FEQyGxiYAKM" title="Jak and Daxter">Jak and Daxter</a></li>
					<li><a href="https://www.youtube.com/watch?v=WY2qVx5SWX8" title="God of War">God of War</a></li>
					<li><a href="https://www.youtube.com/watch?v=j1blSNOqsSs" title="Sly">Sly</a></li>
					<li><a href="https://www.youtube.com/watch?v=Qb1R0xclbqc" title="Final Fantasy">Final Fantasy</a></li>
					<li>Grand Theft Auto</li>
					<li><a href="https://www.youtube.com/watch?v=7qSZK-z9C0U" title="Kingdom Hearts">Kingdom Hearts</a></li>
					<li><a href="https://www.youtube.com/watch?v=85lkEDr2MtM" title="Tomb Raider">Tomb Raider</a></li>
					<li><a href="https://www.youtube.com/watch?v=2qsHbwpvHcA" title="Metal Gear Solid">Metal Gear Solid</a></li>
					<li><a href="https://www.youtube.com/watch?v=G7QwlMH1slk" title="Medal of Honor">Medal of Honor</a></li>
					<li><a href="https://www.youtube.com/watch?v=UYPBMKe9X3M" title="Need for Speed">Need for Speed</a></li>
					<li><a href="https://www.youtube.com/watch?v=zouZ_MGgmkA" title="SSX">SSX</a></li>
					<li><a href="https://www.youtube.com/watch?v=6X-wC7v--qk" title="Pro Evolution Soccer">Pro Evolution Soccer</a></li>
					<li><a href="https://www.youtube.com/watch?v=M2FBCfeILLQ" title="Tekken 5">Tekken 5</a></li>
						Les trois jeux les plus vendus sur le support sont
					<li>Grand Theft Auto: San Andreas - 20 millions d'exemplaires -</li>
					<li>Gran Turismo 3 A-spec</li>
					<li><a href="https://www.youtube.com/watch?v=bHRH1bjOYTc" title="Grand Theft Auto">Grand Theft Auto : Vice City</a> - 14 millions d'unités -</li>
					<li><a href="https://www.youtube.com/watch?v=SpgsIKzQ_M8" title="Onimusha: Warlords">Onimusha: Warlords</a> est le premier titre de la console à
						dépasser la barre du million d'exemplaires vendus, un an après la sortie de la console
					</li>
				</ul>
				<p>
					Les jeux PlayStation 2 sont gravés au format DVD-ROM ou CD-ROM. Les versions éditeur des jeux, réservées aux professionnels et notamment destinées aux
					démonstrations en magasin, sont communément appelées <em>blue disc</em>, ces fameux jeux que vous avez peut être acheté d'occas' alors qu'ils sont
					interdits à la vente.
					<br>
					Une version compacte de la PS2 est commercialisée en novembre 2004, troisième modification importante apportée à la console. Elle a pour numéro de
					version : SCPH-70000. Sony arrête définitivement la fabrication de l'ancien modèle, et seules les versions compactes sont commercialisées jusqu'à la
					fin officielle de la production.
					<br> 
					Cette version allégée est dénommée PSTwo par la presse spécialisée, mais cette terminologie n'a cependant jamais été utilisée de façon officielle
					par Sony - contrairement au modèle <em>slim</em> de la PS1 qui est bien nommé officiellement PSOne par le constructeur japonais -. Les changements
					apportés concernent la modification du design pour obtenir une machine plus compacte et nettement plus fine. Ainsi, le chargement des disques qui
					s'effectue par le biais d'un tiroir sur la version précédente - chargement frontal comme sur les platines DVD - s'effectue désormais sur le dessus de
					la console comme sur la PS1. Le volume est réduit d’environ 75 % et son poids passe de plus de 2 kg à 900 grammes.
					<br> 
					Cette modification est associée à l'externalisation du boîtier d'alimentation et de la suppression du bouton ON/OFF - marche/arrêt - situé à l'arrière
					de la machine, celle-ci reste donc constamment en veille si elle n'est pas débranchée. Elle concerne également l'ajout d'un port Ethernet pour le jeu
					en réseau - le modèle original demandant l'ajout d'une extension -. Une nouvelle révision de la PlayStation 2 Slim sort en 2007 au Japon - 2008 en
					Europe et aux USA - pour numéro de version SCPH-9000x, en plus de quelques changements cosmétiques au niveau du design visant à la rendre plus
					moderne, elle supprime désormais le boîtier d'alimentation en l'intégrant directement à l'intérieur de la console.
					<br> 
					Sony en profite pour corriger plusieurs défauts de conceptions tels que des problèmes de surchauffe et la console devient légèrement plus silencieuse.
					Cependant, certains utilisateurs constatent que cette révision de modèle n'est plus capable de gérer la protection des jeux PS1, les bloquant au
					moment de l'accès à l'écran d'accueil, seuls les jeux PS1 piratés restent alors jouables, va comprendre ! Ce sera la dernière révision de la
					PlayStation 2 jusqu'à l’arrêt de la production en janvier 2013.
				</p>
			</section>

			<section>
				<h2 id="box">XBox</h2>
				<ul>
					<li>Concepteurs :  Kevin Bachus, Seamus Blackley et Ted Hase</li>
					<li>Fabricant : <a href="../../glossary/companies.html#ms" title="Microsoft">Microsoft</a></li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2002</li>
							<li>Etats-Unis - 2001</li>
							<li>Europe - 2002</li>
						</ul>
					</li>
					<li>Fin de production - 2009</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - 24.65 millions</li>
							<li>Japon - 530 000</li>
							<li>Etats-Unis - 15.77 millions</li>
							<li>Europe - 7.17 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - 825</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=rFNFuz8B2og" title="Halo 2">Halo 2</a> (8.49 millions) </li>
					<li>XBox - <a href="https://www.youtube.com/watch?v=LMOPhAeUgD8" title="XBox">Edward</a></li>
					<li>XBox - <a href="https://www.youtube.com/watch?v=gL2jiEh6d4E&t=22s" title="XBox">Opium Testing</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/microsoft/xbox.png"><img src="../../../static/img/microsoft/xbox_mini.png" alt="XBox"
						title="La toute première console de Microsoft :  La XBox"></a>
				</figure>
				<h3>Sa nouvelle petite histoire...</h3>
				<p>
					La Xbox de Microsoft est une console sortie aux États-Unis le 15 novembre 2001. Microsoft fait ses premiers pas dans le secteur vidéo-ludique après
					avoir notamment collaboré avec Sega pour porter Windows CE sur Dreamcast et pour avoir développé depuis plusieurs années déjà des jeux
					<a href="../../glossary/companies.html#xboxstudios" title="Microsoft Game Studios">Microsoft Game Studios</a> et des accessoires de jeux
					<em>SideWinder</em> pour les PC sous Windows. La différence avec un PC est qu'une Xbox n'exécute que des programmes Xbox provenant d'un média au
					format propriétaire Microsoft sur DVD, format qui n'est lisible que par le lecteur DVD de la Xbox. Microsoft, dont ses principaux rivaux sont la
					PlayStation 2 de Sony, la Gamecube de Nintendo et la Dreamcast de Sega, cherche à faire évoluer la Xbox, d'abord consacrée uniquement au jeu vidéo,
					vers une station multimédia interactive en ligne et lance fin 2002 le Xbox Live. Microsoft n'est pas le premier à inclure de l'internet dans une
					console mais c'est lui qui va le populariser.
				</p>
				<h3>Lancement...</h3>
				<p>
					Microsoft repousse plusieurs fois  la conception de la console. Mais à la fin de l'année 1999, Bill Gates déclare qu'un appareil multimédia est
					essentiel à la nouvelle figure des temps modernes : le divertissement numérique. Le <em>Xbox Project</em> est officiellement confirmé par
					Microsoft le 10 mars 2000. La console sera présentée lors de l'<a href="../../Glossary/Companies.html#e3" title="E3">E3</a> de janvier 2001 par
					Bill Gates.
					<br>
					Historiquement, le succès remarquable de la PlayStation de Sony inquiète Microsoft. Le marché grandissant du jeu vidéo semble perturber le marché du
					PC que Microsoft domine et sur lequel se base la majorité de ses revenus. Une entrée dans le monde des jeux vidéo diversifierait la ligne de produits
					Microsoft, qui s'est jusqu'alors concentré uniquement sur ses logiciels. Dean Takahashi, dans son livre Opening the Xbox, affirme que la Xbox est
					nommée au départ <em>DirectX-box</em> pour montrer l'usage du DirectX dans la technologie de la console. La direction retient finalement le nom
					<em>Xbox</em> comme nom final pour la console.
					<br> 
					L'architecture de la console est proche des ordinateurs PC, avec un processeur Intel couplé au système d'exploitation
					<a href="../../glossary/technicalTerms.html#windows" title="Windows">Windows</a>, ceci permet une programmation avec une version optimisée de l'
					<a href="../../glossary/technicalTerms.html#api" title="API">API</a> <a href="../../Glossary/TechnicalTerms.html#directx" title="DirectX">DirectX</a>,
					standard connu de développement des jeux sous Windows. Les développeurs ayant déjà travaillé sur des jeux PC sont efficaces rapidement et les
					conversions PC/Xbox sont simplifiées. Parmi les titres phares de la console, on retrouve
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=nKST7FRXS4g" title="Dead or Alive 3">Dead or Alive 3</a></li>
					<li><a href="https://www.youtube.com/watch?v=qcKn69hOvrE" title="Oddworld 3">Oddworld 3</a></li>
					<li><a href="https://www.youtube.com/watch?v=W-lr2R_J5y8" title="Project Gotham Racing">Project Gotham Racing</a></li>
					<li><a href="https://www.youtube.com/watch?v=tJ8Ekhv9SY0" title="Halo">Halo</a></li>
					<li><a href="https://www.youtube.com/watch?v=92dPslgbPBU" title="Forza Motorsport">Forza Motorsport</a></li>
					La XBox possède aussi de nombreux remakes de la console Dreamcast, Microsoft ayant à l'époque signé un accord pour lancer des jeux avec Sega comme
					<li><a href="https://www.youtube.com/watch?v=Yv7MKCLv0Us" title="Panzer Dragoon Orta">Panzer Dragoon Orta</a></li>
					<li><a href="https://www.youtube.com/watch?v=wmk6LBEzg4Y" title="Crazy Taxi">Crazy Taxi</a></li>
					<li><a href="https://www.youtube.com/watch?v=PB0s1_QKn-Y" title="NBA 2K2">NBA 2K2</a></li>
					<li><a href="https://www.youtube.com/watch?v=kEbTc1RfaLA" title="NFL 2K2">NFL 2K2</a></li>
					<li><a href="https://www.youtube.com/watch?v=guoJ82bJUEY" title="Shenmue 2">Shenmue II</a></li>
				</ul>
				<h3>XBox Live...</h3>
				<p>
					La Xbox est le premier système compatible avec le Xbox Live. Ce service de jeu en ligne créé par Microsoft permet de connecter la console à Internet.
					Il sort fin 2002 aux États-Unis puis en mars 2003 en Europe et permet aux joueurs du monde entier de s'affronter sur les jeux en ligne.
					<br> 
					Le Xbox Live est également utilisé pour télécharger du contenu - gratuit ou payant - ou des démos, et pour acheter des jeux complets bien évidemment.
					Le Xbox Live ajoute un élément important au jeu en ligne : la possibilité de dialoguer avec les autres joueurs grâce à un micro-casque, permettant
					ainsi de parler stratégie avec ses équipiers ou de défier ses adversaires - ou de s'insulter dans toutes les langues -. Il y a  aussi une déclinaison
					du Xbox Live, le <em>XSN</em>, qui permet d'avoir un classement mondial sur une gamme de jeux de sport estampillés Microsoft.
					<br> 
					La firme de Redmond déclare son désir d'arrêter les serveurs de l'ensemble des jeux de la Xbox proposant une fonctionnalité au Live - soit 550 jeux
					environ - début 2010. Cette décision est argumentée et mûrement réfléchie selon Microsoft, car cette première version du Xbox Live empêche d'apporter
					de nouvelles fonctionnalités aux versions ultérieures, comme dépasser la limite des 100 personnes ajoutées à la liste d'amis.
					<br> 
					Le XBL 1.0 ferme officiellement le 15 avril à minuit, privant de facto les 11 000 personnes l'utilisant encore. Cependant le jour suivant, une
					trentaine de personnes restent connectées malgré sa fermeture, sur le jeu "Halo 2", jeu le plus joué en ligne sur XBox. En effet, tant que les
					utilisateurs restent en ligne avant l'arrêt définitif des serveurs, ces derniers ne peuvent s'auto-déconnecter tant que ces joueurs demeurent
					connectés à ceux-ci. Ainsi le 24 avril, Microsoft déclare que douze 'résistants' jouent actuellement en ligne à ce jeu et, à la surprise générale,
					encourage cet acte et le qualifie d'héroïque. Hélas, les consoles doivent rester en fonctionnement jusqu'à une déconnexion involontaire de leur FAI,
					de leur simple chef ou de la surchauffe de l'appareil. Finalement, le joueur Apache N4sir quitte "Halo 2" à 23h19 le 10 mai 2010, ce qui fait de lui
					le dernier véritable membre du premier Xbox Live et mit fin officieusement à ce service quelques minutes plus tard.
				</p>
			</section>

			<aside>
				<h2 id="samsung">Nuon</h2>
				<figure>
					<a href="../../../static/img/samsung/nuon.jpg"><img src="../../../static/img/samsung/nuon_mini.png" alt="Nuon"
						title="La manette ne vous rappelle-t-elle pas une autre machine ?"></a>
					<a href="../../../static/img/samsung/nuonDVD.jpg"><img src="../../../static/img/samsung/nuonDVD_mini.png" alt="Nuon" title="Et celle-ci ?"></a>
				</figure>
				<p>Nuon - <a href="https://www.youtube.com/watch?v=Oet6uWn5yIs" title="Nuon">Top Hat Gaming Man</a></p>
				<h3>Sa petite histoire lui aussi...</h3>
				<p>
					La Nuon est une console de jeux vidéo développée par <a href="../../glossary/companies.html#samsung" title="Samsung">Samsung</a>, sortie courant
					2000 et produite jusqu'en 2003. C'est aussi et surtout un lecteur multimédia au même titre que la 3DO de Panasonic ou le CD-i de Philips. Mais avant
					tout, Nuon est une technologie qui ajoute des fonctionnalités à un lecteur DVD : on peut donc jouer à des jeux vidéo et utiliser des outils de
					navigation DVD améliorés tels que le zoom et le balayage fluide de la lecture  DVD. On peut également lire les CD tandis que le processeur graphique
					Nuon génère des graphiques synchronisés à l'écran. Il a également un accès Internet.
					<br>
					Nuon commence à l'origine sous le nom de <em>Project X</em> et figure dans le guide d'achat des consoles de jeux vidéo de 1999 d'
					<em>Electronic Gaming Monthly</em>. Jeff Minter, l'un des principaux développeurs de logiciels Nuon, crée une version de Tempest intitulée
					<a href="https://www.youtube.com/watch?v=8jmE3tfp1Lk" title="Tempest 3000">Tempest 3000</a> - petit conseil, ne prenez pas de substances illicites
					avant de regarder cette vidéo sinon on vous perd à jamais -. Au total huit jeux sortent sur Nuon - comme au temps des premières consoles dédiées -.
					<br> 
					La plateforme Nuon est principalement commercialisée en tant que format lecteur DVD. Les lecteurs Nuon vendus ressemblent à des lecteurs DVD grand
					public typiques, la seule différence notable étant le logo Nuon. Les lecteurs offrent un certain nombre de fonctionnalités qui ne sont pas disponibles
					sur d'autres lecteurs DVD de l'époque lors de la lecture de titres au format DVD standard. Celles-ci incluent une marche avant et retour arrière très
					fluides et la possibilité de zoomer en avant et en arrière en douceur sur des sections de l'image vidéo. De plus, Nuon fournit une plate-forme
					logicielle aux auteurs de DVD pour introduire de l'interactivité. Nuon est créée par VM Labs - entreprise de semi-conducteurs, dont les actifs sont
					vendus à Genesis Microchip en avril 2002 -. La technologie Nuon est abandonnée en novembre 2004.
				</p>

				<h2 id="psx">PSX DVR</h2>
				<figure>
					<a href="../../../static/img/sony/PSX.jpg"><img src="../../../static/img/sony/PSX_mini.png" alt="PSX DVR"
						title="La PSX DVR, une bonne idée mais un échec cuisant de Sony"></a>
				</figure>
				<p>PSX DVR - <a href="https://www.youtube.com/watch?v=c1Ze0kOx6Po" title=">PSX DVR">Modern Vintage Player</a></p>
				<h3>Sa petite histoire en eau de boudin...</h3>
				<p>
					La PSX DVR est une console de jeux vidéo élaborée par Sony, faisant principalement office de centre multimédia. Cette console est sortie le 13
					décembre 2003 au Japon uniquement. C'est une PS2 améliorée à l'aspect inédit, comportant un graveur de DVD, un tuner Télé intégré et un disque dur de
					160 Go - 250 Go pour les dernières versions -.
					<br> 
					Quoi ? Mais la PSX est l'autre nom de la première PlayStation ! Hé oui ! Et cela peut porter à confusion mais cette machine est capable d'enregistrer
					des programmes de télévision sur le disque dur et de graver ces enregistrements sur DVD, son interface graphique bénéficie également de la fameuse
					<a href="../../glossary/technicalTerms.html#xross" title="Cross Media Bar">Cross Media Bar</a> - ou XMB que l'on retrouve sur les PSP et PS3 -
					permettant de naviguer à l'écran dans les différentes sections que propose la machine - musique, vidéo... -, par l'intermédiaire d'icônes dédiées.
					Seulement, la PSX est un énorme échec commercial de Sony au Japon, pour ces raisons la firme décide de ne pas sortir cette console en Europe ni aux
					États-Unis.
				</p>
			</aside>
		</article>
	</main>
	<footer>
		<p>
            &copy; 2021 - Lyasen - tous droits réservés
        </p>

        <h4>Mes sites recommandés :</h4>            
        <ul>
            <li>ActuGaming.net</li>
            <li>GameBlog</li>
            <li>Gamekult</li>
            <li>JeuxActu</li>
            <li>jeuxvideo.com</li>
            <li>YouTube</li>
        </ul>
        
        <p>
            <a href="mailto:consolStory@protonmail.com">Nous contacter</a>            
        </p>
	</footer>
</body>
</html>