<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Consol'Story - Histoire de la Huitième Génération de consoles de jeux vidéos</title>
	<!--	Tags meta	-->
	<meta name="description" content="L'avant-dernière génération de consoles mais toujours très présentes dans nos existences et qui cloturera son règne en fin d'année,
		faisant place à la nouvelle génération des Playstation et X-Box">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--	Links	-->
	<link rel="stylesheet" href="EighthGen.css">
	<link rel="shortcut icon" href="../../../static/logo/purple_logo.png" type="image/x-icon">
</head>

<body>
	<header>
		<h1>2011 - 2020 : Consoles Huitième Génération</h1>
			<nav>
			<ul>
				<li><a href="../../main.html" title="Accueil">Retour vers l'accueil</a></li>
				<li><a href="../firstGen/firstGen.html" title="Première génération">Première génération</a></li>
				<li><a href="../secondGen/secondGen.html" title="Seconde génération">Seconde génération</a></li>
				<li><a href="../thirdGen/thirdGen.html" title="Troisième génération">Troisième génération</a></li>
				<li><a href="../fourthGen/fourthGen.html" title="Quatrième génération">Quatrième génération</a></li>
				<li><a href="../fifthGen/fifthGen.html" title="Cinquième génération">Cinquième Génération</a></li>
				<li><a href="../sixthGen/sixthGen.html" title="Sixième Génération">Sixième Génération</a></li>
				<li><a href="../seventhGen/seventhGen.html" title="Septième Génération">Septième Génération</a></li>
				<li><a href="../ninthGen/ninthGen.html" title="Neuvième génération">Neuvième génération</a></li>
			</ul>
			<ul>
				Consoles huitième génération:
				<li><a href="#wii" title="Wii U">Wii U</a> - Nintendo</li>
				<li><a href="#ps4" title="PlayStation 4">PlayStation 4</a> - Sony</li>
				<li><a href="#one" title="X-Box One">X-Box One</a> - Microsoft</li>
				<li><a href="#nvidia" title="Shield">Shield</a> - Nvidia</li>
				<li><a href="#gstick" title="GameStick">GameStick</a> - PlayJam</li>
				<li><a href="#ouya" title="Ouya">Ouya</a> - Ouya</li>
			</ul>
		</nav>
	</header>

	<main>
		<article>
			<section>
				<h2 id="wii">Wii U</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#nintendo" title="Nintendo">Nintendo</a></li>
					<li>Fabricant : Nintendo</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2012</li>
							<li>Etats-Unis - 2012</li>
							<li>Europe - 2012</li>
						</ul>
					</li>
					<li>Fin de production - 2017</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - 13.56 millions</li>
							<li>Japon - 3.30 millions</li>
							<li>Etats-Unis - 6.41 millions</li>
							<li>Europe - 3.65 millions</li>
							<li>France - 868 000</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - 157</li>
					<li>Ventes de jeux - 103.01 millions</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=mFY0unVSl4M" title="Mario Kart 8">Mario Kart 8</a> (8.44 millions d'unités)</li>
					<li>Wii U - <a href="https://www.youtube.com/watch?v=H8Ivtd1qu50&t=83s" title="Wii U">Bakovian</a></li>
					<li>Wii U - <a href="https://www.youtube.com/watch?v=eKGL-x28d-Y" title="Wii U">Conkerax</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/nintendo/wiiU.png"><img src="../../../static/img/nintendo/wiiU_mini.png" alt="Wii U"
						title="La Wii U, un échec commercial"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La Wii U, sortie fin 2012, est la première des consoles de huitième génération et se retrouve en concurrence avec la Xbox One de Microsoft et la
					PlayStation 4 de Sony. C'est la première console Nintendo à prendre en charge les graphismes HD. Le contrôleur principal est le Wii U GamePad qui
					dispose d'un écran tactile intégré, de boutons directionnels, de sticks analogiques et de boutons d'action. L'écran peut être utilisé soit en
					complément de l'affichage principal soit dans les jeux pris en charge pour jouer au jeu directement sur le GamePad. La manette Wii U Pro peut être
					utilisée à sa place comme alternative plus traditionnelle.
					<br> 
					La Wii U est rétrocompatible avec tous les logiciels et accessoires Wii. Les jeux prennent en charge n'importe quelle combinaison du GamePad, de la
					télécommande Wii, du Nunchuk, de la Balance Board, de la manette classique ou de la manette Wii U Pro. La fonctionnalité en ligne se concentre sur la
					plateforme Nintendo Network et Miiverse, un réseau social intégré permettant aux utilisateurs de partager du contenu dans des communautés spécifiques
					au jeu. La Wii U reçoit un accueil positif, qui fait notamment éloge de son contrôleur GamePad innovant, des améliorations des fonctionnalités en
					ligne par rapport à la Wii, de sa rétrocompatibilité avec les logiciels et périphériques Wii existants et à un prix relativement abordable.
					<br> 
					Côté négatif, on retiendra la courte durée de vie de la batterie du GamePad, les problèmes d'interface utilisateur et de fonctionnalité de la console.
					La Wii U rencontre une adoption lente par les consommateurs, avec de faibles ventes principalement attribuables à une faible gamme de titres de
					lancement, un support de développeurs tiers limité, et une mauvaise commercialisation. La production de Wii U prend fin en janvier 2017 et fera place
					le 3 mars à la Nintendo Switch qui conserve et affine les concepts introduits pour la première fois avec la Wii U.
				</p>
				<h3>Lancement...</h3>
				<p>
					Nintendo souhaite ramener les joueurs 'de base'. Le concepteur de jeux, Shigeru Miyamoto, admet que le manque d'infrastructure HD et de réseau limité
					pour la Wii contribue à ce que le système reste considéré dans une classe proche des systèmes concurrents PlayStation 3 et Xbox 360.
					<br> 
					Les idées sur la direction à prendre pour la nouvelle console suscitent de nombreux débats au sein de l'entreprise, et le projet recommence à zéro à
					plusieurs reprises. Le concept d'un écran tactile intégré dans le contrôleur est à l'origine inspiré par la lumière bleue sur le plateau de disque Wii
					qui s'allume pour indiquer de nouveaux messages. Miyamoto et son équipe veulent inclure un petit écran pour fournir des commentaires sur le jeu et des
					messages d'état aux joueurs - similaire au VMU pour la Dreamcast de Sega -. Plus tard durant le développement, cela est étendu à un écran complet qui
					affiche le jeu en cours de lecture dans son intégralité.
					<br> 
					Des rumeurs entourant la console commencent à apparaître en 2010, avec des spéculations sur une prochaine révision de la Wii prévue pour 2011 connue
					sous le nom de <em>Wii HD</em>, qui prendrait en charge la vidéo haute définition et disposerait d'un lecteur de disque Blu-ray. Cependant, le
					président de Nintendo Satoru Iwata ne voit aucune raison significative d'inclure la HD dans la Wii et qu'un tel ajout conviendrait mieux à un
					successeur. Miyamoto exprime également l'intérêt de Nintendo pour travailler avec des graphismes HD, mais précise que la société se concentre
					principalement sur le gameplay. Miyamoto déclare que Nintendo n'a aucun plan concret concernant sa prochaine console, mais pense que le nouveau
					système continuera à comporter des commandes de mouvement, il s'attend également à ce que son interface soit plus compacte et moins chère. Iwata
					mentionne que le successeur de la Wii pourrait être compatible 3D, mais en conclut que les taux d'adoption des téléviseurs 3D devraient augmenter d'au
					moins 30% en premier. Bref ! &#199;a blablatte !
					<br> 
					Le président de Nintendo of America Reggie Fils-Aimé, se sent
					<cite>
						&#10077;confiant que la Wii ait une très longue vie devant elle et qu'un successeur ne serait pas lancé dans un avenir proche&#10080;
					</cite>.
					Après sa présentation de l'<a href="https://www.youtube.com/watch?v=CwtQ1QGs0bg" title="E3 2010">E3 2010</a>, Iwata révèle à la BBC que Nintendo
					commencerait à annoncer une nouvelle console une fois qu'elle sera à court d'idées avec le matériel actuel et n'apporterait que plus de surprises aux
					utilisateurs. Nintendo étudie et développe bien sûr la prochaine console Wii, mais garde ses concepts secrets car il est vraiment important pour son
					entreprise de surprendre positivement les gens.
					<br>
					Nintendo annonce un successeur à la Wii pour 2012 et que des consoles jouables seront présentes à l'E3 2011. Pour Iwata, le successeur offre quelque
					chose de nouveau pour les systèmes de jeu à domicile. La nouvelle console comporte un contrôleur avec un écran tactile de 6 pouces qui permet des
					commandes de type tablette pour les jeux, ainsi qu'une batterie rechargeable et un appareil photo.
					<br> 
					<em>Project Coffee</em> est officiellement dévoilé sous le nom de Wii U lors de la conférence de presse de Nintendo à l'
					<a href="https://www.youtube.com/watch?v=eToRfMrjbzM" title="E3 2011">E3 2011</a> par le Reggie Fils-Aimé. La Wii U est
					<cite>
						&#10077;un système que nous apprécierons tous ensemble, mais aussi un système sur mesure pour vous&#10080;
					</cite>.
					Du matériel prototype et une série de démonstrations technologiques sont disponibles pour les participants, présentant les concepts de gameplay et les
					capacités technologiques de la console, y compris une démo graphique sur le thème de
					<a href="https://www.youtube.com/watch?v=35ZUH2YoShg" title="The Legend of Zelda">The Legend of Zelda</a> et
					<a href="https://www.youtube.com/watch?v=1uetntyZ5fA" title="New Super Mario Bros">New Super Mario Bros</a>.
					<br> 
					Deux jours après, les actions de Nintendo chutent de près de 10% à des niveaux jamais vus depuis 2006. Certains analystes expriment leur scepticisme
					quant à l'ajout d'un écran tactile, craignant que le contrôleur soit moins abordable et moins innovant que la télécommande Wii d'origine. Mais
					niques ta mère les analystes, Iwata annonce la Wii U en fin d'année dans toutes les grandes régions et que ses spécifications finales seraient
					dévoilées à l'<a href="https://www.youtube.com/watch?v=e1dUDq74cHo" title="E3 2012">E3 2012</a>.
					<br> 
					La console comporte un système en ligne connu sous le nom de Nintendo Network, qui offre une prise en charge des comptes d'utilisateurs. Nintendo
					Network fournit également le cadre des interactions multijoueurs en ligne, le contenu additionnel, ainsi que la distribution en ligne des applications
					et des jeux vidéo. Iwata mentionne que la Wii U GamePad prend en charge <a href="../../glossary/technicalTerms.html#nfc" title="NFC">NFC</a> pour
					une interaction sans fil. Cela permet également aux microtransactions de s'effectuer à l'aide de cartes de crédit prenant en charge NFC. Bill Trinen,
					directeur principal du marketing produit de Nintendo of America, admet que le marketing de pré-lancement de Nintendo et les présentations de la Wii U
					se sont trop concentrées sur le GamePad, au point que certains consommateurs confondent l'appareil comme un accessoire de la Wii existante plutôt que
					comme un composant d'une plateforme entièrement nouvelle.
				</p>
				<h3>Et les jeux...</h3>
				<p>
					Les jeux Wii U peuvent être téléchargés numériquement via le Nintendo eShop ou au détail sur des supports physiques. Les copies des jeux sont
					distribuées sur <a href="../../glossary/technicalTerms.html#nod" title="Wii U Optical Disc">Wii U Optical Disc</a>, un format de disque optique
					co-développé avec Panasonic. Le format est similaire dans sa conception et ses spécifications à un Blu-ray, avec une capacité de 25 Go par couche.
					Contrairement aux consoles Nintendo précédentes, les manuels de jeu ne sont disponibles que sous une forme numérique.
					<br> 
					De nouveaux jeux dans les franchises phares de Nintendo - "Super Mario", "Donkey Kong" et "The Legend of Zelda" -, ainsi que plusieurs jeux de la
					série Wii -" Wii Sports Club", "Wii Fit U" et "Wii Party U" - sont lancés, en plus de nombreux jeux originaux. Nintendo reçoit par ailleurs un soutien
					de
				</p>
				<ul>
					<li><a href="../../glossary/companies.html#ubisoft" title="Ubisoft">Ubisoft</a></li>
					<li><a href="../../glossary/companies.html#sega" title="Sega">Sega</a></li>
					<li><a href="../../glossary/companies.html#warner" title="Warner Bros. Interactive Entertainment">Warner Bros. Interactive Entertainment</a></li>
					<li><a href="../../glossary/companies.html#activision" title="Activision Blizzard">Activision Blizzard</a></li>
					<li><a href="../../glossary/companies.html#capcom" title="Capcom">Capcom</a></li>
				</ul>
				<p>
					et divers développeurs indépendants tels que Two Tribes, développeur néerlandais. Un total de 103,01 millions de jeux Wii U sont vendus dans le monde,
					avec dix titres dépassant le million d'unités. Le plus vendu est Mario Kart 8 avec 8,44 millions d'unités, suivi de
					<a href="https://www.youtube.com/watch?v=ID4UYlhyJR0" title="Super Mario 3D World">Super Mario 3D World</a> avec 5,83 millions d'unités et "New Super
					Mario Bros. U" avec 5,79 millions d'unités.
				</p>
				<h3>Au revoir Wii U !..</h3>
				<p>
					<a href="../../Glossary/Companies.html#ea" title="Electronic Arts">Electronic Arts</a> annonce qu'il réduit la prise en charge de la Wii U à partir
					de mai 2013  car
					<cite>
						&#10077;nous construisons des titres pour la console Nintendo, mais pas autant que pour PlayStation ou Xbox&#10080;
					</cite>.
					<br> 
					À l'<a href="https://www.youtube.com/watch?v=IuBnmuECZo0" title="E3 2013">E3 2013</a>, Ubisoft révèle qu'il ne fait plus d'exclusivités pour la Wii U
					jusqu'à ce que les ventes de la console s'améliorent, pour dire peu de temps après qu'il est toujours un grand partisan de la Wii U, et prévoit de
					sortir autant de jeux Wii U en 2013 qu'en 2012.
					<br> 
					<a href="../../glossary/companies.html#bethesda" title="Bethesda Softworks">Bethesda Softworks</a> annonce aucun jeu en développement pour la Wii U,
					Pete Hines
					<cite>
						&#10077;Cela dépend des jeux que nous créons et de la façon dont nous pensons qu'il s'aligne sur cette console, et comment le matériel s'aligne
						avec les autres trucs que nous faisons&#10080;
					</cite>.
					Cette merveilleuse explication pour dire qu'ils se fichent de la Wii U ! Au contraire d'Activision qui fait tout ce qu'il peut pour soutenir le
					système.
					<br>
					L'avenir de la Wii U est longtemps resté incertain avec l'annonce par Nintendo d'une nouvelle plateforme de console nommée <em>NX</em>, qui devait
					être lancée dans le monde entier en mars 2017. Nintendo déclare que NX aurait un tout nouveau concept. Le président de la société, Tatsumi Kimishima,
					réitère cette position et pense que la console aurait un impact plus important que la Wii U.
					<br> 
					<a href="https://www.youtube.com/watch?v=tGHXtSaVwG8" title="The Legend of Zelda">The Legend of Zelda : Breath of the Wild</a>, en cours de
					développement pour Wii U et NX, soutient cette vision de Nintendo de la console comme étant une nouvelle gamme de produits, plutôt qu'un remplacement
					de son matériel existant. Kimishima et Miyamoto s'attendaient à ce que la Wii U dépassent cent millions d'unités vendues, comparable au succès de la
					Wii, mais avec seulement treize millions d'unités écoulées dans le monde, ils doivent désormais compter sur NX pour compenser les pertes sur ces
					ventes. La nouvelle plateforme, maintenant connue sous le nom de Nintendo Switch, est officiellement annoncée le 20 octobre 2016. Fils-Aimé déclare
					dans la foulée que "Breath of the Wild" serait livré au lancement avec la Switch en mars et dernier titre pour la Wii U. La production de la Wii U
					prend fin dans le monde le 31 janvier 2017.
				</p>
			</section>

			<section>
				<h2 id="ps4">PlayStation 4</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#sony" title="Sony">Sony</a></li>
					<li>Fabricant : Sony Computer Entertainment</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2014</li>
							<li>Etats-Unis - 2013</li>
							<li>Europe - 2013</li>
						</ul>
					</li>
					<li>Fin de production - en production</li>
					<li>Ventes de la console (en unités) - Chiffres au 31/12/2019 - :
						<ul>
							<li>Monde - 108.9 millions</li>
							<li>Japon - 8.81 millions</li>
							<li>Etats-Unis - 35.2 millions</li>
							<li>Europe - 43.3 millions</li>
							<li>France - 6 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - 4000</li>
					<li>Ventes de jeux - 1 181 milliards à janvier 2021</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=6r-AzIPKnV8" title="Grand Theft Auto 5">Grand Theft Auto V</a>
						(19.39 millions d'unités)
					</li>
					<li>PS4 - <a href="https://www.youtube.com/watch?v=-dKNKyrKsho" title="PS4">PNfamily</a></li>
					<li>PS4 Pro vs X-Box One-X - <a href="https://www.youtube.com/watch?v=081dcB_Lncs"
							title="PS4 Pro vs X-Box One-X">Les petites anecdotes du jeu vidéo</a>
					</li>
				</ul>
				<figure>
					<a href="../../../static/img/sony/ps4_originale.jpg"><img src="../../../static/img/sony/ps4_originale_mini.png" alt="PS4"
						title="La PlayStation 4, meilleure console à l'heure actuelle"></a>
					<a href="../../../static/img/sony/ps4_Slim.jpg"><img src="../../../static/img/sony/ps4_Slim_mini.png" alt="PS4 slim"
						title="La version slim"></a>
					<a href="../../../static/img/sony/ps4_Pro.jpg"><img src="../../../static/img/sony/ps4_Pro_mini.png" alt="PS4 pro" title="La version pro"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La PlayStation 4 est, depuis son lancement en 2013, la quatrième console la plus vendue de tous les temps. Elle est en concurrence avec la Xbox One de
					Microsoft, la Wii U et la Switch de Nintendo. La PS4 se base sur un processeur <a href="../../glossary/companies.html#amd" title="AMD">AMD</a> établi
					sur l'architecture x86-64 bits, qui théoriquement culmine à 1,84 <a href="../../glossary/technicalTerms.html#tflop" title="téraflops">téraflops</a>,
					AMD déclarant qu'il s'agit de l'APU le plus puissant qu'il ait développé à ce jour - du moins jusqu'à l'arrivée de la Playstation 5 -.
					<br> 
					La PS4 met davantage l'accent sur l'interaction sociale et l'intégration avec d'autres appareils et services, y compris la possibilité de jouer à des
					jeux hors console sur PlayStation Vita et d'autres appareils pris en charge - <em>Remote Play</em> -, la diffusion du gameplay en ligne ou à des amis
					- <em>Share Play</em> -. La manette de la console est également repensée et améliorée par rapport à la PlayStation 3, avec des boutons et des sticks
					analogiques améliorés, et un pavé tactile intégré, entre autres changements. La console prend également en charge la
					<a href="../../glossary/technicalTerms.html#hdr" title="vidéo HDR10">vidéo HDR10</a> et la lecture de multimédia à résolution 4K - format d'image
					numérique ayant une définition supérieure ou égale à 3 840 pixels de large -.
					<br> 
					La console est acclamée par la critique, félicitant Sony d'avoir reconnu les besoins de ses consommateurs, d'avoir adopté le développement de jeux
					indépendants et de ne pas avoir imposé les systèmes de gestion des droits numériques restrictifs comme ceux annoncés par Microsoft pour la Xbox One.
					Les critiques et les studios de développement saluent également les capacités de la PlayStation 4 par rapport à ses concurrents : les développeurs
					décrivent cette différence de performances entre la console et la Xbox One comme significative et évidente.
					<br> 
					L'augmentation de la demande aide également Sony à atteindre les meilleures ventes mondiales de consoles. Plus de 106 millions de consoles PS4 sont
					expédiées dans le monde à fin 2020, dépassant les ventes à vie de la PlayStation 3. Sony dévoile la <em>PlayStation 4 Slim</em> le 7 septembre 2016,
					une version plus petite de la console et une version haut de gamme appelée <em>PlayStation 4 Pro</em>, disposant d'un processeur graphique et d'une
					fréquence d'horloge du processeur plus élevée pour prendre en charge des performances améliorées et une résolution 4K dans les jeux pris en charge.
				</p>
				<h3>Lancement...</h3>
				<p>
					Selon l'architecte principal Mark Cerny, le développement de la quatrième console de Sony commence dès 2008. Moins de deux ans auparavant, la
					PlayStation 3 est lancée après des mois de retards dus à des problèmes de production. Le retard a placé Sony près d'un an en arrière de la Xbox 360,
					qui approchait déjà des ventes à 10 millions au moment du lancement de la PS3. Le PDG de PlayStation Europe, Jim Ryan, veut éviter que Sony répète la
					même erreur avec son successeur.
					<br> 
					Lors de la conception du système, Sony travaille avec le développeur de logiciels
					<a href="../../glossary/companies.html#bungie" title="Bungie">Bungie</a>, qui offre son avis sur la manette et comment l'améliorer pour les jeux de
					tir. Sony commence à expédier des kits de développement aux développeurs de jeux en 2012 connus sous le nom d'<em>Orbis</em>.
					<br> 
					Sony annonce un nouvel événement <a href="https://www.youtube.com/watch?v=RiNGZMx2vhY" title="PlayStation Meeting 2013">PlayStation Meeting 2013</a>
					se tenant à New York, aux États-Unis, pour couvrir l'avenir de la PlayStation et présente officiellement la PlayStation 4. La PS4 est lancée dans
					pratiquement le monde entier fin 2013 sauf au Japon où elle ne sortira qu'en début d'année suivante.
					<br> 
					Sony conclut un accord avec le gouvernement chinois en mai 2014 pour vendre ses produits, et la PS4 sera la première console à sortir en Chine. Sony
					confirme qu'une révision matérielle de la PlayStation 4, dont le nom de code est <em>Neo</em>, est en cours de développement à juin 2016. La nouvelle
					révision est un modèle haut de gamme destiné à prendre en charge le gameplay en 4K. Ce nouveau modèle sera vendu aux côtés du modèle existant et tous
					les logiciels existants seront compatibles entre les deux modèles.
					<br> 
					Sony n'a pas l'intention de biaiser le marché, seulement que les joueurs jouant sur la Neo
					<cite>
						&#10077;auront la même expérience, mais l'un sera livré à une résolution plus élevée, avec une expérience graphique améliorée, mais tout le reste
						va être exactement ce que vous attendez&#10080;
					</cite>.
					Cette Neo est bien évidemment la PS4 Pro. Dans le même temps, Sony sort une version mise à jour du modèle PS4 d'origine en une version plus petite :
					la PS4 slim. Sony Interactive, via John Kodera, PDG de la branche divertissement chez Sony, déclare en mai 2018 que la PlayStation 4 se dirige vers la
					fin	de son cycle de vie et que la société prévoit une baisse des ventes de matériel d'une année à l'autre. Sony anticipe cette baisse attendue en se
					concentrant sur le renforcement de l'engagement des utilisateurs, y compris la poursuite des investissements dans de nouveaux jeux en propre et
					d'autres services en ligne. Mais en ce début d'année 2021, la PS4 est toujours en forme !
				</p>
				<h3>L'excellente manette...</h3>
				<p>
					La manette DualShock 4 est le contrôleur principal de la PlayStation 4 : il conserve une fonctionnalité similaire aux versions précédentes de la série
					<a href="../../glossary/technicalTerms.html#dualshock" title="DualShock">DualShock</a>, mais avec des fonctionnalités supplémentaires et des
					améliorations de conception.
					<br> 
					Entre autres réglages, les capuchons des sticks analogiques reçoivent un design concave - similaire au contrôleur Xbox 360 -, la forme des
					déclencheurs et des boutons d'épaule est affinée, les boutons du D-pad ont un angle vers le bas plus raide pour fournir un espace au centre pour le
					repos du pouce de l'utilisateur et les poignées sont plus épaisses et soumises à une micro-texturation pour améliorer leur toucher.
					<br> 
					L'ajout majeur à la DualShock 4 est le pavé tactile : capable de détecter jusqu'à deux pressions simultanées et peut être enfoncé comme un bouton. Les
					boutons <em>Démarrer</em> et <em>Sélectionner</em> sont remplacés par les boutons <em>Options</em> et <em>Partager</em>, ce dernier est d'ailleurs
					conçu pour permettre l'accès aux fonctionnalités sociales de la PS4 - y compris le streaming, l'enregistrement vidéo et les outils de capture d'écran
					-. Le contrôleur comprend également un haut-parleur interne et une prise casque. La console est livrée avec une paire d'écouteurs intra-auriculaires.
					Le système de suivi de mouvement du contrôleur est plus sensible que ceux de la PlayStation 3. Une barre lumineuse à LED est également ajoutée à
					l'avant du contrôleur, conçu pour permettre à l'accessoire PlayStation Camera de suivre davantage ses mouvements, mais peut être utilisé pour fournir
					des effets visuels et des commentaires dans les jeux comme refléter la mauvaise santé d'un joueur en devenant rouge.
					<br> 
					La DualShock 4 est compatible avec la PlayStation 3 mais vous perdrez quelques avantages dont les vibrations si vous vous connectez en Bluetooth. Les
					contrôleurs de mouvement PlayStation Move initialement sortis pour la PS3 sont pris en charge pour une utilisation avec la Caméra PlayStation. La
					DualShock 4 se connecte sur PC via une clé USB permettant d'utiliser toutes les fonctionnalités du contrôleur ou de télécharger l'appli
					<em>DS4Windows</em> avec un paramétrage complet.
				</p>
				<h3>La Virtual Reality...</h3>
				<p>
					Le PlayStation VR est un système de réalité virtuelle qui se compose d'un casque, comprend un panneau d'affichage 1080p, des lumières LED sur le
					casque utilisées par la caméra PlayStation pour suivre ses mouvements et un boîtier de commande qui traite les effets audio 3D, ainsi qu'une sortie
					vidéo sur l'écran externe - soit une diffusion simultanée de la perspective VR du lecteur ou offrant une perspective secondaire asymétrique -. Le
					PlayStation VR peut être utilisé avec les manettes PlayStation Move.
				</p>
				<h3>Les jeux et le PSN...</h3>
				<p>
					La PlayStation 4 permet aux utilisateurs d'accéder à une variété de services PlayStation Network - PSN - gratuits et premium, y compris le PlayStation
					Store, le service d'abonnement PlayStation Plus, PlayStation Music optimisé par Spotify et le service d'abonnement PlayStation Video, qui permet aux
					propriétaires de louer ou d'acheter des émissions de télévision et films à la demande. Contrairement à la PS3, un abonnement PlayStation Plus est
					requis pour accéder au multijoueur dans la plupart des jeux, cette exigence ne s'appliquant pas aux jeux gratuits ou aux abonnements.
					<br>
					Les jeux PlayStation 4 sont distribués au détail sur disque Blu-ray et sous forme numérique en téléchargement via le PlayStation Store. Ils ne sont
					pas verrouillés par région, donc les jeux achetés dans une région peuvent être joués sur des consoles partout dans le monde, et les joueurs peuvent se
					connecter à n'importe quelle console PS4 pour accéder à l'intégralité de leur bibliothèque de jeux numériques. Tous les jeux doivent être installés
					sur le stockage de la console. De plus, un système appelé <em>PlayGo</em> permet aux utilisateurs de commencer à jouer des parties d'un jeu - comme
					les niveaux d'ouverture - une fois que l'installation ou le téléchargement atteint un point spécifique, tandis que le reste du jeu est téléchargé ou
					installé en arrière-plan. Les mises à jour des jeux et des logiciels système sont également téléchargées en arrière-plan et en veille, ce qui,
					lorsque l'on a un débit internet assez pauvre, peut rapidement devenir frustant surtout lors de mises à jour régulières comme sur les jeux de sports
					ou jeux en ligne comme "FortNite".
				</p>
			</section>

			<section>
				<h2 id="one">X-Box One</h2>
				<ul>
					<li>Concepteur - Microsoft</li>
					<li>Fabricant - Microsoft</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2014</li>
							<li>Etats-Unis - 2013</li>
							<li>Europe - 2013</li>
						</ul>
					</li>
					<li>Fin de production - en production</li>
					<li>Ventes de la console (en unités) - Chiffres au 31/12/2019 - :
						<ul>
							<li>Monde - 46.13 millions</li>
							<li>Japon - 110 000</li>
							<li>Etats-Unis - 29.79 millions</li>
							<li>Europe - 11.54 millions</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - N/A</li>
					<li>Ventes de jeux - N/A</li>
					<li>Meilleure vente de jeu - Grand Theft Auto V (8.72 millions d'unités)</li>
					<li>X-Box One-S - <a href="https://www.youtube.com/watch?v=rXwyqnrcF8w" title="X-Box One-S">JeuxVideo.com</a></li>
					<li>X-Box One-X - <a href="https://www.youtube.com/watch?v=wrY2zKVM8Dg" title="X-Box One-X">JeuxVideo.com</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/microsoft/xbox-one.jpg"><img src="../../../static/img/microsoft/xbox-one_mini.png" alt="X-Box One"
						title="La X-Box One, console tout-en-un"></a>
					<a href="../../../static/img/microsoft/xbox-oneS.png"><img src="../../../static/img/microsoft/xbox-oneS_mini.png" alt="X-Box One-S"
						title="La X-Box One-S"></a>
					<a href="../../../static/img/microsoft/xbox-oneX.jpg"><img src="../../../static/img/microsoft/xbox-oneX_mini.jpg" alt="X-Box One-X"
						title="La X-Box One-X"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La Xbox One est commercialisée comme un système de divertissement tout-en-un, d'où le nom de <em>Xbox One</em>. S'éloignant de l'architecture
					<a href="../../glossary/technicalTerms.html#powerpc" title="PowerPC">PowerPC</a> de son prédécesseur, la Xbox One marque un retour à l'architecture
					x86 utilisée dans la Xbox d'origine. La manette est retravaillée, avec une nouvelle conception de corps, D-pad et déclencheurs capables de fournir une
					rétroaction <a href="../../glossary/technicalTerms.html#haptique" title="haptique">haptique</a> directionnelle.
					<br> 
					La console met davantage l'accent sur le cloud computing, ainsi que sur les fonctionnalités de réseau social, la possibilité d'enregistrer et de
					partager des clips vidéo ou des captures d'écran du jeu, et de diffuser en direct vers des services de streaming tels que Mixer et Twitch. Les jeux
					peuvent être joués hors console via un réseau local sur les appareils Windows 10 pris en charge. Le Blu-ray est pris en charge et superpose des
					programmes de télévision en direct à partir d'un décodeur existant ou d'un tuner numérique pour la télévision numérique terrestre avec un guide de
					programmes amélioré.
					<br> 
					En option, vous trouvez un capteur <a href="../../glossary/technicalTerms.html#kinect" title="Kinect">Kinect</a> offrant un suivi des mouvements et
					une reconnaissance vocale améliorés. Son nouveau design permet de rendre la console plus fiable mais le style graphique est techniquement inférieur à
					la PlayStation 4. Le modèle Xbox One d'origine est remplacé par la Xbox One S en 2016. Plus petite, elle prend en charge la
					<a href="../../glossary/technicalTerms.html#hdr" title="vidéo HDR10">vidéo HDR10</a>, ainsi que la lecture vidéo 4K et la mise à l'échelle des jeux
					de 1080p à 4K.
					<br> 
					Un modèle haut de gamme, nommé Xbox One X sort en novembre 2017. Elle présente des spécifications matérielles améliorées et un support pour le rendu
					jeux en résolution 4K. La X-Box One est remplacée par la nouvelle génération de console Xbox Series X.
				</p>
				<h3>Lancement...</h3>
				<p>
					Au fil des ans, la 360 reçoit un certain nombre de petites révisions matérielles pour réduire la taille de l'unité et améliorer sa fiabilité. Chris
					Lewis de Microsoft déclare en 2010 que la 360 est à peu près à mi-chemin de son cycle de vie et cela est facilité par l'introduction du capteur de
					mouvement Kinect, prolongeant son existence de cinq ans. Le successeur de la 360, la <em>Xbox 720</em>, est en cours de développement dès mai 2011. Le
					kit de développement officiel porte le nom de code <em>Durango</em> et devient disponible pour les développeurs un an après.
					<br>
					Avant son officialisation, des rumeurs circulent selon lesquelles la prochaine console Xbox serait un système toujours allumé nécessitant une
					connexion Internet constante. Cela suscite certaines inquiétudes des consommateurs, exacerbées lorsque Adam Orth, un employé de Microsoft Studios,
					déclare sur Twitter
					<cite>
						&#10077;Désolé, je ne comprends pas le drame d'avoir une console toujours allumée... Chaque appareil est maintenant «toujours allumé». C'est le
						monde dans lequel nous vivons&#10080;
					</cite>.
					Le message d'Orth suscite une levée de bouclier contre Microsoft, à laquelle s'ajoute des inquiétudes concernant la gestion des droits numériques et
					les pratiques contre la vente de jeux d'occasion. Malgré les déclarations de Microsoft à la suite de cette situation, démentant les rumeurs - comme de
					bien entendu ! -, l'ambiance qu'elle crée persiste au cours des mois suivants.
					<br> 
					La nouvelle console est dévoilée sous le nom de Xbox One le 21 mai 2013 lors d'une conférence de presse présentant l'appareil comme un système de
					divertissement à domicile tout-en-un. L'événement s'est fortement concentré sur les capacités multimédias de l'appareil, démontrant l'intégration avec
					la télévision. Phil Spencer, chef de la Xbox chez Microsoft, rappelle que cette approche a non seulement dérouté les consommateurs quant à l'intention
					de la Xbox One, mais également les employés de Microsoft qui travaillaient sur la machine. Plusieurs employés se sont plaints que cette présentation a
					<cite>
						&#10077;foutu en l'air tout le travail qu'ils avaient accompli en parlant du produit d'une manière qui ne correspondait pas vraiment à l'âme d'une
						console Xbox et ce que leurs clients recherchaient auprès de Microsoft&#10080;
					</cite>.
					À l'<a href="https://www.youtube.com/watch?v=fSXicnwHgss" title="E3 2013">E3 2013</a>, la communication s'est axée miraculeusement sur le jeu vidéo :
					message reçu ! Don Mattrick, président de <em>Microsoft Interactive Entertainment Business</em> à l'époque, décrit l'événement comme tout sur les
					jeux... c'est beau l'inspiration !
					<br> 
					La Xbox One est lancée en septembre 2014, Microsoft annonce d'ailleurs un système de licence de jeu différent pour la Xbox One de celui utilisé lors
					de sa sortie : tous les jeux, y compris ceux achetés au détail, sont liés au compte Xbox Live de l'utilisateur. Les utilisateurs peuvent accéder à
					leurs jeux achetés à partir de n'importe quelle autre console Xbox One, jouer à des jeux sans leur disque une fois installé et permettre aux
					utilisateurs de partager leurs jeux avec dix membres désignés.
					<br> 
					Si un éditeur autorise l'échange ou la revente d'un jeu, les utilisateurs peuvent le faire chez les détaillants participants et peuvent transférer un
					jeu directement à n'importe quel ami Xbox Live de leur liste pendant au moins 30 jours, mais une seule fois par jeu. Pour synchroniser les licences,
					la console doit se connecter à Internet toutes les 24 heures. Si la console ne se connecte pas, tous les jeux sont désactivés jusqu'à ce que la
					console soit à nouveau connectée. La réaction à ce système de gestion des droits numériques est très mal perçu à la lumière des préoccupations
					précédentes concernant la console toujours allumée. Les critiques estiment que les modifications portent atteinte aux droits de première vente des
					consommateurs sur les jeux achetés sur des supports physiques, car les jeux ne sont concédés qu'aux utilisateurs plutôt que vendus, et le disque
					lui-même n'est utilisé que pour installer le jeu et ne confère pas la propriété de sa licence ou sa permission de revendre.
					<br>
					Les éditeurs de jeux décident si les copies physiques de leurs jeux sont éligibles à la revente et peuvent imposer des restrictions ou des frais
					d'activation sur les copies de jeux d'occasion. De plus, le prêt ou la location de jeux n'est pas possible au lancement de la console. L'éditeur de
					GameSpot, Tom Mcshea, poursuit en disant que Microsoft est devenu anti-consumériste,
					<cite>
						&#10077;essayant de punir leurs clients fidèles&#10080;
					</cite>
					avec des restrictions strictes, et qu'en
					<cite>
						&#10077;disant non aux restrictions de jeu utilisées et toujours en ligne que Microsoft implémente si joyeusement sur la Xbox One, Sony élève la
						PlayStation 4 comme console à saisir en cette saison des Fêtes&#10080;
					</cite>.
					<br> 
					Le chef du marketing et de la stratégie Xbox, Yusuf Mehdi, explique que le système est conçu en pensant à la distribution numérique, mais que
					Microsoft maintient la disponibilité des jeux sur support physique. Il note également que Microsoft ne cède pas aux objections des revendeurs de jeux
					d'occasion, mais plutôt essaie d'équilibrer les besoins des consommateurs et de l'industrie, et que les capacités d'échange et de partage de la
					plateforme ajoutent un niveau de flexibilité invisible sur les autres platesformes de distribution en ligne.
					<br> 
					Finalement Microsoft annonce le 19 juin 2013 qu'il modifie sa politique et son modèle de licence de jeu et inverse la politique de Xbox One. Comme
					avec la Xbox 360, les utilisateurs peuvent partager et revendre des jeux physiques sans restrictions, et au-delà d'une mise à jour logicielle
					obligatoire lors du processus de configuration initiale de la console pour permettre la lecture de Blu-ray et de DVD vidéo, la console ne nécessite
					pas de connexion Internet permanente pour fonctionner. Microsoft est également revenu sur une exigence tout aussi controversée pour que le capteur
					Kinect soit connecté à tout moment à la Xbox One pour fonctionner. Les défenseurs de la vie privée font valoir que les données des capteurs Kinect
					peuvent être utilisées pour des publicités ciblées et effectuer une surveillance non autorisée des utilisateurs. En réponse à ces affirmations,
					Microsoft réitère que la reconnaissance vocale Kinect et le suivi des mouvements peuvent être désactivés par les utilisateurs, que les données Kinect
					ne peuvent pas être utilisées pour la publicité conformément à sa politique de confidentialité et que la console ne redistribue pas le contenu généré
					par l'utilisateur sans autorisation. En réponse à ces changements avant le lancement et à la conviction que les décisions initiales de Microsoft pour
					la console sont de mauvais jugement, les journalistes et les consommateurs donnent en plaisantant un surnom pour la Xbox One : la <em>Xbox 180</em>,
					en référence à la Xbox 360 et à la décision de Microsoft de changer d'avis comme de chemise. J'avoue que moi-même en relisant mon article...
					commençais à avoir mal à la tête...
				</p>
				<h3>X-Box Live...</h3>
				<p>
					Le service Xbox Live est étendu sur 300 000 serveurs pour les utilisateurs de Xbox One. Le stockage dans le cloud est disponible pour enregistrer de
					la musique, des films, des jeux et du contenu enregistré. Les développeurs peuvent utiliser des serveurs Live - avec la plateforme de cloud computing
					<em>Microsoft Azure</em> - pour offrir du contenu dynamique dans le jeu et d'autres fonctionnalités. Les utilisateurs peuvent avoir jusqu'à 1 000
					<em>amis</em> qu'on ne connait pas. Ce que je déteste ce terme galvaudé !
					<br> 
					La mise à jour logicielle de décembre 2016 ajoute la nouvelle fonctionnalité de réseautage social <em>Clubs</em>, qui permet aux utilisateurs de
					rejoindre des groupes axés sur des intérêts ou des jeux spécifiques, et <em>Looking for group</em>, un système pour aider les utilisateurs à localiser
					les joueurs à rejoindre leur groupe pour le multijoueur.
					<br> 
					Les utilisateurs peuvent user de l'application <em>Upload Studio</em> pour éditer et partager les clips des cinq dernières minutes de séquences de jeu
					enregistrées automatiquement par la console. Xbox One prend en charge le streaming directement sur le services Mixer et Twitch. Ils peuvent utiliser
					des commandes vocales pour commencer immédiatement à diffuser des images de leur jeu actuel directement sur le service, et utiliser la caméra et le
					microphone de Kinect pour enregistrer des narrations vidéo et audio. Des présentations de clips peuvent être enregistrés sur les page de profil Xbox
					Live dans une section <em>Showcase</em>. Comme avec la Xbox 360, les fonctionnalités en ligne premium telles que le multijoueur, la communication
					vocale, la diffusion et Upload Studio nécessitent un abonnement <em>Xbox Live Gold</em> pour être utilisées. Contrairement à la Xbox 360, les
					avantages de l'abonnement Xbox Live Gold d'un utilisateur s'appliquent également à tous les autres utilisateurs de leur console désigné, plutôt que
					d'exiger un abonnement distinct par utilisateur. Des abonnements supplémentaires pour des services externes tels que Netflix peuvent encore être
					nécessaires. Microsoft étend son programme <em>Games with Gold</em> à Xbox One, fournissant des jeux Xbox 360 et Xbox One gratuits aux abonnés Xbox
					Live Gold sur une base mensuelle.
					<br>
					Lors de l'<a href="https://www.youtube.com/watch?v=WRAhtB79b5I" title="E3 2016">E3 2016</a>, aux côtés de la Xbox One S, Microsoft présente le
					<em>Project Scorpio</em>, une console censée sortir en fin d'année 2017. Project Scorpio est présentée comme la console la plus puissante au monde
					capable d'afficher de l'Ultra HD native et possède 6 Teraflops de puissance graphique. Project Scorpio - Scorpio est le nom du processeur de cette
					nouvelle Xbox - est officiellement présenté lors de l'<a href="https://www.youtube.com/watch?v=lSADYtvbYGY" title="E3 2017">E3 2017</a> et porte le
					nom officiel de Xbox One X et disponible le 7 novembre. Tous les accessoires et les jeux fonctionnant sur Xbox One et Xbox One S fonctionnent sur
					Xbox One X. Microsoft mise sur plusieurs jeux afin d'appuyer l’argument principal <em>Xbox One X est capable d'afficher de l'Ultra HD native</em>,
					comme <a href="https://www.youtube.com/watch?v=cPm-SN4swrc" title="Forza Motosport 7">Forza Motosport 7</a> ou
					<a href="https://www.youtube.com/watch?v=IIaIvTnhIrs" title="State of Decay 2">State of Decay 2</a>. Si la Xbox One X est vendue comme la plus
					puissante, elle est aussi la plus petite jamais créée.
				</p>
			</section>

			<aside>
				<h2 id="nvidia">Nvidia Shield</h2>
				<figure>	
					<a href="../../../static/img/nvidia/shield.jpg"><img src="../../../static/img/nvidia/shield_mini.jpg" alt="Nvidia Shield"
						title="Le modèle pro de la Shield cylindrique et le classique Shield dans sa forme traditionnelle"></a>
				</figure>
				<p>ShieldTV - <a href="https://www.youtube.com/watch?v=uuRdPd0Yb8Q" title="ShieldTV">Numerama</a></p>
				<p>
					La Nvidia Shield est un lecteur multimédia numérique basé sur Android TV produit par
					<a href="../../glossary/companies.html#nvidia" title="Nvidia">Nvidia</a> dans le cadre de sa marque Shield. Lancée pour la première fois en mai 2015,
					la Shield est commercialisée en tant que micro-console, mettant l'accent sur sa capacité à jouer aux jeux téléchargés et à diffuser des jeux à partir
					d'un PC compatible sur un réseau local, ou via le service d'abonnement <em>GeForce Now</em>. Comme avec tous les autres appareils Android TV, elle
					peut diffuser du contenu à partir de diverses sources à l'aide d'applications, et prend également en charge la vidéo en résolution 4K. Elle est
					produite sur deux versions, le modèle ShieldTV Pro se distinguant principalement par un stockage interne accru.
					<br>
					La version 2017 est une version actualisée par Nvidia du Shield 16 Go. Sa forme est plus petite mais ne possède plus de port
					<a href="../../glossary/technicalTerms.html#sd" title="microSD">microSD</a>. Une télécommande est désormais fournie, ainsi qu'une manette intégrant
					un microphone. Le modèle 2017 contient le même système sur <a href="../../glossary/technicalTerms.html#tegra" title="puce Tegra X1">puce Tegra X1</a>
					que le modèle 2015. Seul le modèle pro 2017 est encore aujourd'hui commercialisé avec un DD de 500Go.
					<br> 
					La version 2019 concerne deux nouveaux modèles de téléviseurs Shield, utilisant le système sur puce Tegra X1+, livrés avec Android 9.0 Pie, prenant
					en charge <a href="../../glossary/technicalTerms.html#atmos" title="Dolby Atmos">Dolby Atmos</a>, incluant une télécommande et un nouveau système
					amélioré de mise à l'échelle, géré par l'Intelligence Artificielle qui optimise de la haute définition vers de la résolution 4K. La ShieldTV classique
					dispose de 2 Go de RAM et de 8 Go de stockage flash, extensible via une carte MicroSD - à la place des ports USB -. La forme pour la Shield pro est
					devenue cylindrique et comprend 3 Go de RAM, 16 Go de flash stockage et deux ports USB 3.0 pleine taille. La manette de jeu n'est plus incluse.
				</p>

				<h2 id="gstick">GameStick</h2>
				<figure>
					<a href="../../../static/img/playJam/gamestick.png"><img src="../../../static/img/playJam/gamestick_mini.png" alt="GameStick"
						title="La GameStick, micro-console par clé USB"></a>
				</figure>
				<p>GameStick - <a href="https://www.youtube.com/watch?v=ZQHjwiDyjbA" title="GameStick">Hands-On Tech</a></p>
				<p>
					Sortie fin 2013, La GameStick est une micro-console, développée par PlayJam, de la taille d'une clé USB qui se branche directement à l'arrière d'un
					téléviseur via un port HDMI et livrée avec son propre contrôleur Bluetooth. Les utilisateurs peuvent télécharger du contenu à partir d'une vitrine
					via le <a href="../../glossary/technicalTerms.html#wifi" title="Wi-Fi">Wi-Fi</a>, le contenu étant stocké localement pour un accès hors ligne.
					L'appareil est alimenté par la plateforme de jeux PlayJam et exécute sa propre version du système d'exploitation Android. La GameStick propose un jeu
					exclusif et l'accès à sa boutique d'applications, qui vend principalement des jeux occasionnels. Tous les systèmes peuvent être utilisés comme kits de
					développement, permettant à tout propriétaire de GameStick d'être également développeur sans frais de licence. Le PDG de PlayJam Jasper Smith et
					l'équipe de développement ont commencé à recruter du support au début du processus. Avant le lancement du projet, GameStick a le soutien de plus de
					1 000 développeurs. Les concepteurs de jeux intéressés par le projet peuvent s'engager à hauteur de 425€ en échange d'une unité prototype et d'un kit
					de développement.
					<br>
					La GameStick se compose d'une console de la taille d'un lecteur flash, d'un contrôleur Bluetooth sans fil, d'une manette et d'un dock GameStick
					permettant un accès Internet plus rapide avec un port Ethernet et la possibilité de se connecter à divers périphériques tels que des claviers USB, des
					webcams, des microphones et des tapis de souris. La console contient un connecteur HDMI, un processeur, une mémoire interne et des radios sans fil.
					Jusqu'à quatre manettes peuvent être connectées via Bluetooth, tout comme les claviers et souris sans fil. La GameStick prend également en charge les
					appareils iOS et Android en tant que contrôleurs. Le système lui-même se base sur Android mais est compatible iOS et prend en charge la lecture HD.
					La GameStick utilise une interface similaire au tableau de bord en mosaïque de la Xbox 360. Le chargeur est un câble micro USB.
					<br>
					La presse fait l'éloge du design minimaliste de la GameStick et de son faible coût, mais critique sa sélection de jeux limitée, ses logiciels et son
					matériel verrouillés, ainsi que son processeur sous-alimenté, qui ne permet pas de jouer aux jeux Android récents. Les ventes ne sont pas d'un
					enthousiasme mondialisé et après quatre ans, le site Web GameStick affiche la fermeture du service après le 9 janvier 2017, désactivant la vitrine du
					site. Le site Web GameStick annonce ses adieux en décembre 2017 en présentant un certificat SSL expiré. Il est peu probable en outre que le service
					revienne :	en effet, tentez de visiter à nouveau le site Web GameStick vous entraînera vers un site ouside90.com vide, en tout cas, lorsque je l'ai
					testé...
				</p>

				<h2 id="ouya">Ouya</h2>
				<figure>
					<a href="../../../static/img/ouya/console_originale.jpg"><img src="../../../static/img/ouya/console_originale_mini.png" alt="Ouya"
						title="Ouya, la micro-console 'Free to Play'"></a>
					<a href="../../../static/img/ouya/console_transparente.png"><img src="../../../static/img/ouya/console_transparente_mini.png" alt="Ouya"
						title="En version transparente"></a>
				</figure>
				<li>Ouya - <a href="https://www.youtube.com/watch?v=FBxmGc3nYgo" title="Ouya">Game-Touch</a></li>
				<p>
					L'Ouya est une micro-console basée sur Android. Julie Uhrman fonde le projet en 2012, faisant appel au designer Yves Béhar pour collaborer sur sa
					conception et Muffi Ghadiali en tant que vice-président de la gestion des produits pour constituer l'équipe d'ingénierie.
					<br> 
					L'Ouya sort en juin 2013 et dispose d'un store Ouya exclusif pour les applications et les jeux conçus spécifiquement pour la plateforme. Prêt à
					l'emploi, l'Ouya prend en charge les applications multimédias telles que Twitch et le lecteur multimédia XBMC. Elle tourne sur une version modifiée
					d'Android Jelly Bean. La conception matérielle de la console permet de l'ouvrir facilement, ne nécessitant qu'un tournevis standard pour un
					<a href="../../glossary/technicalTerms.html#modding" title="modding">modding</a> facile et d'éventuels ajouts de matériel. Tous les systèmes peuvent
					être utilisés comme kits de développement, permettant à tout propriétaire d'Ouya d'être également développeur sans avoir à payer de licence. Tous les
					jeux sont destinés initialement à être free-to-play mais cela fut supprimé par la suite.
					<br> 
					Malgré le succès de la campagne publicitaire, les ventes sont médiocres, causant des problèmes financiers et forçant l'entreprise à cesser ses
					activités. Ses actifs logiciels sont vendus à Razer, qui annonce l'arrêt de la console en juillet 2015. Razer continue cependant à fournir un support
					logiciel pour les unités Ouya existantes jusqu'en juin 2019, date à laquelle la boutique ferme définitivement, ainsi que les services et les comptes
					Ouya, rendant la plupart des applications sur la console inutilisables.
				</p>
				<h3>Le programme <em>Free the Games Fund</em>...</h3>
				<p>
					Ouya annonce le "Free the Games Fund" en juillet 2013, un programme d'aide aux développeurs, dans lequel Ouya finance n'importe quelle campagne si un
					objectif minimum de 42 000€ de budget est atteint, et à condition que le jeu reste exclusif à Ouya pendant six mois. Des soupçons visent rapidement
					les deux premiers projets. Les développeurs gonflaient artificiellement le financement de leur projet afin de recevoir de l'argent supplémentaire
					d'Ouya. Néanmoins, Ouya rejette toute suspicion concernant le soutien des projets et continue à fournir le financement.
					<br> 
					Pourtant <a href="https://www.youtube.com/watch?v=mHYanT815y0" target="_blank" title="Dungeons">Dungeons - The Eye of Draconus</a> suscite la
					controverse en déclarant ouvertement que le parent d'un développeur fournissait un soutien financier supplémentaire substantiel afin que le projet
					puisse bénéficier de l'argent du fonds. Le projet est retiré par Ouya et de de nombreux développeurs critiquent ses règles qu'ils estiment mal
					établies. Sophie Houlden retire son jeu, "Rose and Time", du marché d'Ouya en signe de protestation. Matt Gilgenbach, qui tentait de financer son jeu
					<a href="https://www.youtube.com/watch?v=SouFdlhAwJc" title="Neverending Nightmares">Neverending Nightmares</a> avec l'aide du fonds déclara
					<cite>
						&#10077;Cela me tuerait si, en raison d'autres projets abusant du Fonds 'Free the Games', les gens perdaient confiance en notre projet et en ce
						que nous essayons de faire... Bien que je crois en l'idée de ce Fonds, je pense qu'une réforme doit voir le jour contre les potentiabilités
						d'abus&#10080;
					</cite>.
					<br> 
					Julie Uhrman accepte cette critique
					<cite>
						&#10077;Les développeurs nous répétent sans cesse : 'Vous êtes trop idéaliste et vous êtes trop naïf'... C'est la partie qui m'a personnellement
						pris du temps à comprendre&#10080;
					</cite>.
					Ouya change les modalités, y compris l'ajout d'une limite budgétaire par contributeur. Houlden remis son jeu sur le magasin, et "Neverending
					Nightmares" se qualifia pour un financement en vertu des nouvelles règles. Ouya modifie par la suite sa clause d'exclusivité : les développeurs ne
					sont toujours pas en mesure de vendre leurs logiciels sur des appareils mobiles, des consoles de jeux vidéo et des décodeurs pendant la période
					d'exclusivité de six mois, mais ils sont autorisés à vendre sur des systèmes tels que Windows, Mac OS et Linux.
				</p>
			</aside>
		</article>
	</main>
	<footer>
		<p>
            &copy; 2021 - Lyasen - tous droits réservés
        </p>

        <h4>Mes sites recommandés :</h4>            
        <ul>
            <li>ActuGaming.net</li>
            <li>GameBlog</li>
            <li>Gamekult</li>
            <li>JeuxActu</li>
            <li>jeuxvideo.com</li>
            <li>YouTube</li>
        </ul>
        
        <p>
            <a href="mailto:consolStory@protonmail.com">Nous contacter</a>            
        </p>
	</footer>
</body>
</html>