<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Consol'Story - Histoire de la Neuvième Génération de consoles de jeux vidéos</title>
	<!--	Tags meta	-->
	<meta name="description"
		  content="Nous entrons dans l'ère de la neuvième génération de consoles innové par Nintendo et sa Switch, toujours plus puissante, toujours plus loin dans le
		  	rêve...">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--	Links	-->
	<link rel="stylesheet" href="ninthGen.css">
	<link rel="shortcut icon" href="../../../static/logo/purple_logo.png" type="image/x-icon">
</head>
<body>
	<header>
		<h1>2020 - ... : Consoles Neuvième Génération</h1>
		<h2>Dernière génération de consoles physiques ?</h2>
			<nav>
			<ul>
				<li><a href="../../main.html" title="Accueil">Retour vers l'accueil</a></li>
				<li><a href="../firstGen/firstGen.html" title="Première génération">Première génération</a></li>
				<li><a href="../secondGen/secondGen.html" title="Seconde génération">Seconde génération</a></li>
				<li><a href="../thirdGen/thirdGen.html" title="Troisième génération">Troisième génération</a></li>
				<li><a href="../fourthGen/fourthGen.html" title="Quatrième génération">Quatrième génération</a></li>
				<li><a href="../fifthGen/fifthGen.html" title="Cinquième génération">Cinquième Génération</a></li>
				<li><a href="../sixthGen/sixthGen.html" title="Sixième Génération">Sixième Génération</a></li>
				<li><a href="../seventhGen/seventhGen.html" title="Septième Génération">Septième Génération</a></li>
				<li><a href="../eighthGen/eighthGen.html" title="Huitième génération">Huitième génération</a></li>
			</ul>
			<ul>
				Consoles neuvième génération :
				<li><a href="#ps5" title="PlayStation 5">PlayStation 5</a> - Sony</li>
				<li><a href="#seriesx" title="X-Box Series X">X-Box Series X</a> - Microsoft</li>
				<li><a href="#switch" title="Switch">Switch</a> - Nintendo</li>
			</ul>
		</nav>
	</header>

	<main>
		<article>
			<section>
				<h2 id="ps5">Playstation 5</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#sony" title="Sony">Sony</a></li>
					<li>Fabricant : Sony Interactive Entertainment</li>
					<li>Début de commercialisation :
						<ul>
							<li>Monde - Quatrième trimestre 2020</li>
						</ul>
					</li>
					<li>Fin de production - NC</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde: NC</li>
							<li>Japon: NC</li>
							<li>Etats-Unis: NC</li>
							<li>Europe: NC</li>
							<li>France: NC</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - NC</li>
					<li>PlayStation 5 - <a href="https://www.youtube.com/watch?v=ZbjAwNkJ0kk" title="PlayStation 5">Gia Photo Tech Jeux</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/sony/ps5horizontale.jpg"><img src="../../../static/img/sony/ps5horizontale_mini.png" alt="Playstation 5"
						title="La Playstation 5"></a>
					<a href="../../../static/img/sony/ps5verticale.jpg"><img src="../../../static/img/sony/ps5verticale_mini.png" alt="Playstation 5"
						title="La Playstation 5 station debout"></a>
				</figure>
				<h3>Sa nouvelle histoire...</h3>
				<p>
					La PlayStation 5 est la prochaine console de jeu vidéo développée par <em>Sony Interactive Entertainment</em>. Annoncée comme le successeur de la
					PlayStation 4 en 2019, elle est lancée fin 2020. La PS5 assure une compatibilité avec les jeux PlayStation 4, les titres PlayStation VR, la prise en
					charge des titres numériques et sur disque.
					<br>
					Aux Game Awards 2019, <a href="https://www.youtube.com/watch?v=28Q9InNRkHs" title="Godfall">Godfall</a> de
					<a href="https://www.counterplaygames.com/" title=">Counterplay Games">Counterplay Games</a> est devenu le premier titre de PlayStation 5 annoncé, qui
					devrait être édité au lancement de la PlayStation 5. D'autres jeux PlayStation 5 confirmés incluent
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=TNuYBvc0C_U" title="Le Seigneur des anneaux">Le Seigneur des anneaux : Gollum</a></li>
					<li><a href="https://www.youtube.com/watch?v=iM6cAeotzk4" title="Watch Dogs">Watch Dogs : Legion</a></li>
					<li><a href="https://www.youtube.com/watch?v=NXG3-dXLhz0" title="Rainbow Six Quarantine">Rainbow Six Quarantine</a></li>
					<li><a href="https://www.youtube.com/watch?v=ZBsy9b9jeNE" title="Outriders">Outriders</a></li>
					<li><a href="https://www.youtube.com/watch?v=dw1SeDL0klY" title="Warframe">Warframe</a></li>
				</ul>
				<p>
					Mark Cerny déclare en octobre 2019 que la transition de la PlayStation 4 à la PlayStation 5 est censée être douce. Pour cela, la PlayStation 5 devra
					être rétrocompatible avec les jeux PS 4, en partie activée par l'architecture matérielle similaire des deux systèmes. Lors de sa présentation de mars
					2020, Mark Cerny annonce également que les 100 meilleurs jeux PlayStation 4 seront jouables sur la PlayStation 5 lors du lancement de la console. Sony
					croit que la grande majorité des 4 000 titres PS4 seront jouables sur la PS5 et qu'ils évaluaient les jeux titre par titre pour repérer les problèmes
					nécessitant un ajustement de la part des développeurs de logiciels d'origine. La nouvelle console sera également compatible avec les jeux PlayStation
					VR. L'équipe de développement de Sony travaille pour assurer la compatibilité, mais n'a pas encore déterminé dans quelle mesure cette compatibilité
					serait complète quoique que l'on se dirige vers de bonnes nouvelles.
				</p>
				<h3>La manette DualSense</h3>
				<p>
					La nouvelle manette de la PlayStation 5, la DualSense, a la lourde tâche de remplacer la mythique DualShock en place chez PlayStation depuis la
					première génération de console de la marque à la fin des années 90. Si cette manette a eu le droit à de nombreuses réactions mitigées de la part de la
					presse et des joueurs sur son design étonnant, elle a réussi son coup : faire parler d’elle. Il y a un point sur lequel cette manette DualSense
					interpelle, c’est sa taille qui semble assez conséquente. Pourtant, PlayStation a bien assuré que cette manette avait l’air plus grosse qu’elle ne
					l’est en réalité. Elle est seulement plus grande, avec des poignées qui descendent un peu plus et qui disposent de meilleures formes. On peut voir
					également que le dessus bombé de la manette lui permet de s’étendre un peu plus. Enfin, historiquement, la toute première DualShock de la PS1 était
					plus imposante que le modèle standard que l'on connaît et est reconnue plus confortable d'ailleurs. Pourquoi l'ont-ils laissé de côté ? Mystère...
					<br>
					Le pavé tactile est bien plus grand ce qui a nécessité de déplacer les boutons <em>Option</em> et désormais <em>Create</em>. Le centre de la manette
					semble complètement identique à celui de la manette PS4. Croix directionnelle, joysticks et boutons d’actions, ils sont tous au même emplacement. Il
					ne reste plus qu’à patienter pour l’avoir dans les mains et découvrir tous les secrets qu’elle cache ! - A moins que vous ne soyez une star et que
					vous la possédiez déjà... -
				</p>
			</section>

			<section>
				<h2 id="seriesx">XBox Series X</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#ms" title="Microsoft">Microsoft</a></li>
					<li>Fabricant : Microsoft</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2020</li>
							<li>Etats-Unis - 2020</li>
							<li>Europe - 2020</li>
						</ul>
					</li>
					<li>Fin de production : NC</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - NC</li>
							<li>Japon - NC</li>
							<li>Etats-Unis - NC</li>
							<li>Europe - NC</li>
							<li>France - NC</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - NC</li>
					<li>X-Box Series X - <a href="https://www.youtube.com/watch?v=sTCjSkgUOtA" title="X-Box Series X">Gia Photo Tech Jeux vidéo</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/microsoft/xbox_seriesXS.jpg"><img src="../../../static/img/microsoft/xbox_seriesXS_mini.png" alt="X-Box Series X"
						title="Les nouvelles consoles X-Box Series X"></a>
					<a href="../../../static/img/microsoft/series_ssd.jpg"><img src="../../../static/img/microsoft/series_ssd_mini.png" alt="Support de Stockage 1To"
						title="Les SSD Seagate stockeront jusqu'à 1To"></a>
				</figure>
				<h3>Sa nouvelle histoire...</h3>
				<p>
					La Xbox Series X est la prochaine console développée par Microsoft. Elle est annoncée lors de l'
					<a href="https://www.youtube.com/watch?v=jN5OuJvFUcU" title="E3 2019">E3 2019</a> sous le nom de <em>Project Scarlett</em> et est sorti fin 2020. La
					console fait partie de la famille Xbox de quatrième génération, succédant à la gamme actuelle Xbox One, avec un matériel amélioré pour des résolutions
					d'affichage, une fréquence d'images plus élevées et des temps de chargement réduits. Microsoft procède à une transition en douceur vers sa prochaine
					génération de matériel : la Xbox Series X devrait être entièrement compatible avec tous les jeux, contrôleurs et accessoires actuellement pris en
					charge par Xbox One, y compris certains jeux Xbox 360 et Xbox d'origine déjà rétrocompatibles sur Xbox One. De plus, les <em>Xbox Game Studios</em>
					internes de Microsoft ne prévoient pas de produire immédiatement des titres exclusifs pour la Xbox Series X, mais produiront à la place des titres qui
					sont compatibles à la fois sur la Xbox One et la Series X, certains titres ayant des fonctionnalités améliorées sur la nouvelle console.
				</p>
				<h3>Fonctionnalités...</h3>
				<p>
					Lorsque l'équipe Xbox commence à travailler sur leur prochain système, leur objectif principal est de doubler au moins les performances graphiques de
					la nouvelle console. Une fois collectés les besoins en énergie pour répondre à ces spécifications, les ingénieurs constatent que les pièces consomment
					une grande quantité d'énergie interne - environ 315 W - et génèrent une bonne quantité de chaleur. Cela conduit à la décision de diviser les
					composants sur deux circuits imprimés séparés : une abritant le <a href="../../glossary/technicalTerms.html#cpu" title="CPU">CPU</a> /
					<a href="../../glossary/technicalTerms.html#gpu" title="GPU">GPU</a>, la mémoire et les régulateurs d'alimentation, et une seconde carte pour agir
					comme une <a href="../../glossary/technicalTerms.html#southbridge" title="carte Southbridge">carte Southbridge</a> pour les fonctions d'entrée/sortie
					plus lentes.
					<br> 
					Les panneaux montés sur les côtés opposés d'un châssis en aluminium aident à créer des canaux d'air pour le refroidissement. Les composants restants -
					le dissipateur thermique, l'électricité, le blindage, l'alimentation électrique, le lecteur optique et le ventilateur de refroidissement sont ensuite
					disposés à la manière de Tetris, selon le concepteur de Microsoft Chris Kujawski, pour obtenir un facteur de forme compact, résultant en une structure
					en forme de tour. Pour répondre au facteur acoustique, le système comprend de nombreux capteurs pour contrôler la vitesse du ventilateur, et le grand
					toit ouvert est nécessaire pour assurer une bonne circulation de l'air à travers le système. La société  estime que Scarlett sera quatre fois plus
					puissante que la Xbox One X avec la prise en charge de la résolution 8K. Microsoft veut une transition en douceur de Xbox One à Scarlett, Scarlett
					prenant en charge la compatibilité avec tous les jeux et la plupart du matériel pris en charge sur Xbox One.
					<br> 
					La console est officiellement dévoilée sous le nom de Xbox Series X lors des
					<a href="https://www.youtube.com/watch?v=9-LiBwIdGGM" title="Game Awards 2019">Game Awards 2019</a>, ainsi que sa conception finale et sa date de
					sortie fin 2020. La Xbox Series X constitue une entrée dans une quatrième génération de matériel Xbox, qui sera simplement étiquetée Xbox sans
					sous-titre. Avant la révélation de l'E3, il a été supposé que Microsoft développait également une deuxième console bas de gamme nommée
					<em>Lockhart</em> pour accompagner le projet Scarlett. Microsoft prévoyait d'entrer en détail dans les spécifications matérielles et de lancer les
					titres de la série X lors de la <em>2020 Game Developers Conference</em> et de l'E3 2020, mais les deux événements ont été annulés en raison de la
					pandémie de COVID-19. Microsoft programme des présentations en ligne au cours des mêmes jours prévus en mars 2020, tandis que la société planifie sa
					présentation prévue de l'E3 à une date ultérieure. Les spécifications détaillées sont présentées par Microsoft, Digital Foundry et Austin Evans
					d'Overclock Media le 16 mars 2020. Microsoft rapporte qu'en dépit de la pandémie, ils s'attendent toujours à ce que la Xbox Series X soit livrée d'ici
					la fin de 2020, bien qu'ils surveillent les chaînes d'approvisionnement et la sécurité de leurs travailleurs... enfin surtout la chaîne
					d'approvisionnement !
				</p>
				<h3>Lancement...</h3>
				<p>
					La console sera livrée avec une version mise à jour de la manette sans fil Xbox One, qui est destinée à être plus ergonomique pour s'adapter à une
					plus grande gamme de tailles de mains. Elle comprendra les mêmes boutons que les contrôleurs précédents : deux joysticks analogiques pouvant être
					enfoncés, un pavé circulaire, quatre boutons d'action, deux boutons système - <em>Affichage</em> et <em>Menu</em> -, le bouton principal de la Xbox,
					deux poignées déclencheurs et deux déclencheurs d'épaule. Le nouveau contrôleur ajoute un bouton <em>Partager</em> utilisé pour enregistrer et
					partager des clips vidéo ou des captures d'écran du jeu.
					<br> 
					En visant la taille pour s'adapter aux mains d'un enfant de huit ans, Microsoft a réussi à adapter le design à une plus grande partie de la
					population, ajustant des poignées plus sculptées, et à réduire et arrondir les boutons de déclenchement. De petits motifs de points tactiles sont
					ajoutés aux boutons pour aider les joueurs à orienter les doigts sur les commandes. Le contrôleur continue à utiliser deux piles AA, mais un
					bloc-piles rechargeable sera disponible comme accessoire.
					<br> 
					A partir d'études de groupes de discussion, les joueurs sont presque divisés à 50/50 sur l'utilisation des batteries lors de la recharge. Le
					contrôleur utilise le même protocole sans fil introduit par la Xbox One et est rétrocompatible avec les consoles Xbox One existantes. Les contrôleurs
					seront également compatibles avec la Xbox Series X. Le nouveau contrôleur prend en charge la norme Bluetooth Low Energy - BTLE - lui permettant de se
					coupler avec des appareils mobiles et d'autres matériels prenant en charge cette norme, et aura un stockage interne pour mémoriser ces connexions. Le
					nouveau contrôleur utilise un USB-C standard de chargement pour sa batterie. La Xbox Series X n'aura probablement pas de prise en charge immédiate de
					la réalité virtuelle au lancement, et toute prise en charge VR sera basée sur les composants Windows <em>Mixed Reality</em> contenus dans les
					composants Windows 10 de la console, mais n'est pas autrement un point central du développement de la console avant sa sortie.
				</p>
				<p>
					La Xbox Series X prendra en charge tous les jeux jouables sur la Xbox One, y compris les titres de console Xbox 360 et Xbox d'origine via la
					rétrocompatibilité, permettant ainsi à la console de jouer à quatre générations de jeux. Pour y parvenir, Microsoft n'intégrera plus de jeux Xbox 360
					ou Xbox d'origine supplémentaires dans le programme de rétrocompatibilité Xbox One. La compatibilité est prévue comme fonctionnalité de lancement, et
					Spencer a lui-même aidé à tester de tels titres pour cela. En raison des fonctionnalités de traitement de la Xbox Series X, il est possible que des
					options de processus graphiques avancés non programmées à l'origine dans ces anciens jeux soient intégrées dans le titre lors de la lecture sur la
					console. La meilleure version disponible du jeu pour le matériel sera téléchargée automatiquement - Cette pratique avait lieu au début de
					l'histoire de la console car certaines cartouches de jeux de certaines consoles possédaient une puce capable d'améliorer les graphismes ou le son par
					rapport à la performance de la console initiale -. Microsoft positionne cette fonctionnalité auprès des éditeurs qui prévoient de publier des versions
					de jeux spécifiques à la série X après leur sortie sur Xbox One, et aux utilisateurs migrant d'une Xbox One existante vers la série X. Xbox Game
					Studios et CD Projekt RED se sont engagés à utiliser Smart Delivery pour leurs prochaines versions. Le chef de XGS, Matt Booty, n'a pas de plans
					immédiats pour créer des jeux propriétaires exclusifs à la série X, déclarant que Microsoft veut s'assurer que ceux qui achètent des consoles Xbox One
					avant le lancement de la série X
					<cite>
						&#10077;sentent qu'ils ont fait un bon investissement et que nous sommes attachés à eux avec du contenu&#10080;
					</cite>.
				</p>
			</section>

			<section>
				<h2 id="switch">Switch</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#nintendo" title="Nintendo">Nintendo</a></li>
					<li>Fabricant : Nintendo</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 2017</li>
							<li>Etats-Unis - 2017</li>
							<li>Europe - 2017</li>
						</ul>
					</li>
					<li>Fin de production : NC</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Monde - NC</li>
							<li>Japon - NC</li>
							<li>Etats-Unis - NC</li>
							<li>Europe - NC</li>
							<li>France - NC</li>
						</ul>
					</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - NC</li>
					<li>Nintendo Switch - <a href="https://www.youtube.com/watch?v=fc2iQicFqeI" title="Switch">JEUXACTU</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/nintendo/switch.jpg"><img src="../../../static/img/nintendo/switch_mini.png" alt="Nintendo Switch"
						title="La Nintendo Switch, encore une innovation Nintendo"></a>
					<a href="../../../static/img/nintendo/switch_screen.jpg"><img src="../../../static/img/nintendo/switch_screen_mini.png" alt="Screen Switch"
						title="Passez d'un écran à un autre"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La Nintendo Switch est une console hybride développée par Nintendo sortie le 3 mars 2017 qui peut être utilisée comme console domestique et appareil
					portable. Ses contrôleurs sans fil <em>Joy-Con</em>, avec des boutons standard et des sticks analogiques directionnels pour l'entrée utilisateur, la
					détection de mouvement et le retour tactile, peuvent se fixer des deux côtés de la console pour prendre en charge le jeu de style portable. Ils
					peuvent également se connecter à un accessoire de poignée pour fournir une forme de console de jeu traditionnelle, ou être utilisés individuellement
					dans la main comme la télécommande Wii et le Nunchuk, prenant en charge les modes multijoueurs.
					<br> 
					Le logiciel de la Nintendo Switch prend en charge les jeux en ligne via la connectivité Internet, ainsi que la connectivité sans fil avec d'autres
					consoles. Les jeux et logiciels sont disponibles à la fois sur des cartouches ROM physiques basées sur le flash et sur une distribution numérique via
					le Nintendo eShop. Une révision du système axée sur l’ordinateur de poche, appelée Nintendo Switch Lite, est sorti le 20 septembre 2019.
					<br> 
					Dévoilée le 20 octobre 2016, connu dans le développement sous son nom de code <em>NX</em>, le concept de la Switch est né de la réaction de Nintendo
					à plusieurs trimestres de pertes financières en 2014, attribuables aux mauvaises ventes de sa précédente console, la Wii U et la concurrence sur le
					marché des jeux mobiles. Le président de Nintendo, Satoru Iwata, pousse alors l'entreprise vers les jeux mobiles et le nouveau matériel. La conception
					de la Nintendo Switch est destinée à une large population des joueurs de jeux vidéo à travers plusieurs modes d'utilisation. Nintendo choisit
					d'utiliser des composants électroniques plus standard, tels qu'un chipset basé sur la ligne Tegra de Nvidia que nous évoquons avec la Nvidia Shield,
					pour rendre le développement de la console plus facile pour les programmeurs et plus compatible avec les moteurs de jeu existants. Comme la Wii U
					avait eu du mal à obtenir un support externe, le laissant avec une bibliothèque de logiciels faible, Nintendo sollicite de manière préventive le
					support de nombreux développeurs et éditeurs tiers pour aider à construire la bibliothèque de jeux aux côtés des titres propriétaires de Nintendo, y
					compris de nombreux studios de jeux vidéo indépendants. Nintendo prévoit initialement 100 titres pour sa première année, finalement plus de 320 titres
					de développeurs propriétaires et indépendants sont édités à la fin de 2017.
					<br> 
					Initialement console de huitième génération, la Nintendo Switch est en concurrence avec la Xbox One de Microsoft et la PlayStation 4 de Sony. Elle
					vient néanmoins, de par sa conception, passée en console de neuvième génération. La console génère près de 2.5 millions d'€ de bénéfices au cours du
					premier mois de son lancement, dépassant la projection initiale de Nintendo de deux millions, et dans l'année suivant sa sortie 14 millions d'unités
					vendues dans le monde, dépassant les ventes totales à vie de la Wii U. La Switch est devenue la console la plus vendue au Japon et aux États-Unis
					au début de l'année 2018. La Nintendo Switch et la Switch Lite ont vendu plus de 55 millions d'unités dans le monde en mars 2020. Les licences phare
					de Nintendo	ont fortement contribuées au succès de cette console avec des titres comme
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=gLQoCwzzCRQ" title="Mario Kart 8 Deluxe">Mario Kart 8 Deluxe</a></li>
					<li><a href="https://www.youtube.com/watch?v=xkEWH9H4r4k" title="Super Smash Bros.Ultimate">Super Smash Bros.Ultimate</a></li>
					<li><a href="https://www.youtube.com/watch?v=l4BUlpqUJYs" title="The Legend of Zelda">The Legend of Zelda : Breath of the Wild</a></li>
					<li><a href="https://www.youtube.com/watch?v=ZrruckoSmBU" title="Super Mario Odyssey">Super Mario Odyssey</a></li>
					<li><a href="https://www.youtube.com/watch?v=b87-LEUzDmI" title="Pokemon Sword and Shield">Pokemon Sword and Shield</a></li>
				</ul>
				<p>
					et ayant vendu plus de quinze millions d'unités chacun.
				</p>
				<h3>Retour en arrière...</h3>
				<p>
					Revenus, ventes nettes et bénéfices records pour Nintendo en 2009 grâce à ses gammes Nintendo DS et Wii en 2004 et 2006, mais les années se suivent et
					ne se ressemblent pas, Nintendo affiche sa première perte en 2012. L'introduction de la Wii U cette année-là ne suffit pas à inverser la tendance. La
					baisse des prévisions financières jusqu'en 2014 est aussi imputable à la forte percée des jeux sur mobile mais le président de l'époque, Satoru Iwata,
					estime qu'ils cesseraient d'être Nintendo et perdraient leur identité s'ils tentaient d'y pénétrer.
					<br> 
					Trois ans avant l'annonce de la Switch, Nintendo élabore une nouvelle stratégie pour revitaliser son modèle économique, comprenant l'approche du
					marché mobile - car seul un imbécile ne change pas d'avis -, la création de nouveaux matériel informatique et renforcement de leur propriété
					intellectuelle. D'ailleurs, avant sa mort, Iwata conclut une alliance commerciale avec le fournisseur de téléphonie mobile japonais DeNA pour
					développer des titres mobiles basés sur les franchises propriétaires de Nintendo, estimant que cette approche ne compromet pas l'intégrité de
					l'entreprise. Satoru Iwata décède en juillet 2015, Kimishima est nommée nouveau président de Nintendo, tandis que Miyamoto est promu au titre de
					<a href="../../glossary/technicalTerms.html#fellow" title="Creative Fellow">Creative Fellow</a>.
				</p>
				<h3>Développement...</h3>
				<p>
					La conception initiale de la Switch commence peu de temps après la sortie de la Wii U en 2012. Kimishima conçoit la Switch comme une nouvelle façon de
					jouer qui aura un impact plus important que la Wii U. Le président et directeur de l'exploitation de Nintendo of America, Reggie Fils-Aimé, souligne
					l'attrait de la console offrant aux joueurs la possibilité de jouer à la maison ou en déplacement, et qu'elle permet aux développeurs de créer de
					nouveaux types de jeux.
					<br> 
					Nintendo garde cette approche pour établir des appareils uniques et difficiles à copier plutôt que de concurrencer fonctionnalité pour fonctionnalité
					des autres consoles. Les concepts généraux de la Switch correspondent à la philosophie de conception de la
					<em>pensée latérale avec une technologie chevronnée</em> de Gunpei Yokoi que Nintendo utilise depuis deux décennies. Nintendo a pour objectif de créer
					un appareil capable de jouer <em>tranquillement</em> à des jeux destinés à être joués <em>en profondeur</em>. Cette approche s'applique également au
					mode de vie culturel et aux différences de jeu entre les joueurs japonais et occidentaux - les joueurs japonais jouent en déplacement et avec des
					groupes sociaux, tandis que les joueurs occidentaux jouent seuls à la maison -. La conception de la Switch répond aux deux cultures, et certains jeux,
					comme <a href="https://www.youtube.com/watch?v=3FH1xBvqxRM" title="1-2-Switch">1-2-Switch</a>, peuvent rendre les jeux sociaux plus acceptables dans
					la culture occidentale.
					<br> 
					Deux éléments clés sont destinés à répondre à ce marché mixte avec la possibilité pour le gamer de jouer à la fois sur un écran de télévision et un
					écran portable avec l'utilisation de contrôleurs détachables. Le nom <em>Switch</em> est choisi non seulement pour faire référence à la capacité de la
					console de passer du mode portable au mode console, mais pour présenter l'idée d'être un commutateur qui inverse et change la façon dont les gens
					ressentent le divertissement dans leur vie quotidienne.
					<br> 
					Une partie de l'inspiration de la forme et de la conception de la Switch proviennent des commentaires des joueurs donnés à Nintendo sur la
					télécommande Wii. Avec la sortie de jeux comme "Wii Sports" et "Wii Fit", les joueurs demandent à Nintendo s'ils peuvent fabriquer la télécommande Wii
					dans un format plus petit, potentiellement attaché à une partie de leur corps. Cela conduit Nintendo à envisager ce qu'un contrôleur de facteur plus
					petit peut fournir à la fois en matériel et en gameplay, et conduit l'idée d'une console suffisamment petite avec ces nouveaux contrôleurs pour être
					également portable. Les joueurs apprécient également d'utiliser la Wii U GamePad et veulent y jouer n'importe où, mais elle devient inactive sitôt que
					l'on s’éloigne de la base. Nintendo a donc pu concevoir une console que le joueur peut emporter avec lui n'importe où.
					<br> 
					Cinq prototypes sont développés pour la Switch pour le développement des différentes méthodes de connexion physique des contrôleurs Joy-Con à la
					console, y compris l'utilisation d'aimants pour les maintenir en place. En plus de la conception de la forme, Nintendo doit équilibrer la puissance et
					la vitesse de l'unité centrale de traitement de la console avec la durée de vie de la batterie et la taille de l'unité, couplées à des ressources de
					développement limitées et à des délais fixés par la direction de Nintendo. L’un des choix faits par l’équipe de développement est d’utiliser un
					système existant sur une puce plutôt que de créer la leur comme fait précédemment. Cette rupture avec la tradition est effectuée pour obtenir plus de
					support tiers pour la console en utilisant une puce sur laquelle les développeurs peuvent facilement porter.
					<br> 
					Nintendo cherche à équilibrer les fonctionnalités générales du système, y compris la durée de vie et la taille de la batterie, tout en gardant à
					l'esprit leurs ressources de développement et leur calendrier limités. Koizumi
					<cite>
						&#10077;La partie la plus difficile a été de savoir comment prendre un équilibre global alors que nous devenions mêlés à tous ceux qui étaient
						complexes. Le développement de la Switch au sein de Nintendo est dirigé par des employés plus jeunes. Ce sont vraiment eux qui ont mis cela en
						avant et conçu ce système. Je recherche toujours des designers qui ne sont pas des fans de jeux super passionnés. Je tiens à m'assurer qu'ils ne
						sont pas seulement un joueur, mais qu'ils ont beaucoup d'intérêts et de compétences différents&#10080;
					</cite>.
					Les développeurs juniors ont aider à trouver des idées sur la façon de s'assurer que le commutateur a un cycle de vie plus long que les cinq à six ans
					typiques comme la plupart des autres consoles. Miyamoto, Takeda et Iwata, tous les trois responsables de ces équipes, s'impliquent moins, mais
					fournissent la surveillance nécessaire sur le développement du commutateur, principalement en ce qui concerne le coût de la mise en œuvre de nouvelles
					fonctionnalités. Pour Miyamoto, son implication limitée lui permet de passer plus de temps sur les logiciels de Nintendo en cours de développement à
					l'époque, tels que <a href="https://www.youtube.com/watch?v=gLGZwqpmnlY" title="Super Mario Run">Super Mario Run</a>.
				</p>
				<h3>Lancement...</h3>
				<p>
					Les premières nouvelles du lancement de la Switch se sont produites parallèlement à l'annonce du partenariat de Nintendo et de DeNA le 17 mars 2015.
					À ce stade, Nintendo fait référence à la console sous le nom de code NX et l'a décrit comme un tout nouveau concept. Des rumeurs commencent à émerger
					en mai 2016 concernant la nature de la console, y compris son utilisation du matériel Nvidia Tegra, étant un appareil hybride destiné à la fois à la
					maison et à l'utilisation mobile, des contrôleurs qui peuvent se détacher de l'appareil principal et être utilisés séparément, et que les jeux se
					distribueraient sur la console via des cartouches et des téléchargements numériques.
					<br> 
					Nintendo annonce officiellement la console le 20 octobre 2016 sous le nom de Nintendo Switch. Nintendo ne fournit d'ailleurs pas beaucoup de détails
					sur les fonctionnalités de la plateforme, et attendent 2017 pour en fournir un peu plus. Miyamoto et Fils-Aimé présentent la Switch sur le show de
					Jimmy Fallon lors de son émission <em>The Tonight Show</em> en décembre. Fallon eut la possibilité de jouer une partie de
					<a href="https://www.youtube.com/watch?v=NewCpKuToCw" title="Zelda, Breath of the Wild">Zelda, Breath of the Wild</a>. Nintendo révèle les détails
					techniques de la Switch, sa date de lancement mondial et son prix, lors d'un événement de presse à Tokyo le 13 janvier. L'événement est retransmis en
					direct et l'événement Nintendo Treehouse est produit le lendemain pour révéler la gamme complète de lancement et les jeux à venir.
				</p>
				<h3>La console...</h3>
				<p>
					L'unité principale de la Switch est la console, un moniteur de type tablette alimenté par batterie qui se compose d'un écran LCD, le même que le Wii U
					GamePad. L'écran LCD prend en charge des résolutions jusqu'à 720 pixels - 1280 × 720p -. La console comprend une prise Jack, des haut-parleurs stéréo
					sur la face inférieure, un port USB-C pour le chargement et une béquille à l'arrière. Vous trouvez un support cartouche et un emplacement pour carte
					microSD. La Switch comprend trois boutons, tous sur le dessus de l'appareil, Volume +/- et Power. Elle a des rails sur le côté, dans lesquels les
					contrôleurs Joy-Con peuvent être glissés. Un capteur de lumière ambiante à l'avant de la console ajuste automatiquement la luminosité de l'écran. Il
					existe trois modes de jeu utilisables : le mode TV avec la console glissée dans la station d'accueil pour prendre en charge la lecture sur un
					téléviseur, le mode table avec la console placée sur une table ou une autre surface plane à l'aide de sa béquille pour des jeux partagés loin d'un
					écran dédié, ou en mode portable en tant que tablette portable standard.
					<br> 
					Les utilisateurs peuvent basculer entre ces modes simplement en plaçant la console dans le dock ou en la retirant, en étendant ou en rétractant la
					béquille, et en détachant ou en connectant le Joy-Con. Les jeux peuvent être conçus pour jouer uniquement dans des modes spécifiques. Par exemple,
					<a href="https://www.youtube.com/watch?v=QAkp6YYJSAU" title="Voez">Voez</a> ne peut être lu en mode TV et dépend des commandes de l'écran tactile. La
					prise en charge des contrôleurs et du mode TV est ajoutée à Voez en janvier 2018 via une mise à jour.
					<br> 
					La Switch est une expérience sur un seul écran, dans la mesure où le joueur voit le contenu sur la console lorsqu'il est hors du dock, ou sur l'écran
					attaché au dock lorsque la console est ancrée. Le Switch ne peut pas offrir la fonctionnalité double écran qui était offerte à la Wii U via son
					GamePad. Nintendo a breveté un moyen d'utiliser plusieurs consoles Switch pour créer une configuration multi-écrans, en les disposant sur une surface
					plane et en couvrant un seul environnement de jeu sur leurs écrans. Cette technologie a été vue pour la première fois dans
					<a href="https://www.youtube.com/watch?v=g-Vv72Jm9BQ" title="Super Mario Party">Super Mario Party</a>.
				</p>
				<h3>Le dock...</h3>
				<p>
					La console, avec ou sans Joy-Con, peut être placée dans sa station d'accueil Switch, avec connecteurs électriques pour charger la batterie et à un
					téléviseur via une connexion HDMI. La station d'accueil comprend également deux ports USB 2.0 et un port USB 3.0. Lorsqu'il est ancré, l'appareil peut
					prendre en charge des résolutions jusqu'à 1080p et une fréquence d'images maximale de 60 images/seconde.
				</p>
				<h3>Joy-Con et Pro Controller...</h3>
				<p>
					La Nintendo Switch est livrée avec deux manettes appelées collectivement Joy-Con, appelées individuellement Joy-Con L et Joy-Con R. Les contrôleurs se
					fixent à la console Switch via des rails latéraux à l'aide d'un mécanisme de verrouillage, avec un petit bouton de déverrouillage sur leur face
					arrière pour leur permettre de se détacher. Lorsqu'ils sont détachés, ils peuvent être utilisés en paire par un seul joueur ou utilisés comme
					contrôleurs séparés par deux joueurs individuels. Une seule console Switch peut prendre en charge jusqu'à huit connexions Joy-Con. Une poignée de
					chargement est disponible qui permet de connecter un câble USB-C pour l'alimentation. Parallèlement à cela, Nintendo a commercialisé une sangle de
					chargement qui permet aux joueurs de charger un Joy-Con individuel via des piles AA intégrées. La Switch prend également en charge une manette sans
					fil <em>Nintendo Switch Pro Controller</em> d'une conception plus traditionnelle. Le contrôleur Pro se connecte au commutateur via une communication
					Bluetooth sans fil et est chargé via un port USB-C standard.
				</p>
				<h3>Les jeux...</h3>
				<p>
					Les jeux pour Nintendo Switch peuvent être obtenus via les commerces de vente au détail ou numériquement via le Nintendo eShop. Les jeux distribués au
					détail sont stockés sur des cartouches exclusives, de conception similaire aux cartes de jeu utilisées pour les jeux Nintendo 3DS, bien que plus
					petites et plus fines, et la Switch est le premier système de jeu vidéo ou hybride majeur à utiliser des cartouches depuis la N64. En raison de leur
					taille, Nintendo enduit chaque cartouche de benzoate de dénatonium, un amer non toxique utilisé pour décourager les enfants de les ingérer.
					<br>	 
					Nintendo fixe un prix de détail à 50€ et autorise ses éditeurs à fixer eux-mêmes leurs prix, ne demandant que le prix courant soit le même pour les
					versions physiques et numériques. Les cartes de jeu au moment de la sortie de la Switch ont une capacité de 32 Go pour passer ensuite à 64 Go.
					Certains jeux physiques peuvent encore nécessiter l'installation de contenu sur le stockage interne, utilisant une partie importante de la mémoire si
					une carte microSD n'est pas disponible. D'autres peuvent nécessiter la présence d'une carte microSD dans le commutateur, comme
					<a href="https://www.youtube.com/watch?v=JFRcFGSmaJs" title="NBA 2K18">NBA 2K18</a> et inscrit clairement sur la boite.
					<br>	
					Le commutateur prend en charge les jeux en ligne nécessitant plus de capacités matérielles que le commutateur le permet, en exécutant ces jeux sur un
					réseau avec des calculs de jeu effectués sur le matériel du serveur. Les premiers exemples de tels jeux sur la Switch incluent
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=mRbeU3cFyUY" title="Resident Evil 7">Resident Evil 7 : Biohazard</a></li>
					<li><a href="https://www.youtube.com/watch?v=PiiJey7iAzE" title="Phantasy Star Online 2">Phantasy Star Online 2</a></li>
					<li>et <a href="https://www.youtube.com/watch?v=ozTzo_3Z2Rk" title="Assassin's Creed">Assassin's Creed : Odyssey</a></li>
				</ul>
				<p>
					Contrairement aux précédentes consoles de Nintendo, la Switch est sans région. Cela permet aux joueurs d'utiliser des cartouches ou du contenu
					téléchargé de n'importe quelle partie du monde, à l'exception du contenu de la démocratique Chine - je sais ! C'est un non-sens ! -. Nintendo choisit
					de se passer de la région pour réduire la charge de travail et les coûts à la fois eux-mêmes et les développeurs qui doivent gérer au moins deux
					processus de certification régionaux et différentes voies de production de cartouches ROM pour ces régions. De plus, les achats sur l'eShop, bien que
					toujours liés au compte Nintendo, ne sont pas liés à la console Switch, comme c'était le cas pour le matériel Nintendo précédent. Une fois que
					l'utilisateur réenregistre son compte, il a accès pour télécharger tous les achats précédents mais un utilisateur ne peut avoir son compte enregistré
					que sur une console à la fois, et les logiciels téléchargés liés à un compte ne peuvent pas être utilisés si ce compte n'est pas enregistré sur
					l'appareil. Avec la mise à jour du système 6.0 de la console, parallèlement au lancement du service en ligne en septembre 2018, un utilisateur peut
					jouer à des jeux qu'il a acheté sur l'eShop sur une deuxième console Switch, tout en nécessitant une connexion en ligne continue et d'autres
					restrictions. Bref ! C'est le bordel !
					<br> 
					La Switch n'est pas rétrocompatible avec les autres titres numériques des consoles précédentes. Des versions émulées de jeux des systèmes précédents
					sont par contre proposées via eShop et le service Nintendo Switch Online.
				</p>
				<h3>Les ventes...</h3>
				<p>
					Les ventes initiales de la Switch sont solides, Nintendo rapportant que sur la base des chiffres de sa première semaine, la Switch est la console la
					plus vendue de la société. Au Japon, les ventes du premier week-end ont dépassé 330 000 unités, ce qui est comparable à la PlayStation 4 pendant sa
					période de lancement. Media Create estime que plus de 500 000 unités Switch se sont vendues au Japon au cours de son premier mois, battant la
					PlayStation 4. Durant l'exercice 2016, 2,74 millions d'unités se sont vendues dans le monde, dépassant leur objectif de 2 millions. Les ventes
					physiques de jeux atteignent 5,46 millions au cours de son premier mois, avec 2,76 millions d'exemplaires de Breath of the Wild. Les ventes
					importantes du premier mois contraigne Nintendo à augmenter leur capacité de production et à utiliser temporairement le fret aérien pour expédier des
					unités Switch au lieu de leur expédition habituelle par bâteau. Avec ces changements, Nintendo prévoit de vendre au moins 10 millions de consoles au
					cours de l'exercice 2017, aux côtés de 35 millions de jeux. Le fait d'avoir une base d'utilisateurs solides donne aux éditeurs le sentiment que
					l'avenir de Nintendo Switch est prometteur et stimule le développement de jeux pour la plateforme.
					<br> 
					Un objectif clé de leur montée en production est de s'assurer que Nintendo dispose d'un stock suffisant pour les ventes de vacances afin d'éviter le
					problème de pénurie connu avec la Wii. Au 31 mars 2020, Nintendo a expédié 55,77 millions d'unités Switch, dont plus de 49,57 millions d'unités
					Switch et 6,19 millions d'unités Switch Lite, release de la Switch originale. La Switch dépasse les ventes à vie de la Wii U - 13,6 millions d'unités
					-, de la GameCube - 21,7 millions d'unités -, de la Nintendo 64 - 32,9 millions d'unités - et de la SNES - 49,1 millions d'unités -. Plus de 350
					millions de logiciels se sont vendus au 31 mars 2020 - loin tout de même du milliard de la PS4.
					<br> 
					Les meilleures ventes de la plate-forme, dépassant 10 millions d'unités vendues dans le monde
				</p>
				<ul>
					<li>Mario Kart 8 Deluxe - 24,77 millions</li>
					<li>Super Smash Bros.Ultimate - 18,84 millions</li>
					<li>The Legend of Zelda: Breath of the Wild - 17,41 millions</li>
					<li>Super Mario Odyssey - 17,41 millions</li>
					<li><a href="https://www.youtube.com/watch?v=f7dZeO0qoI4" title="Pokemon Épée et Bouclier">Pokemon Épée et Bouclier</a> - 17,37 millions</li>
					<li><a href="https://www.youtube.com/watch?v=ufJrO4dh7PM" title="Pokemon : Allons-y, Pikachu">Pokemon : Allons-y, Pikachu! et c'est parti, Évoli!</a>
						- 11,97 millions
					</li>
					<li><a href="https://www.youtube.com/watch?v=-_HdPCy3pT8" title="Animal Crossing">Animal Crossing : New Horizons</a> - 11,77 millions</li>
					<li><a href="https://www.youtube.com/watch?v=-znt5KitS8E" title="Splatoon 2">Splatoon 2</a> - 10,13 millions</li>
					<li>Super Mario Party - 10,10 millions</li>
				</ul>
			</section>
	</article>
	</main>
	<footer>
		<p>
            &copy; 2021 - Lyasen - tous droits réservés
        </p>

        <h4>Mes sites recommandés :</h4>            
        <ul>
            <li>ActuGaming.net</li>
            <li>GameBlog</li>
            <li>Gamekult</li>
            <li>JeuxActu</li>
            <li>jeuxvideo.com</li>
            <li>YouTube</li>
        </ul>
        
        <p>
            <a href="mailto:consolStory@protonmail.com">Nous contacter</a>            
        </p>
	</footer>
</body>
</html>