<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Consol'Story - Histoire de la Seconde Génération de consoles de jeux vidéos</title>
	<!--	Tags meta	-->
	<meta name="description" content="La seconde génération commence à voir apparaître de grands noms de l'industrie dans ce loisir d'avenir">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 	Links	-->
	<link rel="stylesheet" href="secondGen.css">
	<link rel="shortcut icon" href="../../../static/logo/purple_logo.png" type="image/x-icon">
</head>
<body>
	<header>
		<h1>1976 - 1983 : Consoles Seconde Génération</h1>
		<nav>
			<ul>
				<li><a href="../../main.html" title="Accueil">Retour vers l'accueil</a></li>
				<li><a href="../firstGen/firstGen.html" title="Première génération">Première génération</a></li>
				<li><a href="../thirdGen/thirdGen.html" title="Troisième génération">Troisième génération</a></li>
				<li><a href="../fourthGen/fourthGen.html" title="Quatrième génération">Quatrième génération</a></li>
				<li><a href="../fifthGen/fifthGen.html" title="Cinquième génération">Cinquième génération</a></li>
				<li><a href="../sixthGen/sixthGen.html" title="Sixième génération">Sixième génération</a></li>
				<li><a href="../seventhGen/seventhGen.html" title="Septième génération">Septième génération</a></li>
				<li><a href="../eighthGen/eighthGen.html" title="Huitième génération">Huitième génération</a></li>
				<li><a href="../ninthGen/ninthGen.html" title="Neuvième génération">Neuvième génération</a></li>
			</ul>
			<ul>
				Consoles deuxième génération :
				<li><a href="#fairchild" title="Channel F & Fairchild F System II">Channel F & Fairchild F System II</a> - Fairchild</li>
				<li><a href="#2600" title="Atari 2600">2600</a> - Atari</li>
				<li><a href="#5200" title="Atari 5200">5200</a> - Atari</li>
				<li><a href="#videopac" title="Videopac">Videopac</a> - Philips</li>
				<li><a href="#intelI" title="Intellivision">Intellivision</a> - Mattel</li>
				<li><a href="#intelII" title="Intellivision 2">Intellivision II</a> - Mattel</li>
				<li><a href="#intelIII-IV" title="Intellivision 3">Intellivision III & IV</a> - Mattel</li>
				<li><a href="#vision" title="CreatiVision">CreatiVision</a> - V'Tech</li>
				<li><a href="#cvision" title="ColecoVision">ColecoVision</a> - Coleco</li>
				<li><a href="#vec" title="Vectrex">Vectrex</a> - MB</li>
				<li><a href="#sd070" title="Hanimex SD-070 couleur">SD-070 couleur</a> - Hanimex</li>
				<li><a href="#rca" title="RCA Studio 2">Studio II</a> - RCA</li>
				<li><a href="#gemini" title="Gemini">Gemini</a> - Coleco</li>
				<li><a href="#bally" title="Astrocade">Astrocade</a> - Bally</li>
				<li><a href="#vc4000" title="Video Computer 4000">Video Computer 4000</a> - Interton</li>
				<li><a href="#cassette" title="Cassette Vision">Cassette Vision</a> - Epoch</li>
				<li><a href="#arcade" title="Home Arcade">Home Arcade</a> - Emerson</li>
			</ul>
		</nav>
	</header>

	<main>
		<article>
			<section>
				<h2 id="fairchild">Fairchild Channel F & Fairchild F System II</h2>
				<ul>
					<li>Concepteur :
						<ul>
							<li> Robert Noyce : créateur du processeur "Fairchild F8"</li>
							<li>Nick Talesfore : développeur de la Fairchild F System II</li>
						</ul>
					</li>
					<li>Fabricant : <a href="../../glossary/companies.html#fairchild" title="Fairchild Camera & Instrument">Fairchild Camera & Instrument</a></li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon :
								<ul>
									<li>Fairchild Channel F - 1977</li>
								</ul>
							</li>
							<li>Etats-Unis :
								<ul>
									<li>Fairchild Channel F - 1976</li>
									<li>Fairchild F System II - 1979</li>
								</ul>
							</li>
							<li>Europe :
								<ul>
									<li>Fairchild F System II - 1979</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Fin de production - 1983</li>
					<li>Ventes de la console (en unités) :
						<ul>
							<li>Fairchild Channel F - 250 000</li>
							<li>Fairchild F System II - NC</li>
						</ul>
					</li>
					<li>Nombre de titres sortis :
						<ul>
							<li>Fairchild Channel F - 23</li>
							<li>Fairchild F System II - 5</li>
						</ul>
					</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - NC</li>
					<li>Fairchild Channel F - <a href="https://www.youtube.com/watch?v=wBeokwN_5jg" title="Fairchild Channel F">Classic Game Room</a></li>
					<li>Fairchild Channel F - <a href="https://www.youtube.com/watch?v=F5eUSYWO8Uk" title="Fairchild Channel F">Trade-N-Game</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/fairchild/channelF.jpg"><img src="../../../static/img/fairchild/channelF_mini.png" alt="Fairchild-Channel-F"
					   title="La Fairchild Channel F, première console de l'histoire à introduire les cartouches de jeu"></a>
					<a href="../../../static/img/fairchild/system2.jpg"><img src="../../../static/img/fairchild/system2_mini.png" alt="Fairchild Channel F System II"
					   title="La System II s'effrondre avec le Krach de 1983"></a>
				</figure>
				<h3>Fairchild Channel F...</h3>
				<p>
					La Channel F est la première console au monde basée sur un sytème de cartouches et à intégrer un micro-processeur. Cette famille de processeurs sont
					cablés ensemble pour former une unité centrale dont le net progrès apporté concerne le jeu des couleurs. Le son est joué par un haut-parleur interne.
					Les contrôleurs sont de grandes poignées de main avec un paddle triangulaire sur le dessus. La console contient un petit compartiment bien utile pour
					stocker les contrôleurs car le câblage est plutôt fin est fragile.
					<br>
					En concurrence directe avec l'Atari 2600, elles changent toutes deux de dénomination car leur nom originel est la 'VES' pour Fairchild et la 'VCS'
					pour Atari. Atari qui se dépéche de sortir sa 2600 avant que Fairchild n'inonde le marché. En effet, la Channel est une console qui se vend
					particulièrement bien, et son système révolutionnaire de cartouches attire de nouveaux acheteurs.
					<br>
					Pour la petite histoire, Robert Noyce partit ensuite de Fairchild SemiConductor pour aller créer sa propre boîte avec ses amis Gordon Moore - à qui
					l'on doit la fameuse loi de Moore : En 1965, il annonce que le nombre de transistors dans les circuits intégrés en silicium double tous les 18 mois -
					et Andrew Grove : Intel. Une toute petite boîte... Une boîte artisanale quoi... d'une valeur boursière de 286 milliards d'euros aujourd'hui...
				</p>

				<h3>Fairchild Channel F System II...</h3>
				<p>
					1979, Zircon International rachète les droits de la Fairchild et décide de rentrer en concurrence avec Atari. Elle sort alors la Fairchild F System II avec un nouveau design, des manettes débranchables, un compartiment de rangement situé à l'arrière et un son sur les haut-parleurs de la télé pour voir la sortie de... cinq jeux ! Hé oui ! Le krach du jeu vidéo balaie tout le monde sur son passage et la Fairchild en fait les frais. Fin de partie !
				</p>
			</section>
			
			<section>
				<h2 id="2600">Atari 2600 : le début de la saga Atari...</h2>
				<ul>
					<li>Concepteur : Atari's Grass Valley Think Tank</li>
					<li>Fabricant : <a href="../../glossary/companies.html#atari" title="Atari">Atari</a></li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 1983</li>
							<li>Etats-Unis - 1977</li>
							<li>Europe - 1978</li>
							<li>France - 1981</li>
						</ul>
					</li>
					<li>Fin de production - 1992</li>
					<li>Ventes de la console (en unités) - 30 millions</li>
					<li>Nombre de titres sortis - 900</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu : <a href="https://www.youtube.com/watch?v=nCPpgt0s70U" title="World of Longplays">Pac-Man</a> - 7 millions</li>
					<li>Atari 2600 - <a href="https://www.youtube.com/watch?v=6XjXYlfv3bk" title="Atari 2600">Etrange High-Tech</a></li>
					<li>Atari 2600 - <a href="https://www.youtube.com/watch?v=16ivaOq_7M4" title="Atari 2600">Edward</a></li>
					<li>Atari 2600Jr - <a href="https://www.youtube.com/watch?v=mWtaOT_hn-k" title="Atari 2600Jr">80s Comics</a></li>
					<li>Atari 2800 - <a href="https://www.youtube.com/watch?v=HYQlj-52bMw" title="Atari 2800">Top Hat Gaming Man</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/atari/2600.jpg"><img src="../../../static/img/atari/2600_mini.png" alt="Atari 2600"
						title="L'Atari 2600, un des monuments de l'histoire du jeu vidéo"></a>
					<a href="../../../static/img/atari/2600Noir.jpg"><img src="../../../static/img/atari/2600Noir_mini.png" alt="Atari 2600"
						title="L'Atari 2600 black, première apparition de l'appellation 'Atari 2600' sur la console"></a>
					<a href="../../../static/img/atari/2600Light.jpg"><img src="../../../static/img/atari/2600Light_mini.png" alt="Atari 2600"
						title="La deuxième version de la console plus légère en matériaux"></a>
					<a href="../../../static/img/atari/2800_JP.jpg"><img src="../../../static/img/atari/2800_JP_mini.png" alt="Atari 2800"
						title="L'Atari 2800, version sortie au Japon - ici sous la marque Sears -"></a>
					<a href="../../../static/img/atari/2600Jr.jpg"><img src="../../../static/img/atari/2600Jr_mini.png" alt="Atari 2600"
						title="L'Atari 2600Jr, sortie en 1986"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					Atari est fondée par Nolan Bushnell et Ted Dabney en 1972. Leur premier produit majeur est
					<a href="../../glossary/technicalTerms.html#pong" title="Pong">Pong</a>, l'un des premiers jeux d'arcade à succès. Atari sort une console de salon
					en 1975 avec ce fameux jeu, en concurrence avec <a href="../../glossary/companies.html#magnavox" title="Magnavox">Magnavox</a>, seul autre grand
					distributeur de consoles de salon à l'époque. Mais Bushnell reconnait assez rapidement la limitation de la logique personnalisée gravée sur la carte
					de circuit imprimé : elle ne permet d'inclure qu'un seul jeu et ses variantes, ce qui signifie que tout nouveau jeu nécessite une console complètement
					différente.
					<br>
					Atari acquiert <a href="../../glossary/companies.html#cyan" title="Cyan Engineering">Cyan Engineering</a> en 1974, une société d'électronique fondée
					par Steve Mayer et Larry Emmons - tous deux anciens collègues de Bushnell et Dabney du temps d'
					<a href="../../glossary/companies.html#ampex" title="Ampex">Ampex</a> -, et crée le <em>Grass Valley Think Tank</em>, où sont développées les
					nouvelles idées pour les jeux d'arcade. Du fait des inquiétudes de Bushnell sur les consoles de jeu unique, l'équipe de Grass Valley commence à
					travailler sur une console avec un support multi-jeux. Mayer et Emmons déterminent qu'une console de salon nécessite des micro-processeurs
					nouvellement inventés pour prendre en charge plusieurs jeux.
					<br>
					Chuck Peddle de <a href="../../glossary/companies.html#mos" title="MOS Technology">MOS Technology</a> crée un nouveau micro-processeur en septembre
					1975 : le <em>MOS Technology 6502</em>. Mayer rencontre Peddle et invite ce dernier au siège de Cyan pour discuter de l'utilisation des
					microprocesseurs de MOS dans une console de jeu. De nouvelles discussions déterminent que la meilleure solution est la technologie MOS 6507.
					<a href="../../glossary/companies.html#synertek" title="Synertek">Synertek</a>, un fabricant de semi-conducteurs dont le co-fondateur, Bob Schreiner,
					est un bon ami de Peddle, s'engage à en être le fournisseur.
					<br>
					Atari engage Joe Decuir dans la foulée pour aider à concevoir le premier prototype de puce, nommé <em>Stella</em> - nom du vélo de Decuir - puis un
					deuxième prototype est achevé en mars 1976 avec l'aide de Jay Miner, qui réussit à modeler l'intégralité de l'
					<em>Adaptateur d'Interface de Télévision</em> - <em>Television Interface Adaptator</em> - pour envoyer des graphiques et du son au téléviseur sur une
					seule puce. Le deuxième prototype comprend le 6507, le TIA, un emplacement et un adaptateur pour cartouche ROM, chaque cartouche contenant une image
					de jeu ROM. Croyant que Stella serait un succès, Bushnell acquiert l'intégralité du "Grass Valley Think Tank" et les transfère au nouveau siège
					social d'Atari à Sunnyvale en Californie mettant Steve Mayer en charge du projet. Bushnell ne craint qu'une fois cette console commercialisée, les
					concurrents ne tentent de la copier et il s'arrange de manière préventive avec tous les fabricants de puces intégrées intéressés par le marché des
					jeux vidéo à refuser des ventes à ses concurrents.
				</p>

				<h3>Lancement...</h3>
				<p>
					Fairchild Semiconductor présente sa console Fairchild Channel F en novembre 1976, battant Atari sur le marché avec sa technologie des cartouches ROM.
					Cela pousse Atari à finir Stella plus rapidement, mais la société n'a pas les fonds nécessaires pour le faire. Bushnell vend alors Atari à
					<a href="../../glossary/companies.html#warner" title="Warner Communications">Warner Communications</a> pour 23,6 millions d'€. Warner fournit ainsi
					84,4 millions d'€ de nouveaux dividendes, permettant à Stella d'être priorisée et accélérée.
					<br> 
					Le produit progresse suffisamment pour le qualifier de <em>Vidéo Computer System</em> Atari - VCS - et engager des programmeurs pour développer des
					jeux en interne, tout comme Sega du fait de la politique anti-concurrentielle de Nintendo. Mais voilà, Atari ne rémunère pas ses développeurs avec
					un intéressement sur la vente des jeux, notamment Rick Maurer qui reçu en tout et pour tout 9 300€ pour son jeu pas très connu
					<a href="https://www.youtube.com/watch?v=MU4psw3ccUI" title="Space Invaders">Space Invaders</a>. L'unité est présentée en juin au
					<a href="https://www.youtube.com/watch?v=4qq8O-aO3Eg" title="Summer Consumer Electronics Show">Summer Consumer Electronics Show</a> - La vidéo date de
					1982 et c'est apparemment la plus ancienne du CES, mais elle présente surtout le contexte de l'époque - avec une prévision de sortie en octobre.
					Cependant, Atari rencontre des problèmes de production lors de son premier lot sur l'utilisation des cartouches et seront expédiées aux détaillants en
					novembre. Ainsi naquit la VCS 2600 !
					<br>
					C'est historiquement la troisième console à cartouches à investir le marché du jeu vidéo. Elle est produite de 1977 à... 1992. Une production sur
					quinze ans malgré des sorties de jeux complètement ignobles comme <a href="https://www.youtube.com/watch?v=EFt-La3UUu0" title="E.T.">E.T.</a>.
					<br>
					La 2600 Jr., sortie en 1986, est plus petite et à coût réduit avec une apparence modernisée de type Atari 7800. La 2600 redessinée est annoncée comme
					un système de jeu pour les petits budgets avec la possibilité d'exécuter une grande collection de jeux classiques. Bien que sortie après le krach du
					jeu vidéo de 1983 et après le lancement américain de la NES, la 2600 est soutenue par de nouveaux jeux et publicités télévisées faisant la promotion
					de : <em>Le plaisir est de retour !</em>.
				</p>

				<h2 id="5200">Atari 5200</h2>
				<ul>
					<li>Concepteur : Atari's Grass Valley Think Tank</li>
					<li>Fabricant : <a href="../../glossary/companies.html#atari" title="Atari">Atari</a></li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - NC</li>
							<li>Etats-Unis - 1982</li>
							<li>Europe - NC</li>
						</ul>
					</li>
					<li>Fin de production - 1984</li>
					<li>Ventes de la console (en unités) - 1 million</li>
					<li>Nombre de titres sortis - 69</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - NC</li>
					<li>Atari 5200 - <a href="https://www.youtube.com/watch?v=AknyR-kRvLc" title="Atari 5200">Angry Video Game Nerd</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/atari/5200.jpg"><img src="../../../static/img/atari/5200_mini.png" alt="Atari 5200"
						title="L'Atari 5200 subit un sort contraire à la 2600"></a>
					<a href="../../../static/img/atari/5200Open.jpg"><img src="../../../static/img/atari/5200Open_mini.png" alt="Atari 5200"
						title="Compartiment de rangement"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					L'Atari 5200 est une console commercialisée en 1982 en tant que complément haut de gamme pour la populaire 2600. La 5200 est créée pour concurrencer
					l'Intellivision et la ColecoVision qui sont à cette période les consoles les plus puissantes du marché. L'Atari 5200 est essentiellement un ordinateur
					Atari 400 sans clavier bien que le logiciel ne soit pas directement compatible entre les deux systèmes. Ceci prouve que les conceptions d'Atari
					peuvent rapidement s'adapter au marché.
					<br> 
					La console apporte un nouveau joystick révolutionnaire avec un manche analogique et des touches de fonction - start, pause, reset -. Elle bénéficie
					d'autres innovations comme un tir automatique et quatre ports de joystick offrant plus de possibilités que le joystick à huit directions fourni avec
					la 2600. Cependant, la conception sans centrage du manche s'avère sans avantage et peu fiable, énervant beaucoup d'acheteurs.
					<br> 
					Tandis que les 5200 recueillent de nombreux adeptes grâce à une bibliothèque de jeux de haute qualité, elle doit faire face à une nouvelle concurrence
					de la Colecovision et à une économie qui devient de plus en plus vacillante. La question de savoir quel système serait supérieur à l'autre est devenue
					inutile quand le marché du jeu s'effondre en 1983, entamant une marche du désert de deux années, tuant les deux consoles dans leur perfection.
					<br> 
					Lors d'une conférence de presse en 1984 au cours de laquelle l'Atari 7800 est présentée, les dirigeants d'Atari révélent dans la foulée que la 5200
					est abandonnée après seulement deux ans d'existence sur le marché. Les ventes totales de la 5200 étant bien en-dessous de la 2600, cette première ne
					sortira jamais en France. Qui plus est, la 2600, sortie en 1977 aux États-Unis, ne sort en Europe qu'en 1981 alors que la 5200 est déjà en phase de
					conception révélant un retard de près d'une génération sur les américains. Le trop faible temps de présence de la 2600 en France, ajouté au fait
					que la 5200 est un échec commercial aux USA, ne verra le retour d'Atari sur le vieux continent que lors de l'année 1990 avec l'Atari 7800.
				</p>
			</section>

			<section>
				<h2 id="videopac">Videopac</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#magnavox" title="Magnavox">Magnavox</a></li>
					<li>Fabricant : <a href="../../glossary/companies.html#philips" title="Philips">Philips</a></li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 1982 sous la marque Magnavox Odyssey</li>
							<li>Etats-Unis - 1978 sous la marque Magnavox Odyssey</li>
							<li>Europe - 1978</li>
							<li>France - 1980</li>

						</ul>
					</li>
					<li>Fin de production :
						<ul>
							<li>Etats-Unis - 1982</li>
							<li>France - 1987</li>
						</ul>
					</li>
					<li>Ventes de la console (en unités) - 2 millions</li>
					<li>Nombre de titres sortis :
						<ul>
							<li>Videopac - 49</li>
							<li>Videopac+ - 21</li>
						</ul>
					</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - NC</li>
					<li>Philips Videopac G7000 - <a href="https://www.youtube.com/watch?v=O5j8YOwr0rs" title="Philips Videopac G7000">Retro Console Workshop</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/Philips/g7000.jpg"><img src="../../../static/img/Philips/g7000_mini.png" alt="Vidéopac G7000"
						title="Première Vidéopac : La G7000"></a>
					<a href="../../../static/img/Philips/g7200.jpg"><img src="../../../static/img/Philips/g7200_mini.png" alt="Vidéopac G7200"
						title="La G7200 dispose de l'écran incorporé"></a>
					<a href="../../../static/img/Philips/g7401.jpg"><img src="../../../static/img/Philips/g7401_mini.jpg" alt="Vidéopac+"
						title="La console Vidéopac+, la plus aboutie des versions Vidéopac"></a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					À la fin des années 70, après avoir racheté Magnavox, Philips décide de se lancer sur le marché des consoles en fabriquant la Videopac, un clone de
					l'Odyssey, lancée en 1978 aux États-Unis et commercialisée en Europe via plusieurs marques appartenant au groupe néerlandais -
					<a href="../../glossary/companies.html#radiola" title="Radiola">Radiola</a>, <a href="../../glossary/companies.html#schneider" title="Schneider">
					Schneider</a>, <a href="../../glossary/companies.html#magnavox" title="Magnavox">Magnavox</a>, ... -.
					<br>
					La commercialisation de la Videopac via un ensemble de grandes marques fait partie d'une stratégie visant à faire passer la gamme Videopac pour un
					standard comme le CD-I à une époque où finalement le <a href="../../glossary/technicalTerms.html#cdrom" title="">CD-ROM</a> imposera sa norme, ou
					encore pour imposer sa technologie de magnétoscopes et de cassettes vidéo
					<a href="../../glossary/technicalTerms.html#v2000" title="Video 2000">Video 2000</a> concurrente des formats
					<a href="../../glossary/technicalTerms.html#vhs" title="VHS">VHS</a> de <a href="../../glossary/companies.html#jvc" title="JVC">JVC</a> et
					<a href="../../glossary/technicalTerms.html#betamax" title="Betamax">Betamax</a> de <a href="../../glossary/companies.html#sony" title="Sony">Sony</a>.
					<br>
					D'ailleurs, au début des années 80, un accord est passé avec le groupe Thomson, raison pour laquelle on trouve des machines compatibles Videopac
					estampillées des marques du groupe français Brandt, Continental Edison et Saba. Cependant pour marquer une certaine différence, ces machines font
					parties de la gamme Jopac.
					<br>
					La Videopac, dont l'objectif est de concurrencer l'Atari 2600, est d'abord commercialisée dans une version G7000 prévue pour se brancher sur le
					téléviseur puis dans une version G7200 intégrant son propre écran. Ont suivi la Philips N60, une version plus compacte de la G7200, et enfin la
					Videopac+ - G7400 - en 1983, version améliorée capable d'afficher des décors. La G7401 sort un an plus tard, variante de la G7400 avec une sortie
					<a href="../../glossary/technicalTerms.html#peritel" title="péritel">péritel</a> apportant une réelle amélioration graphique et audio des jeux.
					<br>
					Les jeux sont "européanisés" à la <a href="../../glossary/companies.html#radio" title="Radiotechnique">Radiotechnique</a> de Suresnes et fabriqués
					dans son centre industriel des Châtelets près de Dreux.	Les deux générations de cartouches Videopac et Videopac+ permettent aux versions les plus
					évoluées d'afficher des graphismes en haute résolution en arrière-plan, ce qui améliore nettement le rendu visuel. Les cartouches sont dans leur
					grande majorité compatibles avec toutes les versions de Videopac, cependant parmi les dernières cartouches Videopac+, certaines ne sont prévues pour
					fonctionner que sur les dernières générations de consoles.
					<br>
					Techniquement, en raison du choix d'utiliser un <a href="../../glossary/technicalTerms.html#microc" title="microcontrôleur">microcontrôleur</a>
					plutôt qu'un authentique <a href="../../glossary/technicalTerms.html#microp" title="microprocesseur">microprocesseur</a>, la Videopac est plutôt en
					retard par rapport à ses concurrents mais cela n'empêche pas  la version G7000 de rencontrer un certain succès, en Europe tout du moins.
				</p>
			</section>

			<section>
				<h2 id="intelI">Intellivision - Première version</h2>
				<ul>
					<li>Concepteur : Division Electronique de <a href="../../glossary/companies.html#mattel" title="Mattel">Mattel</a></li>
					<li>Fabricant :
						<ul>
							<li>Mattel : 1979 - 1984</li>
							<li>INTV Corporation : 1984 - 1990</li>
						</ul>
					</li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 1982</li>
							<li>Etats-Unis - 1979</li>
							<li>France - 1982</li>
						</ul>
					</li>
					<li>Fin de production - 1990</li>
					<li>Ventes de la console (en unités) - 6 millions</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=eltKe7wBtdE"
													title="Las Vegas Poker & Black Jack">Las Vegas Poker & Black Jack</a> - 1,939 million /
												 <a href="https://www.youtube.com/watch?v=7qVIWQE6snc"
													title="IntellivisionDude">Major League Baseball</a> - 1.085 million
					</li>
					<li>Mattel Intellivision - <a href="https://www.youtube.com/watch?v=3YrwY-dXv0k" title="Mattel Intellivision">Edward</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/mattel/intellivision.png"><img src="../../../static/img/mattel/intellivision_mini.png" alt="Intellivision"
						title="L'Intellivision, outsider de l'Atari 2600"></a>
				</figure>				
				<p>
					Le nom Intellivision est le raccourci de 'télévision intelligente'. Le développement de la console commence en 1977, la même année que l'entrée en
					lice de son principal concurrent : l'Atari 2600. Le développement des jeux commence en 1978 et se poursuit jusqu'en 1990, année où l'Intellivision est
					abandonnée. Entre 1980 et 1983, l'Intellivision se sera vendu à plus de 3 millions d'exemplaires, ce qui est un tour de force face à l'ogre Atari. Le
					site Web de jeux vidéo IGN nomme en 2009 l'Intellivision quatorzième plus grande console de jeux vidéo de tous les temps.
				</p>
				<h3>Sa petite histoire...</h3>
				<p>
					L'Intellivision est développée chez Mattel à Hawthorne en Californie, avec leur gamme de jeux électroniques portables Mattel Electronics. Le groupe de
					conception et de développement de Mattel commence à étudier un système de jeu vidéo en 1977 devant avoir des graphismes riches et un gameplay durable
					pour se distinguer de ses concurrents. David Rolfe programme les premiers jeux et les graphiques sont conçus par un groupe d'artistes de chez Mattel.
					L'Intellivision est testée dans les magasins de Fresno en 1979, avec un total de quatre jeux disponibles. Elle est commercialisée dans tout le pays un
					an après avec un pack de jeu - "Las Vegas Poker & Blackjack" - et une édition de dix cartouches.
					<br> 
					Bien que l'Intellivision ne soit pas le premier système à défier Atari, elle est la première à représenter une menace sérieuse pour le leader du
					marché. Une série de publicités est télévisée, démontrant la supériorité des graphismes et du son de l'Intellivision sur ceux de l'Atari 2600, en
					utilisant un <a href="https://www.youtube.com/watch?v=Y0KTjpaG3cg" title="jeu en comparaison">jeu en comparaison</a>.
					<br> 
					Mattel forme son propre groupe de développement logiciel et commence à embaucher des développeurs. Pour les empêcher d'être débauchés par leur rival
					Atari, leur identité et leur lieu de travail sont gardés secrets. En public, les programmeurs sont appelés les <em>Blue Sky Rangers</em>, diversifiés
					en expérience et en talent, ce qui s'est avéré être un avantage dans le développement des jeux, les concurrents étant souvent tributaires de l'octroi
					de licences pour des marques bien connues, Mattel s'est plutôt concentré sur des idées originales et en propre.
				</p>
				<h3>développement...</h3>
				<p>
					Dans les cartouches Intellivision se trouve un logiciel nommé 'Exec'. Il offre deux avantages : un code réutilisable qui peut doubler la capacité
					d'une cartouche et un cadre logiciel permettant aux nouveaux programmeurs de développer des jeux plus facilement et plus rapidement. Il permet
					également à d'autres programmeurs d'examiner et de poursuivre plus facilement le projet d'un autre.
					<br> 
					Sous la supervision de David Rolfe et des graphismes fournis par l'artiste Dave James, APH, développeur indépendant pour Mattel, crée rapidement une
					bibliothèque de titres de lancement pour l'Intellivision en utilisant principalement des étudiants en saisonnier durant l'été. L'inconvénient majeur
					de ce logiciel est que pour être flexible et gérer de nombreux types de jeux différents, l'Exec montre ses limites sur la fréquence de l'image. En
					effet, les jeux Intellivision exploitant l'Exec fonctionnent à une fréquence de 20Hz au lieu de la fréquence d'images standard de 60Hz pour laquelle
					l'Intellivision est conçue. L'utilisation du cadre Exec est certes facultative, mais la facilité faisant, presque tous les jeux Intellivision sortis
					par Mattel Electronics sont à 20Hz.
					<br> 
					Mattel forme les <em>Blue Sky Rangers</em> : les cinq membres originaux de cette équipe d'Intellivision sont Mike Minkoff, Rick Levine, John Sohl, Don
					Daglow et le manager Gabriel Baum. Levine et Minkoff, un vétéran de longue date de Mattel Toys, sont tous deux venus de l'équipe d'ingénieurs
					portables Mattel Games. La plupart des premiers jeux sont basés sur des concepts traditionnels du monde réel tels que les sports, en mettant l'accent
					sur le réalisme et la profondeur de jeu dans la technologie de l'époque.
					<br> 
					Les programmeurs, recherchant des crédits et des redevances sur les ventes, commencent à laisser tomber APH et Mattel Electronics pour créer des
					cartouches Intellivision à vendre à des éditeurs tiers. Certains programmeurs fondent ainsi
					<a href="../../glossary/companies.html#imagic" title="Imagic">Imagic</a> en 1981 et d'autres rejoignent
					<a href="../../glossary/companies.html#activision" title="Activision">Activision</a> et Atari à partir de 1982. Cheshire Engineering fait partie de
					ces créations avec notamment David Rolfe - auteur de l'Exec - et Tom Loughry, qui créent l'un des jeux Intellivision les plus populaires
					<a href="https://www.youtube.com/watch?v=SRtwlc_WJNM" title="Advanced Dungeons and Dragons">Advanced Dungeons and Dragons</a> et crée des jeux
					Intellivision pour Activision. Les développeurs Activision, Imagic et Coleco commencent à produire des cartouches Intellivision en 1982, suivi par
					<a href="../../glossary/companies.html#atari" title="Atari">Atari</a>,
					<a href="../../glossary/companies.html#parker" title="Parker Brothers">Parker Brothers</a>,
					<a href="../../glossary/companies.html#sega" title="Sega">Sega</a> et Interphase. Les développeurs tiers, n'ayant pas un accès légal aux connaissances
					Exec, contournent souvent le cadre pour créer des jeux Intellivision fluides de 30 Hz et 60 Hz tel que
					<a href="https://www.youtube.com/watch?v=laZSot_cxQU" title="The Dreadnaught Factor">The Dreadnaught Factor</a>. Le premier jeu Mattel Electronics
					Intellivision fonctionnant à 60 Hz est <a href="https://www.youtube.com/watch?v=nh8sLvOA6_Q" title="Master of the Universe">Master of the Universe</a>.
					<br> 
					Don Daglow est l'un des premiers programmeurs clés de Mattel et devient directeur du développement de jeux Intellivision par la suite. Daglow crée
					entre autres
				</p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=LaFkpKhOuyk" title="Utopia">Utopia</a>, un précurseur du genre Sim</li>
					<li>Avec Eddie Dombrower, la simulation de sport révolutionnaire
						<a href="https://www.youtube.com/watch?v=h-sWAnzggW4" title="World Series Major League Baseball">World Series Major League Baseball</a>
					</li>
					<li><a href="https://www.youtube.com/watch?v=6xsibO7X-iY" title="Tron Deadly Discs">Tron Deadly Discs</a></li>
					<li><a href="https://www.youtube.com/watch?v=IZPR0ZA7TjY" title="Shark">Shark!</a></li>
				</ul>
				<p>
					Après la fermeture de Mattel Electronics en 1984, leurs programmeurs continuent d'apporter des contributions importantes à l'industrie du jeu vidéo.
					Don Daglow et Eddie Dombrower bossent pour <a href="../../glossary/companies.html#ea" title="Electronic Arts">Electronic Arts</a> et créent
					<a href="https://www.youtube.com/watch?v=9s3Gq8d-X7o" title="Earl Weaver Baseball">Earl Weaver Baseball</a>. Don Daglow fonde par la suite les studios
					<a href="../../glossary/companies.html#storm" title="Stormfront Studios">Stormfront Studios</a>, Bill Fisher, Steve Roney et Mike Breen créent
					<a href="../../glossary/companies.html#quick" title="Quicksilver Software">Quicksilver Software</a> et David Warhol ouvre
					<a href="../../glossary/companies.html#realtime" title="Realtime Associates">Realtime Associates</a>.
				</p>

				<h2 id="intelII">Intellivision II</h2>
				<figure>
					<a href="../../../static/img/mattel/intellivision-II.png"><img src="../../../static/img/mattel/intellivision-II_mini.png" alt="Intellivision II"
						title="L'Intellivision II, victime du krach du jeu vidéo"></a>
				</figure>
				<h3>Victime du krach...</h3>
				<p>
					Printemps 1983, Mattel présente l'Intellivision II, conçue pour être peu coûteuse à fabriquer et à entretenir, avec un design mis à jour. Elle possède
					des cordons de manettes plus longs et détachables, offrant une sensation différente avec des boutons latéraux en plastique plutôt qu'en caoutchouc, et
					un clavier. Une différence fonctionnelle est l'ajout d'une entrée vidéo au port de cartouche pour prendre en charge le <em>System Changer</em>. Le
					System Changer est un périphérique Intellivision qui joue les cartouches Atari 2600 via l'Intellivision. Il dispose de deux ports de contrôleur
					compatibles avec les joysticks Atari. De plus, L'Intellivision II est rétro-compatible avec l'original.
					<br>
					Les nouvelles consoles de jeux — Colecovision, Atari 5200 et Vectrex — prennent les parts de marché de Mattel, et le krach des jeux vidéo commence à
					faire pression sur l'industrie toute entière. Des licenciements massifs se produisent chez Mattel en août 83, et l'Intellivision II, lancée à 130€,
					voit son prix divisé par deux. Mattel Electronics signale alors des pertes de 255 millions d'€. La division électronique de Mattel ferme début 1984,
					première grande victime du krach alors que les prototypes des versions III et IV sont à l'étude.
				</p>

				<h2 id="intelIII-IV">Intellivision III et IV</h2>
				<h3>Sa toute petite histoire...</h3>
				<p>
					Avec de nouvelles machines introduites par la concurrence en 1982, Mattel Marketing souhaite commercialiser un système amélioré. L'Intellivision III
					doit être ce système avec rétrocompatibilité. Son nouveau processeur et sa nouvelle puce graphique produisent le double de résolution avec plus de
					sprites et de couleurs. Elle existe dans le laboratoire avec un logiciel EXEC réécrit pour l'occasion, mais la console est annulée dans le courant de
					l'année 83.
					<br>
					Le groupe de Dave Chandler commence à concevoir la console de prochaine génération de Mattel en 1981 sous le nom de code <em>Decade</em> :
					l'Intellivision IV. Elle se base sur un processeur <em>Motorola MC68000 32 bits</em> et une puce d'interface graphique de 16 bits. Ce sont les
					spécifications requises pour la prise en charge d'une résolution haute performance. Cette machine aurait pu relancer Mattel Electronics sur le marché
					des années 90, mais la plupart des employés sont licenciés le 4 août 1983. C'est ce qui s'appelle être visionnaire !
				</p>
			</section>

			<section>
				<h2 id="vision">CreatiVision</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#vtech" title="V'Tech">V'Tech</a></li>
					<li>Fabricant : V'Tech</li>
					<li>Début de commercialisation : Europe - 1982</li>
					<li>Fin de production - 1986</li>
					<li>Ventes de la console (en unités) - NC</li>
					<li>Nombre de titres sortis - 18</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - NC</li>
					<li>V'Tech CreatiVision - <a href="https://www.youtube.com/watch?v=Ou1t1vb7SJc" title="V'Tech CreatiVision">Big G from SA</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/v-tech/creatiVision.jpg"><img src="../../../static/img/v-tech/creatiVision_mini.png" alt="Creati'Vision"
						title="La CreatiVision de V'Tech"></a>
				</figure>
				<h3>Son histoire rikiki...</h3>
				<p>
					La CreatiVision est un ordinateur hybride et une console de jeu vidéo commercialisée par V'Tech en 1982. L'unité hybride est similaire dans son
					concept à l'Intellivision et l'ordinateur Coleco Adam, qui anticipent tous la tendance des consoles à ressembler davantage à des ordinateurs bas de
					gamme. La CreatiVision est distribuée dans de nombreux pays européens, cependant l'aventure américaine s'est soldée par des ventes larmoyantes faute
					d'une communication efficace. La console possède deux joysticks qui, lorsqu'ils sont placés dans le compartiment situé sur le dessus, peuvent être
					utilisés comme clavier d'ordinateur. La CreatiVision a des interfaces pour un lecteur de cassettes, un clavier, un lecteur de disquette, un modem et
					une extension de mémoire à utiliser avec la cartouche.
				</p>
			</section>

			<section>
				<h2 id="cvision">ColecoVision</h2>
				<ul>
					<li>Concepteur : <a href="../../glossary/companies.html#coleco" title="Coleco">Coleco</a></li>
					<li>Fabricant : Coleco</li>
					<li>Début de commercialisation :
						<ul>
							<li>Etats-Unis - 1982</li>
							<li>France - 1983</li>
						</ul>
					</li>
					<li>Fin de production - 1985</li>
					<li>Ventes de la console (en unités) - 2 millions</li>
					<li>Nombre de titres sortis - 145</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=C_PrG8P5W8o" title="Donkey Kong">Donkey Kong</a></li>
					<li>ColecoVision - <a href="https://www.youtube.com/watch?v=zkIcY6qf6tY" title="ColecoVision">Edward</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/coleco/colecoVision.jpg"><img src="../../../static/img/coleco/colecoVision_mini.png" alt="ColecoVision"
						title="La ColecoVision sera la dernière de son espèce"></a>
					<a href="../../../static/img/coleco/colecoVision-expand2600.jpg"><img src="../../../static/img/coleco/colecoVision-expand2600_mini.png"
						alt="ColecoVision" title="L'extension Atari pour jouer au jeu de la 2600"></a>
				</figure>
				<h3>Encore une qui krach...</h3>
				<p>
					Sortie en août 1982 aux Etats-Unis, la ColecoVision a la particularité d'offrir une expérience proche des systèmes de jeux d'arcade bien plus
					puissant que l'Atari 2600 et 5200. Le catalogue initial de douze jeux comprend Donkey Kong de Nintendo en pack-in, l'excellent
					<a href="https://www.youtube.com/watch?v=LKalWCWjyRM" title="Zaxxon">Zaxxon</a> de Sega et d'autres titres d'arcade moins connus mais qui ont trouvé
					un public plus large sur la console, tels que <a href="https://www.youtube.com/watch?v=BOxShuL6Po4" title="Cosmic Avenger">Cosmic Avenger</a> et
					<a href="https://www.youtube.com/watch?v=osTKrmM8JKo" title="Venture">Venture</a>. Coleco commercialise également une série d'add-ons matériels et de
					contrôleurs spéciaux pour étendre les capacités de la console. Coleco vend plus de 500 000 unités en partie grâce au titre-phare "Donkey Kong".
					<br> 
					Le principal concurrent reste l'Atari 5200 - et son énorme succès... Non j'déconne ! -. En Europe, la console sort en juillet 83, près d'un an après
					la sortie aux US. Les ventes dépassent rapidement le million juste avant le krach. Les ventes trimestrielles de la ColecoVision diminuent
					considérablement au début de l'année 1984 et durant les 18 mois suivants, Coleco réduit sa division de jeux vidéo, se retirant finalement du marché
					à la fin de l'été 85. La ColecoVision est officiellement abandonnée en octobre. Le krach du jeu vidéo a finalement raison de cette petite
					merveille, comme tant d'autres sociétés de développement de consoles de salon, moins de trois ans après son lancement.
				</p>
			</section>

			<section>
				<h2 id="vec">Vectrex</h2>
				<ul>
					<li>Concepteur : John ROSS - Smith Engineering -</li>
					<li>Fabricant : <a href="../../glossary/companies.html#ge" title="General Consumer Electric">General Consumer Electric</a></li>
					<li>Début de commercialisation :
						<ul>
							<li>Japon - 1983</li>
							<li>Etats-Unis - 1982</li>
							<li>France - 1983</li>
						</ul>
					</li>
					<li>Fin de production - 1984</li>
					<li>Ventes de la console (en unités) - NC</li>
					<li>Nombre de titres sortis - NC</li>
					<li>Ventes de jeux - NC</li>
					<li>Meilleure vente de jeu - <a href="https://www.youtube.com/watch?v=kMwAlwT5110" title="Asteroïds">Asteroïds</a>,
												 <a href="https://www.youtube.com/watch?v=w2mb-ENbxxg" title="Space Wars">Space Wars</a>
					</li>
					<li>Vectrex - <a href="https://www.youtube.com/watch?v=C1EUJ-vsW44" title="Vectrex">Edward</a></li>
				</ul>
				<figure>
					<a href="../../../static/img/vectrex/vectrex.jpg"><img src="../../../static/img/vectrex/vectrex_mini.png" alt="Vectrex"
						title="La Vectrex, modèle bien différent de ses concurrents Atari et IntelliVision"></a>
					<a href="../../../static/img/vectrex/vectrex_machines.jpg"><img src="../../../static/img/vectrex/vectrex_machines_mini.jpg"
						alt="Consoles Vectrex avec ses filtres colorés" title="Les filtres de la Vectrex donnent une impression de jeux couleurs">
					</a>
				</figure>
				<h3>Sa petite histoire...</h3>
				<p>
					La Vectrex est une console de jeu à <a href="../../glossary/technicalTerms.html#vector" title="affichage vectoriel">affichage vectoriel</a>
					développée par Smith Engineering. Fabriquée à l'origine par <em>General Computer Electronics</em>, la Vectrex continue à être développée par Milton
					Bradley - Jeux MB - après l'acquisition de GCE, <a href="../../glossary/companies.html#bandai" title="Bandai">Bandai</a> ayant sorti le système au
					Japon.
					<br>
					Contrairement aux autres systèmes de jeux vidéo disponibles à l'époque, la Vectrex utilise un moniteur monochrome, capable d'afficher des graphiques
					vectoriels sans avoir besoin d'être connectée à un téléviseur - une image vectorielle est redimensionnable sans perte de qualité, contrairement à une
					image matricielle, comme les images SVG de nos jours -. Les jeux sont livrés avec des filtres de couleurs pour compenser l'écran monochrome un peu
					comme la Magnavox Odyssey utilisait des calques... en 1972 - lol je dis ! -. Un certain nombre de périphériques sont également produits, comme une
					paire de lunettes 3D connues sous le nom de <em>3D Imager</em>, à côté d'un stylo optique permettant à l'utilisateur de dessiner sur l'écran. Le
					système est également livré avec un jeu intégré, <a href="https://www.youtube.com/watch?v=oKl1ZuiVqMc" title="Mine Storm">Mine Storm</a>, jouable en
					l'absence d'une cartouche.
					<br>
					Initialement prévue pour vider les stocks excédentaires de moniteurs 1 pouce de Smith Engineering, la console est devenue la première incursion de
					Smith sur le marché des jeux vidéo. Elle est d'abord conçue comme un système portable appelé <em>Mini Arcade</em>. Une fois le prototype terminé et
					présenté à General Computer, la compagnie accepte de commercialiser la console. Les bonnes ventes initiales de la Vectrex attirent notamment l'intérêt
					de MB, entraînant l'acquisition de General Computer par Milton Bradley.
					<br>
					La Vectrex est victime du krach du jeu vidéo - une de plus - et est arrêtée peu de temps après l'acquisition de Milton Bradley par Hasbro. Malgré son
					échec commercial, la Vectrex est très appréciée pour sa bibliothèque de logiciels, ses capacités graphiques, l'utilisation d'un moniteur intégré,
					classée comme l'une des meilleures consoles de salon disponibles à l'époque et première console à disposer d'un périphérique basé sur la 3D. Une
					version portable colorisée de la Vectrex est conçue à la fin des années 80, cependant le coût de fabrication élevé du système et le succès de la
					Nintendo Game Boy l'amène à être abandonnée.
				</p>
			</section>

			<aside>
				<h2 id="sd070">Hanimex SD-070 Couleur</h2>
				<figure>
					<a href="../../../static/img/hanimex/hanimexSD070.jpg"><img src="../../../static/img/hanimex/hanimexSD070_mini.png" alt="SD-070"
						title="La méconnue Hanimex SD-070 couleur"></a>
				</figure>
				<p>Hanimex SD-070 - <a href="https://www.youtube.com/watch?v=tLmsDrc1iDQ" title="Hanimex SD-070">Steve Benway</a></p>
				<h3>Une brève histoire...</h3>
				<p>
					Hanimex est un distributeur australien fondé par Jack Hannes après la Seconde Guerre mondiale. Le nom est une contraction de
					<em>HANnes IMport et EXport</em> et importe des lentilles, des boîtiers et des accessoires européens et japonais. Hannes recherche des fournisseurs à
					bas prix mais les produits Hanimex ont mauvaise réputation auprès des utilisateurs. La SD-070 fait partie des toutes premières consoles de salon
					apparues sur le marché vidéo-ludique. Elle possède un support cartouches, dont une cartouche multi-jeux contenant "Pong", un jeu de football, un autre
					de hockey, un de basket-ball et, pour terminer, un jeu de tir inclut avec le pack. Il y a du son émis, pour être précis un seul son strident du genre
					le buzzer de ton alarme le matin. La SD-070 est produite pendant deux ans de 1982 à 1984.
				</p>

				<h2 id="rca">RCA Studio II</h2>
				<figure>
					<a href="../../../static/img/RCA/studio-II.jpg"><img src="../../../static/img/RCA/studio-II_mini.png" alt="RCA Studio II"
						title="La passagère RCA Studio II"></a>
				</figure>
				<p>RCA Studio II - <a href="https://www.youtube.com/watch?v=wB-gc2k7GPc" title="RCA Studio 2">Retro Game Living Room</a></p>
				<h3>Sa petite histoire...</h3>
				<p>
					À la fin des années 60, l'ingénieur de RCA, Joseph Weisbecker, commence à construire son propre ordinateur personnel et encourage l'entreprise à
					vendre de petits ordinateurs. RCA décide alors de tenter une incursion dans le secteur du jeu vidéo et présente la console Studio II en janvier 1977.
					Joyce Weisbecker, fille	du concepteur de la console, apprend à programmer l'ordinateur de son père quand elle est enfant. Elle utilise sa familiarité
					avec l'architecture pour créer <a href="https://www.youtube.com/watch?v=X7N-6aAHcMk" title="School House 1">School House I</a> et
					<a href="https://www.youtube.com/watch?v=sW_2bGYOwcw" title="Speedway">Speedway</a>, jeux pour la Studio II, devenant ainsi la première femme à
					développer un jeu vidéo commercial.
					<br>
					L'estimation des ventes de RCA pour la Studio II est d'environ 64 000 unités. Cette console, sortie après la Fairchild Channel F et l'Atari 2600, est
					bien en-dessous de la technologie proposée par ses deux concurrentes, distribuant de plus des jeux en noir et blanc alors que les autres systèmes
					offrent déjà la couleur. Pas de manettes non plus mais un système de clavier de dix boutons de part et d'autres de la machine causant des problèmes de
					sécurité si vous jouiez à deux - surtout au niveau de la boite cranienne -. RCA arrête de produire la console en février 78 en raison des faibles
					ventes.
				</p>

				<h2 id="gemini">Coleco Gemini</h2>
				<figure>
					<a href="../../../static/img/coleco/gemini.jpg"><img src="../../../static/img/coleco/gemini_mini.png" alt="Coleco Gemini"
						title="Coleco Gemini, clone de l'Atari 2600"></a>
				</figure>
				<p>Coleco Gemini - <a href="https://www.youtube.com/watch?v=7gH8qOmbKQ4" title="Coleco Gemini">Publicité</a></p>
				<h3>L'histoire petite...</h3>
				<p>
					Coleco intègre un module d'expansion dans sa ColecoVision en 1982, lui permettant de jouer avec les cartouches de l'Atari 2600. Bien évidemment,
					Atari riposte et intente un procès à Coleco. Procès dont Atari sera débouté, le juge ayant estimé que la technologie utilisée n'est pas le même
					composant d'origine que la 2600.  Coleco crée alors un clone de l'Atari 2600 : la Coleco Gemini. Ainsi en achetant une Coleco Gemini, vous jouiez avec
					des cartouches d'Atari 2600. Les différences entre les deux consoles se situent au niveau de la manette avec un joystick et un paddle sur la Gemini et
					une console plus compacte que la 2600 avec une façade en bois. Coleco inclue des titres avec l'achat de la console comme
				<p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=nI9WwdVb-_A" title="Donkey Kong">Donkey Kong</a></li>
					<li><a href="https://www.youtube.com/watch?v=owhaMLZkImw" title="Carnival">Carnival</a></li>
					<li><a href="https://www.youtube.com/watch?v=O7PK_tUrLLw" title="Front-Line">Front-Line</a></li>
					<li><a href="https://www.youtube.com/watch?v=pmoCS02PtqE" title="Mouse Trap">Mouse Trap</a></li>
				</ul>

				<h2 id="bally">Bally Astrocade</h2>
				<figure>
					<a href="../../../static/img/bally/astrocade.png"><img src="../../../static/img/bally/astrocade_mini.png" alt="Astrocade"
						title="La puissante Bally Astrocade"></a>
				</figure>
				<p>Bally Astrocade - <a href="https://www.youtube.com/watch?v=lfRq_O-B1GA" title="Bally Astrocade">Publicité</a></p>
				<h3>Sa petite histoire trankilou...</h3>
				<p>
					La Bally Astrocade est une console munie d'un système informatique simple conçu par une équipe de
					<a href="../../glossary/companies.html#midway" title="Midway">Midway</a>, à l'époque la division de jeux vidéo de Bally. Annoncée comme la
					<em>Bally Home Library Computer</em> en octobre 77, elle est commercialisée pour la vente par correspondance deux mois plus tard. Mais en raison de
					retards de production, les consoles sont distribuées en magasin cinq mois après, profitant au passage d'un nouveau nom : la
					<em>Bally Professional Arcade</em>.
					<br> 
					Deux ans après, Bally s'intéresse de moins en moins au marché de l'arcade et décide de vendre sa division 'Consumer Products', y compris le
					développement et la production de l'Astrocade. À cette même période, une société tierce tente sans succès leur propre conception de console à
					commercialiser sous le nom d'Astrovision. Un acheteur, en charge du système Bally, mit les deux groupes en contact et un accord en découla.
					<br>
					L'unité est rééditée en 1981 avec la cartouche BASIC inclue gratuitement, cette fois sous le nom de <em>Bally Computer System</em> et finalement en
					Astrocade. La console se vend jusqu'au krach du jeu vidéo de 1983, puis cesse d'être produite vers 1985. L'Astrocade est particulièrement remarquable
					pour ses capacités graphiques très puissantes mais particulièrement casse-tête pour les développeurs à programmer de nouveaux jeux sur cette machine.
				</p>

				<h2 id="vc4000">Interton Video Computer 4000</h2>
				<figure>
					<a href="../../../static/img/interton/vc4000.jpg"><img src="../../../static/img/interton/vc4000_mini.png" alt="VC-4000"
						title="La Video Computer 4000, très célèbre... en Allemagne"></a>
				</figure>
				<p>Interton VC-4000 - <a href="https://www.youtube.com/watch?v=5ozcJxFylek" title="Interton VC-4000">Game Garage</a></p>
				<h3>Sa fantômatique histoire...</h3>
				<p>
					L'Interton VC 4000 est une des premières consoles à base de cartouches ROM 8 bits. La console n'est pas connue en dehors de l'Allemagne, mais une
					multitude de systèmes compatibles avec les logiciels peuvent être trouvés dans de nombreux pays européens. La VC 4000 est le successeur de l'Interton
					Video 3001 - console clone de Pong -, commercialisée à partir de 1978 et abandonnée en 1983.
					<br> 
					On ne sait pas si Interton conçoit et produit l'Interton VC 4000 dans le cadre de ses propres droits, ou s'ils se sont vu vendre les droits de la
					concevoir et de la produire. En effet, de nombreuses autres marques étrangères ont produit des clones de ce système au cours des années précédentes.
					<br> 
					Les deux manettes contiennent un clavier à douze boutons, deux boutons de tir et un joystick. À l'intérieur du panneau de commande de la console
					existe quatre boutons différents : les interrupteurs ON/OFF, Reset, Select et Start. La VC-4000 voit 40 jeux sortir durant son existence.
				</p>

				<h2 id="cassette">Epoch Cassette Vision</h2>
				<figure>
					<a href="../../../static/img/epoch/cassette-Vision.jpg"><img src="../../../static/img/epoch/cassette-Vision_mini.png" alt="Cassette Vision"
						title="La Cassette Vision, très célèbre... au Japon"></a>
					<a href="../../../static/img/epoch/scv.jpg"><img src="../../../static/img/epoch/scv_mini.png" alt="Cassette Vision"
						title="La Super Cassette Vision concurrente (relative) de la Famicom de Nintendo"></a>
				</figure>	
				<p>Epoch Cassette Vision - <a href="https://www.youtube.com/watch?v=MaNbvyCluDw" title="Epoch Cassette Vision">Gaijillionnaire</a></p>
				<h3>Sa prestigieuse histoire... avant l'arrivée de Nintendo...</h3>
				<p>
					La Cassette Vision est une console fabriquée par <a href="../../glossary/companies.html#epoch" title="Epoch">Epoch</a> lancée au Japon en 1981. Elle
					est simplement la console de jeu vidéo la plus vendue chez les nippons avant l'arrivée de la SuperFamicom de Nintendo, Excusez du peu ! Elle occupe
					plus de 70% du marché japonais des consoles de salon avec environ 400 000 unités vendues.
					<br> 
					Le terme cassette est un synonyme japonais de cartouche ROM, à ne pas confondre avec le format de bande magnétique, comparable en terme de puissance à
					l'Atari 2600. La Cassette Vision ne possède pas de manettes, les quatre boutons sont intégrés dans la console elle-même, deux pour chaque joueur - un
					pour l'horizontale, un pour la verticale -. Un lightgun est aussi vendu comme accessoire. Au total, 11 jeux sortent sur cette console.
					<br>
					Cependant, l'introduction des systèmes de nouvelle génération de Nintendo, Casio et Sega fait rapidement de l'ombre à la Cassette Vision originale, ce
					qui conduit Epoch à développer rapidement un successeur. La <em>Super Cassette Vision</em> sort en 1984, avec un processeur 8 bits plus en lien avec
					ses concurrents et édite 30 jeux sur ce modèle. Elle est ensuite commercialisée en France par ITMC sous la marque 'Yeno' avec 16 jeux importés du
					Japon pour cette sortie européenne.
					<br> 
					Une version du système cible le marché des jeunes femmes, la <em>Super Lady Cassette Vision</em>. La console est vendue emballée dans un étui de
					transport rose, avec le jeu <a href="https://www.youtube.com/watch?v=Ikiw4y-kcEs" title="Milky Princess">Milky Princess</a>. La SCV ne décolle pas
					pour autant et surtout ne résiste pas à la montée en puissance de la Nintendo Famicom, ce qui conduit Epoch à abandonner le marché des consoles en
					1987.
				</p>

				<h2 id="arcade">Home Arcade</h2>
				<figure>
					<a href="../../../static/img/bandai/emerson-arcadia.png"><img src="../../../static/img/bandai/emerson-arcadia_mini.png" alt="Home Arcade"
						title="La Home Arcade, victime supplémentaire du krach"></a>
				</figure>
				<p>Home Arcade - <a href="https://www.youtube.com/watch?v=k40AfN64SEc" title="Home Arcade">ArcadeUSA</a></p>
				<h3>Son hist... Ha ! C'est déjà fini !..</h3>
				<p>
					La Home Arcade créée par Bandai est la version française de la console américaine Arcadia 2001. Sa sortie date de mars 1982 aux États-Unis, sort un an
					plus tard au Japon puis en France en août 1983. Les concurrentes de cette console sont l'Atari 5200 et l'Intellivision.
					<br>
					La Home Arcade est sortie dans d'autres pays sous différents noms
				</p>
				<ul>
					<li>Leonardo en Italie</li>
					<li>Leisure-Vision au Canada</li>
					<li>Hanimex HMG2650, Schmid TVG2000 et Tele-Fever en Allemagne</li>
				</ul>
				<p>
					La commercialisation de cette console n'a duré qu'un an, le Krach du jeu vidéo de 1983 précipitant sa chute. Le processeur de la Home Arcade est un
					<a href="../../glossary/technicalTerms.html#signetics" title="Signetics 2650">Signetics 2650</a>, le chipset graphique est, quand à lui, un
					Signetics 26362. La console contient 1 ko - 1024 bits - de mémoire vive impossible à comparer avec nos 16 gigas actuels. Elle peut afficher neuf
					couleurs et quatre sprites simultanément, avec une définition d'écran de 128x208 en monochrome ou en mode couleur. Un beeper produit le son de la
					machine dans le même style que l'Hanimex SD-070 - et c'est pas une référence... -. La console se branche sur une prise antenne ou via une prise
					Péritel et l'alimentation de 12V est externe. Cette console n'a pas vraiment eu de succès bien que vendue dans pas mal de pays.
				</p>
			</aside>
	</article>
</main>

	<footer>
		<p>
            &copy; 2021 - Lyasen - tous droits réservés
        </p>

        <h4>Mes sites recommandés :</h4>            
        <ul>
            <li>ActuGaming.net</li>
            <li>GameBlog</li>
            <li>Gamekult</li>
            <li>JeuxActu</li>
            <li>jeuxvideo.com</li>
            <li>YouTube</li>
        </ul>
        
        <p>
            <a href="mailto:consolStory@protonmail.com">Nous contacter</a>            
        </p>
	</footer>
</body>
</html>